openapi: 3.0.1
info:
  description: Criteo API - MarketingSolutions
  title: Criteo API
  version: Experimental
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Advertiser
- name: Analytics
- name: Audience
- name: Campaign
- name: Catalog
- name: Creative
- name: Gateway
- name: OnSiteRecommendation
- name: Reco
paths:
  /experimental/ads/{ad-id}/product-filter:
    delete:
      description: Disable product filtering for a given ad
      operationId: DisableProductFiltering
      parameters:
      - description: ID of the ad
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
          description: Successful operation
      security:
      - oauth:
        - MarketingSolutions_Reco_Manage
      summary: "/experimental/ads/{ad-id}/product-filter"
      tags:
      - Reco
      x-accepts: application/json
    get:
      description: Fetch product filtering configuration for a given ad
      operationId: FetchProductFilteringConfig
      parameters:
      - description: ID of the ad
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
          description: "Successful operation. Returns the product filtering configuration\
            \ if it exists, or empty data if it doesn't."
      security:
      - oauth:
        - MarketingSolutions_Reco_Read
      summary: "/experimental/ads/{ad-id}/product-filter"
      tags:
      - Reco
      x-accepts: application/json
    post:
      description: Enable product filtering for a given ad
      operationId: EnableProductFiltering
      parameters:
      - description: ID of the ad
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCreateProductFilterRequest'
        x-bodyName: createProductFilterRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfProductFilterConfig'
          description: successful operation
      security:
      - oauth:
        - MarketingSolutions_Reco_Manage
      summary: "/experimental/ads/{ad-id}/product-filter"
      tags:
      - Reco
      x-content-type: application/json
      x-accepts: application/json
  /experimental/ads/{id}:
    delete:
      description: Delete an Ad
      operationId: DeleteAd
      parameters:
      - description: The ad identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "204":
          description: The ad was deleted.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/ads/{id}"
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get an Ad with its id
      operationId: GetAd
      parameters:
      - description: The ad identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
          description: The found ad is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: "/experimental/ads/{id}"
      tags:
      - Creative
      x-accepts: application/json
  /experimental/advertisers/{advertiser-id}/ads:
    get:
      description: Get the list of self-services Ads for a given advertiser
      operationId: GetAdvertiserAds
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of ads to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of ads. The default
          is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfAd'
          description: The list of self-services Ads is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: "/experimental/advertisers/{advertiser-id}/ads"
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create an Ad
      operationId: CreateAdvertiserAd
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfAdWrite'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfAd'
          description: The created Ad is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/advertisers/{advertiser-id}/ads"
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /experimental/advertisers/{advertiser-id}/coupons:
    get:
      description: Get the list of self-services Coupons for a given advertiser
      operationId: GetAdvertiserCoupons
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of coupons to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of coupons. The default
          is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCoupon'
          description: The list of self-services Coupons is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: "/experimental/advertisers/{advertiser-id}/coupons"
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create a Coupon
      operationId: CreateAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreateCoupon'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The created Coupon is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/advertisers/{advertiser-id}/coupons"
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /experimental/advertisers/{advertiser-id}/coupons-supported-sizes:
    get:
      description: Get the list of Coupon supported sizes
      operationId: GetAdvertiserCouponSupportedSizes
      parameters:
      - description: The ad set id on which you want to check the Coupon supported
          sizes.
        explode: true
        in: query
        name: ad-set-id
        required: false
        schema:
          type: string
        style: form
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCouponSupportedSizes'
          description: The list of Coupon supported sizes is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: "/experimental/advertisers/{advertiser-id}/coupons-supported-sizes"
      tags:
      - Creative
      x-accepts: application/json
  /experimental/advertisers/{advertiser-id}/coupons/{id}:
    delete:
      description: Delete a Coupon
      operationId: DeleteAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The Coupon was deleted.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/advertisers/{advertiser-id}/coupons/{id}"
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get a Coupon with its id
      operationId: GetAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The found Coupon is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: "/experimental/advertisers/{advertiser-id}/coupons/{id}"
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: Edit a specific Coupon
      operationId: EditAdvertiserCoupon
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The Coupon identifier to edit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfUpdateCoupon'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCoupon'
          description: The edited Coupon is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/advertisers/{advertiser-id}/coupons/{id}"
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /experimental/advertisers/{advertiser-id}/coupons/{id}/preview:
    get:
      description: Get the preview of a specific Coupon
      operationId: GetAdvertiserCouponPreview
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The height of the coupon to preview.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The Coupon identifier to preview.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The width of the coupon to preview.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: string
          description: The preview HTML of a specific Coupon is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: "/experimental/advertisers/{advertiser-id}/coupons/{id}/preview"
      tags:
      - Creative
      x-accepts: application/json
  /experimental/advertisers/{advertiser-id}/creatives:
    get:
      description: Get the list of self-services Creatives for a given advertiser
      operationId: GetAdvertiserCreatives
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of creatives to be returned. The default is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of creatives. The
          default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollectionOutcomeOfCreativeRead'
          description: The list of self-services Creatives is returned.This list will
            contain creatives in draft status as well which will have some properties
            as null
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: "/experimental/advertisers/{advertiser-id}/creatives"
      tags:
      - Creative
      x-accepts: application/json
    post:
      description: Create a Creative
      operationId: CreateAdvertiserCreative
      parameters:
      - description: The advertiser identifier.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
        required: true
        x-bodyName: request
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The created creative is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/advertisers/{advertiser-id}/creatives"
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /experimental/advertisers/{advertiser-id}/datasets:
    get:
      description: Retrieves corresponding Datasets for a given Advertiser. Only those
        Datasets are included for which the given Advertiser is marked a primary.
      operationId: ListDatasetsByAdvertiser
      parameters:
      - description: The id of the Advertiser for which Datasets are being retrieved.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: dataset
                  id: "73550"
                  attributes:
                    name: Dataset 1
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/AdvertiserDatasetListResponse'
          description: Success
      security:
      - oauth: []
      summary: "/experimental/advertisers/{advertiser-id}/datasets"
      tags:
      - Advertiser
      x-accepts: application/json
  /experimental/advertisers/{advertiserId}/targeting/bundle-rules:
    delete:
      description: "Removes some bundles from the current list of targeted bundles\
        \ for a given advertiser.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: DeleteAdvertiserBundleRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to delete from the list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/advertisers/{advertiserId}/targeting/bundle-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: Returns a list of all targeted bundles for an advertiser.
      operationId: GetAdvertiserBundleRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: "/experimental/advertisers/{advertiserId}/targeting/bundle-rules"
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: "Inserts a list of targeted bundles for an advertiser and sets\
        \ the targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace\
        \ the current list if any."
      operationId: PostAdvertiserBundleRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Description of the targeting rule to setup
        required: true
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/advertisers/{advertiserId}/targeting/bundle-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Updates the targeted bundles for an advertiser by adding a list\
        \ of bundles to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: PutAdvertiserBundleRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to add to the existing list
        required: true
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/advertisers/{advertiserId}/targeting/bundle-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/advertisers/{advertiserId}/targeting/domain-rules:
    delete:
      description: "Removes some domains from the current list of targeted domains\
        \ for a given advertiser.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: DeleteAdvertiserDomainRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to delete from the list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/advertisers/{advertiserId}/targeting/domain-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: Returns a list of all targeted domains for an advertiser.
      operationId: GetAdvertiserDomainRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: "/experimental/advertisers/{advertiserId}/targeting/domain-rules"
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: "Inserts a list of targeted domains for an advertiser and sets\
        \ the targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace\
        \ the current list if any."
      operationId: PostAdvertiserDomainRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Description of the targeting rule to setup
        required: true
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/advertisers/{advertiserId}/targeting/domain-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Updates the targeted domains for an advertiser by adding a list\
        \ of domains to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: PutAdvertiserDomainRules
      parameters:
      - description: The advertiser id
        explode: false
        in: path
        name: advertiserId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to add to the existing list
        required: true
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/advertisers/{advertiserId}/targeting/domain-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/advertisers/me:
    get:
      description: Fetch the portfolio of Advertisers for this account
      operationId: ListAdvertisers
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: advertiser
                  id: "13"
                  attributes:
                    advertiserName: ClientName1
                - type: advertiser
                  id: "1352"
                  attributes:
                    advertiserName: ClientName2
                - type: advertiser
                  id: "73550"
                  attributes:
                    advertiserName: ClientName3
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/GetPortfolioResponse'
          description: Success
      security:
      - oauth: []
      summary: /experimental/advertisers/me
      tags:
      - Advertiser
      x-accepts: application/json
  /experimental/campaigns/{campaignId}/targeting/bundle-rules:
    delete:
      description: "Removes some bundles from the current list of targeted bundles\
        \ for a given campaign.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: DeleteCampaignBundleRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to delete from the list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/campaigns/{campaignId}/targeting/bundle-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: Returns a list of all targeted bundles for a campaign.
      operationId: GetCampaignBundleRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: "/experimental/campaigns/{campaignId}/targeting/bundle-rules"
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: "Inserts a list of targeted bundles for a campaign and sets the\
        \ targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace\
        \ the current list if any."
      operationId: PostCampaignBundleRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Description of the targeting rule to setup
        required: true
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/campaigns/{campaignId}/targeting/bundle-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Updates the targeted bundles for a campaign by adding a list of\
        \ bundles to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: PutCampaignBundleRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to add to the existing list
        required: true
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/campaigns/{campaignId}/targeting/bundle-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/campaigns/{campaignId}/targeting/domain-rules:
    delete:
      description: "Removes some domains from the current list of targeted domains\
        \ for a given campaign.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: DeleteCampaignDomainRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to delete from the list
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/campaigns/{campaignId}/targeting/domain-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    get:
      description: Returns a list of all targeted domains for a campaign.
      operationId: GetCampaignDomainRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: "/experimental/campaigns/{campaignId}/targeting/domain-rules"
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: "Inserts a list of targeted domains for a campaign and sets the\
        \ targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace\
        \ the current list if any."
      operationId: PostCampaignDomainRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Description of the targeting rule to setup
        required: true
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/campaigns/{campaignId}/targeting/domain-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Updates the targeted domains for a campaign by adding a list of\
        \ domains to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist)\
        \ cannot be updated through this method."
      operationId: PutCampaignDomainRules
      parameters:
      - description: The campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequestOfTargetingEntity'
        description: Contains the list of items to add to the existing list
        required: true
        x-bodyName: apiRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfTargetingEntity'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/campaigns/{campaignId}/targeting/domain-rules"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/catalog/products/batch:
    post:
      description: |-
        Used to publish a batch of operations to insert, update and deletes products.
         The batch is processed asynchronously.The response provides an operationToken which can be used to track
         the status of the report of the operation.
      operationId: SubmitCatalogProductsBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsCustomBatchRequest'
        required: true
        x-bodyName: body
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAcceptedResponse'
          description: Batch accepted. The status of the operation can be tracked
            using the report endpoint and the operationToken.
      security:
      - oauth:
        - MarketingSolutions_Catalog_Manage
      summary: /experimental/catalog/products/batch
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /experimental/catalog/products/batch/report/{operation-token}:
    get:
      description: Get the report of an asynchronous batch operation previously requested
      operationId: GetCatalogProductsBatchReport
      parameters:
      - description: The token returned by the batch endpoint.
        explode: false
        in: path
        name: operation-token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOkResponse'
          description: The report object
      security:
      - oauth:
        - MarketingSolutions_Catalog_Read
      summary: "/experimental/catalog/products/batch/report/{operation-token}"
      tags:
      - Catalog
      x-accepts: application/json
  /experimental/catalog/stats/merchants/{merchant-id}:
    get:
      description: get an stats request
      operationId: GetCatalogMerchantStats
      parameters:
      - description: the last number of hours
        explode: true
        in: query
        name: lastNumHours
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: merchant-id to get
        explode: false
        in: path
        name: merchant-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsOkResponse'
          description: The successful response of GET stats request
      security:
      - oauth:
        - MarketingSolutions_Catalog_Read
      summary: "/experimental/catalog/stats/merchants/{merchant-id}"
      tags:
      - Catalog
      x-accepts: application/json
  /experimental/categories/report:
    post:
      description: "With this endpoint you can analyse what are the categories of\
        \ the placements' domains your ads are placed in.\r\n<br/><br/>\r\nThis endpoint\
        \ supports data retrieval for up to three months in the past."
      operationId: GetCategoriesReport
      requestBody:
        content:
          application/json:
            example:
              data:
                type: GenerateCategoriesReport
                attributes:
                  advertiserIds:
                  - "123"
                  - "456"
                  - "789"
                  campaignId: "111"
                  adsetId: "135"
                  domain: example.com
                  category: Example
                  shouldDisplayDomainDimension: true
                  format: csv
                  timezone: Europe/Paris
                  startDate: 2024-01-01T00:00:00.0000000+00:00
                  endDate: 2024-01-04T00:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
          application/xml:
            example: "<ValueResourceInputOfGenerateCategoriesReportRequestAttributestukRIHCU\
              \ xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Resources\"\
              >\r\n  <Data>\r\n    <Attributes xmlns:d3p1=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages\"\
              >\r\n      <d3p1:EndDate>2024-01-04T00:00:00</d3p1:EndDate>\r\n    \
              \  <d3p1:StartDate>2024-01-01T00:00:00</d3p1:StartDate>\r\n      <d3p1:Format>csv</d3p1:Format>\r\
              \n      <d3p1:Timezone>Europe/Paris</d3p1:Timezone>\r\n      <d3p1:AdsetId>135</d3p1:AdsetId>\r\
              \n      <d3p1:AdvertiserIds xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"\
              >\r\n        <d4p1:string>123</d4p1:string>\r\n        <d4p1:string>456</d4p1:string>\r\
              \n        <d4p1:string>789</d4p1:string>\r\n      </d3p1:AdvertiserIds>\r\
              \n      <d3p1:CampaignId>111</d3p1:CampaignId>\r\n      <d3p1:Category>Example</d3p1:Category>\r\
              \n      <d3p1:Dimensions xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"\
              >\r\n        <d4p1:string>AdvertiserId</d4p1:string>\r\n        <d4p1:string>Category</d4p1:string>\r\
              \n        <d4p1:string>Domain</d4p1:string>\r\n      </d3p1:Dimensions>\r\
              \n      <d3p1:Domain>example.com</d3p1:Domain>\r\n      <d3p1:IsInternal>false</d3p1:IsInternal>\r\
              \n      <d3p1:Metrics xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"\
              >\r\n        <d4p1:string>Displays</d4p1:string>\r\n        <d4p1:string>Clicks</d4p1:string>\r\
              \n        <d4p1:string>SalesPc30d</d4p1:string>\r\n        <d4p1:string>SalesPv1d</d4p1:string>\r\
              \n      </d3p1:Metrics>\r\n      <d3p1:ShouldDisplayDomainDimension>true</d3p1:ShouldDisplayDomainDimension>\r\
              \n    </Attributes>\r\n    <Type>GenerateCategoriesReport</Type>\r\n\
              \  </Data>\r\n</ValueResourceInputOfGenerateCategoriesReportRequestAttributestukRIHCU>"
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
          text/xml:
            example: "<ValueResourceInputOfGenerateCategoriesReportRequestAttributestukRIHCU\
              \ xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Resources\"\
              >\r\n  <Data>\r\n    <Attributes xmlns:d3p1=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages\"\
              >\r\n      <d3p1:EndDate>2024-01-04T00:00:00</d3p1:EndDate>\r\n    \
              \  <d3p1:StartDate>2024-01-01T00:00:00</d3p1:StartDate>\r\n      <d3p1:Format>csv</d3p1:Format>\r\
              \n      <d3p1:Timezone>Europe/Paris</d3p1:Timezone>\r\n      <d3p1:AdsetId>135</d3p1:AdsetId>\r\
              \n      <d3p1:AdvertiserIds xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"\
              >\r\n        <d4p1:string>123</d4p1:string>\r\n        <d4p1:string>456</d4p1:string>\r\
              \n        <d4p1:string>789</d4p1:string>\r\n      </d3p1:AdvertiserIds>\r\
              \n      <d3p1:CampaignId>111</d3p1:CampaignId>\r\n      <d3p1:Category>Example</d3p1:Category>\r\
              \n      <d3p1:Dimensions xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"\
              >\r\n        <d4p1:string>AdvertiserId</d4p1:string>\r\n        <d4p1:string>Category</d4p1:string>\r\
              \n        <d4p1:string>Domain</d4p1:string>\r\n      </d3p1:Dimensions>\r\
              \n      <d3p1:Domain>example.com</d3p1:Domain>\r\n      <d3p1:IsInternal>false</d3p1:IsInternal>\r\
              \n      <d3p1:Metrics xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"\
              >\r\n        <d4p1:string>Displays</d4p1:string>\r\n        <d4p1:string>Clicks</d4p1:string>\r\
              \n        <d4p1:string>SalesPc30d</d4p1:string>\r\n        <d4p1:string>SalesPv1d</d4p1:string>\r\
              \n      </d3p1:Metrics>\r\n      <d3p1:ShouldDisplayDomainDimension>true</d3p1:ShouldDisplayDomainDimension>\r\
              \n    </Attributes>\r\n    <Type>GenerateCategoriesReport</Type>\r\n\
              \  </Data>\r\n</ValueResourceInputOfGenerateCategoriesReportRequestAttributestukRIHCU>"
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
          application/*+xml:
            example: "<ValueResourceInputOfGenerateCategoriesReportRequestAttributestukRIHCU\
              \ xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Resources\"\
              >\r\n  <Data>\r\n    <Attributes xmlns:d3p1=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages\"\
              >\r\n      <d3p1:EndDate>2024-01-04T00:00:00</d3p1:EndDate>\r\n    \
              \  <d3p1:StartDate>2024-01-01T00:00:00</d3p1:StartDate>\r\n      <d3p1:Format>csv</d3p1:Format>\r\
              \n      <d3p1:Timezone>Europe/Paris</d3p1:Timezone>\r\n      <d3p1:AdsetId>135</d3p1:AdsetId>\r\
              \n      <d3p1:AdvertiserIds xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"\
              >\r\n        <d4p1:string>123</d4p1:string>\r\n        <d4p1:string>456</d4p1:string>\r\
              \n        <d4p1:string>789</d4p1:string>\r\n      </d3p1:AdvertiserIds>\r\
              \n      <d3p1:CampaignId>111</d3p1:CampaignId>\r\n      <d3p1:Category>Example</d3p1:Category>\r\
              \n      <d3p1:Dimensions xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"\
              >\r\n        <d4p1:string>AdvertiserId</d4p1:string>\r\n        <d4p1:string>Category</d4p1:string>\r\
              \n        <d4p1:string>Domain</d4p1:string>\r\n      </d3p1:Dimensions>\r\
              \n      <d3p1:Domain>example.com</d3p1:Domain>\r\n      <d3p1:IsInternal>false</d3p1:IsInternal>\r\
              \n      <d3p1:Metrics xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"\
              >\r\n        <d4p1:string>Displays</d4p1:string>\r\n        <d4p1:string>Clicks</d4p1:string>\r\
              \n        <d4p1:string>SalesPc30d</d4p1:string>\r\n        <d4p1:string>SalesPv1d</d4p1:string>\r\
              \n      </d3p1:Metrics>\r\n      <d3p1:ShouldDisplayDomainDimension>true</d3p1:ShouldDisplayDomainDimension>\r\
              \n    </Attributes>\r\n    <Type>GenerateCategoriesReport</Type>\r\n\
              \  </Data>\r\n</ValueResourceInputOfGenerateCategoriesReportRequestAttributestukRIHCU>"
            schema:
              $ref: '#/components/schemas/GenerateCategoriesReportRequestAttributesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
            text/csv:
              schema:
                format: binary
                type: string
            text/xml:
              schema:
                format: binary
                type: string
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                format: binary
                type: string
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Analytics_Read
      summary: /experimental/categories/report
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/creatives/{id}:
    delete:
      description: Delete a Creative if there are no ads binded to it
      operationId: DeleteCreative
      parameters:
      - description: The creative identifier to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The creative was deleted.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/creatives/{id}"
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Get a Creative with its id
      operationId: GetCreative
      parameters:
      - description: The creative identifier to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The found creative is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: "/experimental/creatives/{id}"
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: Edit a specific Creative
      operationId: EditCreative
      parameters:
      - description: The creative identifier to edit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceInputOfCreativeWrite'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcomeOfCreative'
          description: The edited creative is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/creatives/{id}"
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /experimental/creatives/{id}/preview:
    post:
      description: Get the preview of a specific Creative
      operationId: GenerateCreativePreview
      parameters:
      - description: The height of the Creative to preview.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The Creative identifier to preview.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The width of the Creative to preview.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: string
          description: The preview HTML of a specific Creative is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/creatives/{id}/preview"
      tags:
      - Creative
      x-accepts: application/json
  /experimental/industries:
    get:
      description: Returns the list of available industries for new advertisers.
      operationId: ListIndustries
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - type: industry
                  id: "13"
                - type: industry
                  id: "1352"
                - type: industry
                  id: "73550"
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/ListAvailableIndustriesResponse'
          description: Success
      security:
      - oauth: []
      summary: /experimental/industries
      tags:
      - Advertiser
      x-accepts: application/json
  /experimental/log-level/advertisers/{advertiser-id}/report:
    post:
      description: This Statistics endpoint provides publisher data.
      operationId: GetTransparencyReport
      parameters:
      - description: The advertiser ID to fetch the transparency data for. The advertiser
          must already exist. Must be greater than 0.
        explode: false
        in: path
        name: advertiser-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              shouldDisplayProductIds: false
              startDate: 2024-01-01T00:00:00.0000000+00:00
              endDate: 2024-01-04T00:00:00.0000000+00:00
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/xml:
            example: "<TransparencyQueryMessage xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"\
              \ xmlns=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages\"\
              >\r\n  <EndDate>2024-01-04T00:00:00</EndDate>\r\n  <StartDate>2024-01-01T00:00:00</StartDate>\r\
              \n  <ShouldDisplayProductIds>false</ShouldDisplayProductIds>\r\n</TransparencyQueryMessage>"
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          text/xml:
            example: "<TransparencyQueryMessage xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"\
              \ xmlns=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages\"\
              >\r\n  <EndDate>2024-01-04T00:00:00</EndDate>\r\n  <StartDate>2024-01-01T00:00:00</StartDate>\r\
              \n  <ShouldDisplayProductIds>false</ShouldDisplayProductIds>\r\n</TransparencyQueryMessage>"
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
          application/*+xml:
            example: "<TransparencyQueryMessage xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"\
              \ xmlns=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages\"\
              >\r\n  <EndDate>2024-01-04T00:00:00</EndDate>\r\n  <StartDate>2024-01-01T00:00:00</StartDate>\r\
              \n  <ShouldDisplayProductIds>false</ShouldDisplayProductIds>\r\n</TransparencyQueryMessage>"
            schema:
              $ref: '#/components/schemas/TransparencyQueryMessage'
        description: The query message.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/TransparencyReportListResponse'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Analytics_Read
      summary: "/experimental/log-level/advertisers/{advertiser-id}/report"
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets:
    patch:
      description: Patch a list of AdSets.
      operationId: PatchAdSets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSetV26Q1'
        description: List of adsets to patch.
        required: true
        x-bodyName: adSets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetIdV26Q1'
          description: Patched attributes for adSets specified in the request.
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: /experimental/marketing-solutions/ad-sets
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Create an ad set with the provided parameters
      operationId: CreateAdSet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdSetV26Q1Request'
        description: the ad sets to create
        required: true
        x-bodyName: adSet
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSetV26Q1'
          description: The ad set that has been created and errors / warnings
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: /experimental/marketing-solutions/ad-sets
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/{ad-set-id}:
    get:
      description: Get the data for the specified ad set
      operationId: GetAdSet
      parameters:
      - description: Id of the ad set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSetV26Q1'
          description: data for the ad set
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}"
      tags:
      - Campaign
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/{ad-set-id}/audience:
    put:
      description: Link or unlink an audience with an ad set
      operationId: UpdateAdSetAudience
      parameters:
      - description: The ad set ID.
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetAudienceLinkInputEntityV1'
        description: Ad set-Audience update request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetAudienceLinkEntityV1Response'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/audience"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/{ad-set-id}/category-bids:
    get:
      description: Get the Category Bids for all valid Categories associated to an
        Ad Set
      operationId: GetAdSetCategoryBids
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
          description: List of Category Bids for all valid Categories associated to
            an Ad Set.
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/category-bids"
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: "Update the Category Bids for given Categories associated to an\
        \ Ad Set\r\nPatch Category Bids for one or more Categories in a single request.\
        \ Partial success policy is followed."
      operationId: PatchAdSetCategoryBids
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
        description: Collection of category bids to update
        required: true
        x-bodyName: categoryBidsToUpdate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
          description: "List of updated Category Bids for given Categories associated\
            \ to an Ad Set, used for partial successes as well."
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/category-bids"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers:
    get:
      description: Get the Display Multipliers for all valid Categories associated
        to an Ad Set
      operationId: GetDisplayMultipliers
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
          description: List of Display Multipliers for all valid Categories associated
            to an Ad Set.
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers"
      tags:
      - Campaign
      x-accepts: application/json
    patch:
      description: "Update the Display Multipliers for given Categories associated\
        \ to an Ad Set\r\nPatch Display Multipliers for one or more Categories in\
        \ a single request. Partial success policy is followed."
      operationId: PatchDisplayMultipliers
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
        description: List of display multiplier values to change
        required: true
        x-bodyName: displayMultipliersToUpdate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
          description: List of updated Display Multipliers for given Categories associated
            to an Ad Set. Make sure to check the error field in the response since
            a partial success will result in a 200 response code.
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/{ad-set-id}/targeting/deal-ids:
    get:
      description: Get the Deal Id Targeting configuration for the ad set whose id
        is specified
      operationId: GetAdSetTargetingDealIds
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetTargetingDealIdsResponse'
          description: the Deal Id Targeting configuration
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/targeting/deal-ids"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Set the Deal Id Targeting configuration for the ad set whose id
        is specified
      operationId: SetAdSetTargetingDealIds
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAdSetTargetingDealIdsRequest'
        description: the new Deal Id Targeting configuration
        required: true
        x-bodyName: adSetDealIdTargetings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetTargetingDealIdsSetResultResponse'
          description: the errors/warnings if any
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/targeting/deal-ids"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/{ad-set-id}/targeting/deal-ids/disable:
    post:
      description: Disable the Deal Id Targeting configuration for the ad set whose
        id is specified
      operationId: DisableAdSetTargetingDealIds
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetTargetingDealIdsDisableResultResponse'
          description: the errors/warnings if any
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/targeting/deal-ids/disable"
      tags:
      - Campaign
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/{ad-set-id}/targeting/video-positioning:
    get:
      description: Get the Video Positioning Targeting configuration for the ad set
        whose id is specified
      operationId: GetAdSetTargetingVideoPositioning
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetTargetingVideoPositioningResponse'
          description: the Video Positioning Targeting configuration
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/targeting/video-positioning"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Set the Video Positioning Targeting configuration for the ad set
        whose id is specified
      operationId: SetAdSetTargetingVideoPositioning
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAdSetTargetingVideoPositioningRequest'
        description: the new Video Positioning Targeting configuration
        required: true
        x-bodyName: adSetTargetingVideoPositioning
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetTargetingVideoPositioningSetResultResponse'
          description: the errors/warnings if any
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/targeting/video-positioning"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/{ad-set-id}/targeting/video-positionings/disable:
    post:
      description: Disable the Video Positioning Targeting configuration for the ad
        set whose id is specified
      operationId: DisableAdSetTargetingVideoPositioning
      parameters:
      - description: Id of the Ad Set
        explode: false
        in: path
        name: ad-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetTargetingVideoPositioningDisableResultResponse'
          description: the errors/warnings if any
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: "/experimental/marketing-solutions/ad-sets/{ad-set-id}/targeting/video-positionings/disable"
      tags:
      - Campaign
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/search:
    post:
      description: "Search for ad sets based on provided criteria.\r\nThis returns\
        \ the full configuration of ad sets matching those criteria.\r\nField projection\
        \ can be used if only a subset of fields is required, instead of the full\
        \ configuration.\r\n            \r\nIf specific fields are precised in the\
        \ user prompt, use meta.fields field projection in order to query only the\
        \ value of these fields, else, provide every field."
      operationId: SearchAdSets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetSearchRequestV26Q1'
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSetV26Q1'
          description: data for the ad sets
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: /experimental/marketing-solutions/ad-sets/search
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/start:
    post:
      description: Start the specified list of ad sets
      operationId: StartAdSets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to start
        x-bodyName: adSets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been started and errors / warnings
            by ad set
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: /experimental/marketing-solutions/ad-sets/start
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/stop:
    post:
      description: Stop the specified list of ad sets
      operationId: StopAdSets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        description: All the ad sets to stop
        x-bodyName: adSets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
          description: List of ad sets that have been stopped and errors / warnings
            by ad set
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
      summary: /experimental/marketing-solutions/ad-sets/stop
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ad-sets/targeting/supply-vendors:
    get:
      description: Fetch the list of available supply vendors for any Ad Set targetings
      operationId: GetSupplyVendorList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyVendorListResponse'
          description: the errors/warnings if any
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
      summary: /experimental/marketing-solutions/ad-sets/targeting/supply-vendors
      tags:
      - Campaign
      x-accepts: application/json
  /experimental/marketing-solutions/ads/{ad-id}/audience-segment:
    delete:
      description: Delete the link between an Ad and an Audience Segment.
      operationId: DeleteAdSegmentLink
      parameters:
      - description: The ad identifier.
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "204":
          description: The link between the ad and its audience segment has been deleted.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/marketing-solutions/ads/{ad-id}/audience-segment"
      tags:
      - Creative
      x-accepts: application/json
    get:
      description: Retrieve the Ad audience segment link.
      operationId: GetAdSegmentLink
      parameters:
      - description: The ad identifier.
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfExamAdAudienceSegmentLink'
          description: The found ad audience segment link is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: "/experimental/marketing-solutions/ads/{ad-id}/audience-segment"
      tags:
      - Creative
      x-accepts: application/json
    put:
      description: "Link an Ad with an Audience Segment. If a link already exists,\
        \ its segment ID will be updated."
      operationId: LinkAdSegment
      parameters:
      - description: The ad identifier.
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExamAdAudienceSegmentLinkInput'
        description: The audience segment link information.
        required: true
        x-bodyName: input
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfExamAdAudienceSegmentLink'
          description: The link between the Ad and the Audience Segment is returned.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: "/experimental/marketing-solutions/ads/{ad-id}/audience-segment"
      tags:
      - Creative
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/ads/{ad-id}/product-boost:
    get:
      description: Fetch all boosting associations and configurations
      operationId: FetchBoostedAdAssociations
      parameters:
      - description: ID of the ad
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfBoostedAdProductSet'
          description: successful operation
      security:
      - oauth:
        - MarketingSolutions_Reco_Read
      summary: "/experimental/marketing-solutions/ads/{ad-id}/product-boost"
      tags:
      - Reco
      x-accepts: application/json
  /experimental/marketing-solutions/ads/{ad-id}/product-boost/{product-set-id}:
    delete:
      description: Delete association and configuration.
      operationId: DeleteBoostedAdAssociation
      parameters:
      - description: ID of the ad
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the product set
        explode: false
        in: path
        name: product-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfBoostedAdProductSet'
          description: successful operation
      security:
      - oauth:
        - MarketingSolutions_Reco_Manage
      summary: "/experimental/marketing-solutions/ads/{ad-id}/product-boost/{product-set-id}"
      tags:
      - Reco
      x-accepts: application/json
    get:
      description: Fetch boosting association and configuration
      operationId: FetchBoostedAdAssociation
      parameters:
      - description: ID of the ad
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the product set
        explode: false
        in: path
        name: product-set-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfBoostedAdProductSet'
          description: successful operation
      security:
      - oauth:
        - MarketingSolutions_Reco_Read
      summary: "/experimental/marketing-solutions/ads/{ad-id}/product-boost/{product-set-id}"
      tags:
      - Reco
      x-accepts: application/json
    post:
      description: Create or update product boosting configuration
      operationId: CreateBoostedAdAssociation
      parameters:
      - description: ID of the ad
        explode: false
        in: path
        name: ad-id
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the product set
        explode: false
        in: path
        name: product-set-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfBoostingConfigurationRequest'
        x-bodyName: boostedAdProductSetAssociationRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfBoostedAdProductSet'
          description: successful operation
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfBoostedAdProductSet'
          description: successful operation
      security:
      - oauth:
        - MarketingSolutions_Reco_Manage
      summary: "/experimental/marketing-solutions/ads/{ad-id}/product-boost/{product-set-id}"
      tags:
      - Reco
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audience-segments:
    patch:
      description: "Updates the properties of all segments with a valid configuration,\
        \ and returns their IDs. For those that cannot be updated, one or multiple\
        \ errors are returned."
      operationId: UpdateAudienceSegments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkUpdateInputV1'
        description: Segment Update request
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: /experimental/marketing-solutions/audience-segments
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audience-segments/{audience-segment-id}/contact-list:
    delete:
      description: Delete all identifiers from a contact list audience-segment.
      operationId: DeleteContactListByAudienceSegment
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  id: "1"
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/DeleteAudienceContactListResponse'
          description: The Contact List was emptied
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: "/experimental/marketing-solutions/audience-segments/{audience-segment-id}/contact-list"
      tags:
      - Audience
      x-accepts: application/json
    patch:
      description: Add/remove identifiers to or from a contact list audience-segment.
      operationId: UpdateContactListByAudienceSegment
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: "/experimental/marketing-solutions/audience-segments/{audience-segment-id}/contact-list"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audience-segments/{audience-segment-id}/contact-list/statistics:
    get:
      description: Returns the statistics of a contact list segment.
      operationId: GetAudienceSegmentContactListStatistics
      parameters:
      - description: The segment ID.
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListStatisticsEntityV1Response'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Read
      summary: "/experimental/marketing-solutions/audience-segments/{audience-segment-id}/contact-list/statistics"
      tags:
      - Audience
      x-accepts: application/json
  /experimental/marketing-solutions/audience-segments/compute-sizes:
    post:
      description: Gets the size of all segments. An error is returned for those whose
        size calculation is not supported.
      operationId: ComputeAudienceSegmentsSizes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentComputeSizesInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentSizeEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: /experimental/marketing-solutions/audience-segments/compute-sizes
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audience-segments/create:
    post:
      description: "Creates all segments with a valid configuration, and returns their\
        \ IDs. For those that cannot be created, one or multiple errors are returned."
      operationId: CreateAudienceSegments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkCreateInputV1'
        description: Segment creation parameter
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: /experimental/marketing-solutions/audience-segments/create
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audience-segments/delete:
    post:
      description: Delete the segments associated to the given audience IDs.
      operationId: DeleteAudienceSegments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentBulkDeleteInputV1'
        description: Segment delete request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentIdEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: /experimental/marketing-solutions/audience-segments/delete
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audience-segments/estimate-size:
    post:
      description: Gets the size estimation of a non existent segment. An error is
        returned when size calculation is not supported.
      operationId: EstimateAudienceSegmentsSizes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentEstimateSizeInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentSizeEstimationV1Response'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: /experimental/marketing-solutions/audience-segments/estimate-size
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audience-segments/in-market-brands:
    get:
      description: Returns a list with all available in-market brands that can be
        used to define an in-market segment.
      operationId: GetAudienceSegmentsInMarketBrands
      parameters:
      - description: The advertiser ID.
        explode: true
        in: query
        name: advertiser-id
        required: true
        schema:
          type: string
        style: form
      - description: The ISO 3166-1 alpha-2 country code.
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMarketAudienceSegmentBrandEntityV1ListResponse'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Read
      summary: /experimental/marketing-solutions/audience-segments/in-market-brands
      tags:
      - Audience
      x-accepts: application/json
  /experimental/marketing-solutions/audience-segments/in-market-interests:
    get:
      description: Returns a list with all available in-market interests that can
        be used to define an in-market segment. These in-market interests correspond
        to the Google product taxonomy.
      operationId: GetAudienceSegmentsInMarketInterests
      parameters:
      - description: The advertiser ID.
        explode: true
        in: query
        name: advertiser-id
        required: true
        schema:
          type: string
        style: form
      - description: The ISO 3166-1 alpha-2 country code.
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InMarketAudienceSegmentInterestEntityV1ListResponse'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Read
      summary: /experimental/marketing-solutions/audience-segments/in-market-interests
      tags:
      - Audience
      x-accepts: application/json
  /experimental/marketing-solutions/audience-segments/search:
    post:
      description: "Returns a list of segments that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: SearchAudienceSegments
      parameters:
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 100.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentSearchInputV1'
        description: Segment search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentEntityV1AudienceSegmentSearchMetadataV1ListResponse'
          description: Success
      security:
      - oauth:
        - MarketingSolutions_Audience_Read
      summary: /experimental/marketing-solutions/audience-segments/search
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audiences:
    patch:
      description: "Updates the properties of all audiences with a valid configuration,\
        \ and returns their IDs. For those that cannot be updated, one or multiple\
        \ errors are returned."
      operationId: UpdateAudiences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkUpdateInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: /experimental/marketing-solutions/audiences
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audiences/{audience-id}/contactlist-attributes:
    patch:
      description: Add/remove identifiers to or from a contact list.
      operationId: ModifyAudienceUsersWithAttributes
      parameters:
      - description: The id of the contact list audience-segment to amend
        explode: false
        in: path
        name: audience-id
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactlistWithAttributesAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: 2018-12-10T10:00:50.0000000+00:00
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings: []
              schema:
                $ref: '#/components/schemas/ModifyAudienceResponse'
          description: Summary of created request
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: "/experimental/marketing-solutions/audiences/{audience-id}/contactlist-attributes"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audiences/compute-sizes:
    post:
      description: Gets the size of all audiences. An error is returned for those
        whose size calculation is not supported.
      operationId: ComputeAudiencesSizes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceComputeSizesInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSizeEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: /experimental/marketing-solutions/audiences/compute-sizes
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/marketing-solutions/audiences/create:
    post:
      description: "Creates all audiences with a valid configuration, and returns\
        \ their IDs. For those that cannot be created, one or multiple errors are\
        \ returned."
      operationId: CreateAudiences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceBulkCreateInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
[...]
