buildscript {
    repositories {
        mavenCentral()
        jcenter()
    }
}

plugins {
    id 'idea'
    id 'eclipse'
    id 'java'
    id 'java-library'
    id 'maven-publish'
    id 'signing'
    id "io.github.gradle-nexus.publish-plugin" version "1.1.0"
}

if (JavaVersion.current().isJava8Compatible()) {
    // Suppress the many Javadoc warnings that we would otherwise get from the generated code
    tasks.withType(Javadoc) {
        options.addBooleanOption('Xdoclint:none', true)
    }
}

group = '{{groupId}}'
version = '{{artifactVersion}}'

repositories {
    jcenter()
}
{{#sourceFolder}}
sourceSets {
    main.java.srcDirs = ['{{sourceFolder}}']
}
{{/sourceFolder}}

sourceCompatibility = JavaVersion.VERSION_1_8
targetCompatibility = JavaVersion.VERSION_1_8

dependencies {
    implementation 'io.swagger:swagger-annotations:1.6.8'
    implementation 'com.google.code.findbugs:jsr305:3.0.2'
    implementation 'com.google.code.gson:gson:2.9.1'
    implementation 'io.gsonfire:gson-fire:1.8.5'
    implementation 'com.squareup.okhttp3:okhttp:4.10.0'
    implementation 'com.squareup.okhttp3:logging-interceptor:4.10.0'
    implementation  group: 'org.apache.oltu.oauth2', name: 'org.apache.oltu.oauth2.client', version: '1.0.2'
    testImplementation "junit:junit:$junit_version"
}

task sourcesJar(type: Jar) {
    from sourceSets.main.allJava
    archiveClassifier = 'sources'
}

javadoc {
    options.encoding = 'UTF-8'
    options.tags = [ "http.response.details:a:Http Response Details" ]
}

task javadocJar(type: Jar) {
    from javadoc
    archiveClassifier = 'javadoc'
}

publishing {
    publications {
        mavenJava(MavenPublication) {
            groupId '{{groupId}}'
            artifactId '{{artifactId}}'
            version '{{artifactVersion}}'
            from components.java
            artifact sourcesJar
            artifact javadocJar

            pom {
                packaging = 'jar'
                name = '{{groupId}}:{{artifactId}}'
                description = '{{artifactDescription}}'
                url = '{{artifactUrl}}'
                licenses {
                    license {
                        name = '{{licenseName}}'
                        url = '{{licenseUrl}}'
                    }
                }
                developers {
                    developer {
                        name = '{{developerName}}'
                        email = '{{developerEmail}}'
                        url = '{{developerOrganizationUrl}}'
                        organization = '{{developerOrganization}}'
                        organizationUrl = '{{developerOrganizationUrl}}'
                    }
                }
                scm {
                    connection = '{{scmConnection}}'
                    developerConnection = '{{scmDeveloperConnection}}'
                    url = '{{scmUrl}}'
                }
            }
        }
    }
}

signing {
    def signingKey = System.getenv("MAVEN_SECRING_GPG_BASE64")
    def signingPassword = System.getenv("MAVEN_SECRING_PASSWORD")
    useInMemoryPgpKeys(signingKey, signingPassword)
    sign publishing.publications.mavenJava
}

nexusPublishing {
    packageGroup = '{{groupId}}'
    repositories {
        sonatype {
            username = "criteo-oss"
            password = System.getenv("SONATYPE_PASSWORD")
        }
    }

    transitionCheckOptions {
        maxRetries.set(50)
        delayBetween.set(java.time.Duration.ofMillis(3000))
    }
}