import org.junit.After;
import org.junit.Before;
import org.junit.Test;

import static org.junit.Assert.*;

import {{invokerPackage}}.ApiClient;
import {{invokerPackage}}.ApiException;
import {{invokerPackage}}.Configuration;
import {{invokerPackage}}.api.AdvertiserApi;
import {{invokerPackage}}.ApiResponse;
import {{invokerPackage}}.model.GetPortfolioResponse;

public class E2eTest {
    private ApiClient client;

    @Before
    public void setUp() {
    }

    @Test
    public void testCallUnauthenticatedEndpoint() throws Exception {
        
    }
 
    @Test
    public void testGetPortfolio() throws ApiException {
        ApiClient client = Configuration.getDefaultApiClient();
        client.setUsername("44e3c39ad28848d5a9ddb72158683a4b");
        client.setPassword("fwAf1MdvQ1gRnBhC4oESTXJPoJ4PMtoeFB9GUbvQTC+h");

        AdvertiserApi apiInstance = new AdvertiserApi(client);
 
        ApiResponse<GetPortfolioResponse> apiResponse = apiInstance.apiPortfolioGetWithHttpInfo();
 
        int statusCode = apiResponse.getStatusCode();
        GetPortfolioResponse data = apiResponse.getData();
 
        assertEquals(200, statusCode);
        // This might need to be updated in case the portfolio is not empty
        assertEquals(0, data.getData().size());

    }
}
