package com.criteo.marketing.examples;

import {{invokerPackage}}.ApiClient;
import {{invokerPackage}}.ApiClientBuilder;
import {{invokerPackage}}.ApiException;
import {{invokerPackage}}.Configuration;
import {{apiPackage}}.AdvertiserApi;
import {{modelPackage}}.GetPortfolioResponse;


public class PortfolioApplication {
    public static void main(String[] args) {
        
        String clientId = "client-id";
        String clientSecret = "client-secret";

        ApiClient client = ApiClientBuilder.ForClientCredentials(clientId, clientSecret);

        // Uncomment the following line to enable debugging logs.
        // client.setDebugging(true);

        AdvertiserApi myApi = new AdvertiserApi(client);
        try {
            GetPortfolioResponse response = myApi.apiPortfolioGet();
        } catch (ApiException e) {
            System.out.println(e.getCode());
            System.out.println(e.getResponseBody());
        }
    }
}
