{
  "openapi": "3.0.1",
  "info": {
    "title": "Criteo API",
    "description": "Criteo API - MarketingSolutions",
    "version": "2025-07"
  },
  "servers": [
    {
      "url": "https://api.criteo.com"
    }
  ],
  "paths": {
    "/2025-07/advertisers/me": {
      "get": {
        "tags": [
          "Advertiser"
        ],
        "description": "Fetch the portfolio of Advertisers for this account",
        "operationId": "ApiPortfolioGet",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortfolioResponse"
                },
                "example": {
                  "data": [
                    {
                      "type": "advertiser",
                      "id": "13",
                      "attributes": {
                        "advertiserName": "ClientName1"
                      }
                    },
                    {
                      "type": "advertiser",
                      "id": "1352",
                      "attributes": {
                        "advertiserName": "ClientName2"
                      }
                    },
                    {
                      "type": "advertiser",
                      "id": "73550",
                      "attributes": {
                        "advertiserName": "ClientName3"
                      }
                    }
                  ],
                  "errors": [ ],
                  "warnings": [ ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [ ]
          }
        ]
      }
    },
    "/2025-07/audiences/{audience-segment-id}/contactlist": {
      "delete": {
        "tags": [
          "Audience"
        ],
        "description": "Delete all identifiers from a contact list audience-segment.",
        "responses": {
          "200": {
            "description": "The Contact List was emptied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAudienceContactListResponse"
                },
                "example": {
                  "data": {
                    "id": "1",
                    "type": "AudienceContactlist"
                  },
                  "errors": [ ],
                  "warnings": [
                    {
                      "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                      "type": "deprecation",
                      "code": "deprecated-field",
                      "instance": "/audiences/314195",
                      "title": "'nbValidIds' is deprecated",
                      "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Audience"
        ],
        "description": "Add/remove identifiers to or from a contact list audience-segment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactlistAmendmentRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "body"
        },
        "responses": {
          "200": {
            "description": "Summary of created request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModifyAudienceResponse"
                },
                "example": {
                  "data": {
                    "type": "ContactlistAmendment",
                    "attributes": {
                      "contactListId": 12,
                      "operation": "add",
                      "requestDate": "2018-12-10T10:00:50.0000000+00:00",
                      "identifierType": "madid",
                      "nbValidIdentifiers": 7343,
                      "nbInvalidIdentifiers": 13,
                      "sampleInvalidIdentifiers": [
                        "InvalidIdentifier"
                      ]
                    }
                  },
                  "errors": [ ],
                  "warnings": [
                    {
                      "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                      "type": "deprecation",
                      "code": "deprecated-field",
                      "instance": "/audiences/314195",
                      "title": "'nbValidIds' is deprecated",
                      "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "audience-segment-id",
          "in": "path",
          "description": "The id of the contact list audience-segment to amend",
          "required": true,
          "style": "simple",
          "schema": {
            "type": "string",
            "format": "int32"
          }
        }
      ]
    },
    "/2025-07/log-level/advertisers/{advertiser-id}/report": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "This Statistics endpoint provides publisher data.",
        "operationId": "GetTransparencyReport",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser id to fetch the transparency data.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The query message.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransparencyQueryMessage"
              },
              "example": {
                "shouldDisplayProductIds": false,
                "startDate": "2025-05-31T00:00:00.0000000+00:00",
                "endDate": "2025-06-03T00:00:00.0000000+00:00"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TransparencyQueryMessage"
              },
              "example": "<TransparencyQueryMessage xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages\">\n  <EndDate>2025-06-03T00:00:00+00:00</EndDate>\n  <StartDate>2025-05-31T00:00:00+00:00</StartDate>\n  <ShouldDisplayProductIds>false</ShouldDisplayProductIds>\n</TransparencyQueryMessage>"
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/TransparencyQueryMessage"
              },
              "example": "<TransparencyQueryMessage xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages\">\n  <EndDate>2025-06-03T00:00:00+00:00</EndDate>\n  <StartDate>2025-05-31T00:00:00+00:00</StartDate>\n  <ShouldDisplayProductIds>false</ShouldDisplayProductIds>\n</TransparencyQueryMessage>"
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/TransparencyQueryMessage"
              },
              "example": "<TransparencyQueryMessage xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.datacontract.org/2004/07/Criteo.Api.Exam.Statistics.Controllers.V1.Messages\">\n  <EndDate>2025-06-03T00:00:00+00:00</EndDate>\n  <StartDate>2025-05-31T00:00:00+00:00</StartDate>\n  <ShouldDisplayProductIds>false</ShouldDisplayProductIds>\n</TransparencyQueryMessage>"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransparencyReportListResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TransparencyReportListResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TransparencyReportListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Analytics_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/ad-sets": {
      "patch": {
        "tags": [
          "Campaign"
        ],
        "description": "Patch a list of AdSets.",
        "operationId": "PatchAdSetsV24Q3",
        "requestBody": {
          "description": "List of adsets to patch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestsPatchAdSetV24Q3"
              }
            }
          },
          "x-bodyName": "adSets"
        },
        "responses": {
          "200": {
            "description": "List of patched adSets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesAdSetIdV24Q3"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Create the specified ad set",
        "operationId": "CreateAdSetV24Q3",
        "requestBody": {
          "description": "the ad sets to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAdSetV24Q3Request"
              }
            }
          },
          "required": true,
          "x-bodyName": "adSet"
        },
        "responses": {
          "201": {
            "description": "The ad set that has been created and errors / warnings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseReadAdSetV24Q3"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/ad-sets/{ad-set-id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get the data for the specified ad set",
        "operationId": "GetAdSetV24Q3",
        "parameters": [
          {
            "name": "ad-set-id",
            "in": "path",
            "description": "Id of the ad set",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data for the ad set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseReadAdSetV24Q3"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/ad-sets/{ad-set-id}/audience": {
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Link or unlink an audience with an ad set",
        "operationId": "updateAdSetAudience",
        "parameters": [
          {
            "name": "ad-set-id",
            "in": "path",
            "description": "The ad set ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Ad set-Audience update request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdSetAudienceLinkInputEntityV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdSetAudienceLinkEntityV1Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/ad-sets/{ad-set-id}/category-bids": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get the Category Bids for all valid Categories associated to an Ad Set",
        "operationId": "GetCategoryBidList",
        "parameters": [
          {
            "name": "ad-set-id",
            "in": "path",
            "description": "Id of the Ad Set",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Category Bids for all valid Categories associated to an Ad Set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdSetCategoryBidListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Campaign"
        ],
        "description": "Patch Category Bids for one or more Categories in a single request. Partial success policy is followed.",
        "operationId": "PatchCategoryBidList",
        "parameters": [
          {
            "name": "ad-set-id",
            "in": "path",
            "description": "Id of the Ad Set",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAdSetCategoryBidListRequest"
              }
            }
          },
          "x-bodyName": "categoryBidsToUpdate"
        },
        "responses": {
          "200": {
            "description": "List of updated Category Bids for given Categories associated to an Ad Set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchAdSetCategoryBidResultListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get the Display Multipliers for all valid Categories associated to an Ad Set",
        "operationId": "GetDisplayMultipliers",
        "parameters": [
          {
            "name": "ad-set-id",
            "in": "path",
            "description": "Id of the Ad Set",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Display Multipliers for all valid Categories associated to an Ad Set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdSetDisplayMultiplierListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Campaign"
        ],
        "description": "Patch Display Multipliers for one or more Categories in a single request. Partial success policy is followed.",
        "operationId": "PatchDisplayMultipliers",
        "parameters": [
          {
            "name": "ad-set-id",
            "in": "path",
            "description": "Id of the Ad Set",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierListRequest"
              }
            }
          },
          "x-bodyName": "displayMultipliersToUpdate"
        },
        "responses": {
          "200": {
            "description": "List of updated Display Multipliers for given Categories associated to an Ad Set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/ad-sets/search": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Search for ad sets",
        "operationId": "SearchAdSetsV24Q3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdSetSearchRequestV24Q3"
              }
            }
          },
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "data for the ad sets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesReadAdSetV24Q3"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/ad-sets/start": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Start the specified list of ad sets",
        "operationId": "StartAdSets",
        "requestBody": {
          "description": "All the ad sets to start",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestsAdSetId"
              }
            }
          },
          "x-bodyName": "adSets"
        },
        "responses": {
          "200": {
            "description": "List of ad sets that have been started and errors / warnings by ad set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesAdSetId"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/ad-sets/stop": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Stop the specified list of ad sets",
        "operationId": "StopAdSets",
        "requestBody": {
          "description": "All the ad sets to stop",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestsAdSetId"
              }
            }
          },
          "x-bodyName": "adSets"
        },
        "responses": {
          "200": {
            "description": "List of ad sets that have been stopped and errors / warnings by ad set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesAdSetId"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/ads/{id}": {
      "delete": {
        "tags": [
          "Creative"
        ],
        "description": "Delete an Ad",
        "operationId": "DeleteAd",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ad identifier to delete.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The ad was deleted."
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get an Ad with its id",
        "operationId": "GetAd",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ad identifier to retrieve.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The found ad is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfAd"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/advertisers/{advertiser-id}/ads": {
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get the list of self-services Ads for a given advertiser",
        "operationId": "GetAdvertiserAds",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of ads to be returned. The default is 50.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection of ads. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of self-services Ads is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfAd"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Creative"
        ],
        "description": "Create an Ad",
        "operationId": "CreateAdvertiserAd",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfAdWrite"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "201": {
            "description": "The created Ad is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfAd"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/advertisers/{advertiser-id}/coupons": {
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get the list of self-services Coupons for a given advertiser",
        "operationId": "GetAdvertiserCoupons",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of coupons to be returned. The default is 50.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection of coupons. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of self-services Coupons is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfCoupon"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Creative"
        ],
        "description": "Create a Coupon",
        "operationId": "CreateAdvertiserCoupon",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreateCoupon"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "201": {
            "description": "The created Coupon is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/advertisers/{advertiser-id}/coupons-supported-sizes": {
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get the list of Coupon supported sizes",
        "operationId": "GetAdvertiserCouponSupportedSizes",
        "parameters": [
          {
            "name": "ad-set-id",
            "in": "query",
            "description": "The ad set id on which you want to check the Coupon supported sizes.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Coupon supported sizes is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCouponSupportedSizes"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/advertisers/{advertiser-id}/coupons/{id}": {
      "delete": {
        "tags": [
          "Creative"
        ],
        "description": "Delete a Coupon",
        "operationId": "DeleteAdvertiserCoupon",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Coupon identifier to delete.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The Coupon was deleted."
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get a Coupon with its id",
        "operationId": "GetAdvertiserCoupon",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Coupon identifier to retrieve.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The found Coupon is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Creative"
        ],
        "description": "Edit a specific Coupon",
        "operationId": "EditAdvertiserCoupon",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Coupon identifier to edit.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfUpdateCoupon"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "The edited Coupon is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/advertisers/{advertiser-id}/coupons/{id}/preview": {
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get the preview of a specific Coupon",
        "operationId": "GetAdvertiserCouponPreview",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "The height of the coupon to preview.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Coupon identifier to preview.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "The width of the coupon to preview.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The preview HTML of a specific Coupon is returned.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/advertisers/{advertiser-id}/creatives": {
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get the list of self-services Creatives for a given advertiser",
        "operationId": "GetAdvertiserCreatives",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of creatives to be returned. The default is 50.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection of creatives. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of self-services Creatives is returned.This list will contain creatives in draft status as well which will have some properties as null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfCreativeRead"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Creative"
        ],
        "description": "Create a Creative",
        "operationId": "CreateAdvertiserCreative",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreativeWrite"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "201": {
            "description": "The created creative is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCreative"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audience-segments": {
      "patch": {
        "tags": [
          "Audience"
        ],
        "description": "Updates the properties of all segments with a valid configuration, and returns their IDs. For those that cannot be updated, one or multiple errors are returned.",
        "operationId": "bulkUpdateAudienceSegments",
        "requestBody": {
          "description": "Segment Update request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceSegmentBulkUpdateInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audience-segments/{audience-segment-id}/contact-list": {
      "delete": {
        "tags": [
          "Audience"
        ],
        "description": "Delete all identifiers from a contact list audience-segment.",
        "responses": {
          "200": {
            "description": "The Contact List was emptied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAudienceContactListResponse"
                },
                "example": {
                  "data": {
                    "id": "1",
                    "type": "AudienceContactlist"
                  },
                  "errors": [ ],
                  "warnings": [
                    {
                      "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                      "type": "deprecation",
                      "code": "deprecated-field",
                      "instance": "/audiences/314195",
                      "title": "'nbValidIds' is deprecated",
                      "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Audience"
        ],
        "description": "Add/remove identifiers to or from a contact list audience-segment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactlistAmendmentRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "body"
        },
        "responses": {
          "200": {
            "description": "Summary of created request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModifyAudienceResponse"
                },
                "example": {
                  "data": {
                    "type": "ContactlistAmendment",
                    "attributes": {
                      "contactListId": 12,
                      "operation": "add",
                      "requestDate": "2018-12-10T10:00:50.0000000+00:00",
                      "identifierType": "madid",
                      "nbValidIdentifiers": 7343,
                      "nbInvalidIdentifiers": 13,
                      "sampleInvalidIdentifiers": [
                        "InvalidIdentifier"
                      ]
                    }
                  },
                  "errors": [ ],
                  "warnings": [
                    {
                      "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                      "type": "deprecation",
                      "code": "deprecated-field",
                      "instance": "/audiences/314195",
                      "title": "'nbValidIds' is deprecated",
                      "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      },
      "parameters": [
        {
          "name": "audience-segment-id",
          "in": "path",
          "description": "The id of the contact list audience-segment to amend",
          "required": true,
          "style": "simple",
          "schema": {
            "type": "string",
            "format": "int32"
          }
        }
      ]
    },
    "/2025-07/marketing-solutions/audience-segments/{audience-segment-id}/contact-list/statistics": {
      "get": {
        "tags": [
          "Audience"
        ],
        "description": "Returns the statistics of a contact list segment.",
        "operationId": "getAudienceSegmentContactListStatistics",
        "parameters": [
          {
            "name": "audience-segment-id",
            "in": "path",
            "description": "The segment ID.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListStatisticsEntityV1Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audience-segments/compute-sizes": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Gets the size of all segments. An error is returned for those whose size calculation is not supported.",
        "operationId": "computeAudienceSegmentsSizes",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceSegmentComputeSizesInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentSizeEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audience-segments/create": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Creates all segments with a valid configuration, and returns their IDs. For those that cannot be created, one or multiple errors are returned.",
        "operationId": "bulkCreateAudienceSegments",
        "requestBody": {
          "description": "Segment creation parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceSegmentBulkCreateInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audience-segments/delete": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Delete the segments associated to the given audience IDs.",
        "operationId": "bulkDeleteAudienceSegments",
        "requestBody": {
          "description": "Segment delete request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceSegmentBulkDeleteInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentIdEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audience-segments/estimate-size": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Gets the size estimation of a non existent segment. An error is returned when size calculation is not supported.",
        "operationId": "estimateAudienceSegmentSize",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceSegmentEstimateSizeInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentSizeEstimationV1Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audience-segments/in-market-brands": {
      "get": {
        "tags": [
          "Audience"
        ],
        "description": "Returns a list with all available in-market brands that can be used to define an in-market segment.",
        "operationId": "getAudienceSegmentsInMarketBrands",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "query",
            "description": "The advertiser ID.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "The ISO 3166-1 alpha-2 country code.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InMarketAudienceSegmentBrandEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audience-segments/in-market-interests": {
      "get": {
        "tags": [
          "Audience"
        ],
        "description": "Returns a list with all available in-market interests that can be used to define an in-market segment. These in-market interests correspond to the Google product taxonomy.",
        "operationId": "getAudienceSegmentsInMarketInterests",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "query",
            "description": "The advertiser ID.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "The ISO 3166-1 alpha-2 country code.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InMarketAudienceSegmentInterestEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audience-segments/search": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Returns a list of segments that match the provided filters. If present, the filters are AND'ed together when applied.",
        "operationId": "searchAudienceSegments",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of elements to be returned. The default is 50 and the maximum is 100.",
            "style": "form",
            "schema": {
              "maximum": 100,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "description": "Segment search filters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceSegmentSearchInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSegmentEntityV1AudienceSegmentSearchMetadataV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audiences": {
      "patch": {
        "tags": [
          "Audience"
        ],
        "description": "Updates the properties of all audiences with a valid configuration, and returns their IDs. For those that cannot be updated, one or multiple errors are returned.",
        "operationId": "bulkUpdateAudiences",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceBulkUpdateInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audiences/compute-sizes": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Gets the size of all audiences. An error is returned for those whose size calculation is not supported.",
        "operationId": "computeAudiencesSizes",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceComputeSizesInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSizeEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audiences/create": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Creates all audiences with a valid configuration, and returns their IDs. For those that cannot be created, one or multiple errors are returned.",
        "operationId": "bulkCreateAudiences",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceBulkCreateInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audiences/delete": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Deletes the audiences associated to the given audience IDs.",
        "operationId": "bulkDeleteAudiences",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceBulkDeleteInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceIdEntityV1ListResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success or partial success",
            "content": {
              "application/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audiences/estimate-size": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Gets the size estimation of a non existent audience. An error is returned when size calculation is not supported.",
        "operationId": "estimateAudienceSize",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceEstimateSizeInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceSizeEstimationV1Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/audiences/search": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Returns a list of audiences that match the provided filters. If present, the filters are AND'ed together when applied.",
        "operationId": "searchAudiences",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of elements to be returned. The default is 50 and the maximum is 100.",
            "style": "form",
            "schema": {
              "maximum": 100,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "description": "Audience search filters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceSearchInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceEntityV1AudienceSearchMetadataV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/campaigns": {
      "patch": {
        "tags": [
          "Campaign"
        ],
        "description": "Patch a list of Campaigns.",
        "operationId": "PatchCampaigns",
        "requestBody": {
          "description": "List of campaigns to patch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCampaignListRequest"
              }
            }
          },
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "List of patched campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchResultCampaignListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Create the specified campaign",
        "operationId": "CreateCampaign",
        "requestBody": {
          "description": "the campaigns to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "marketingCampaign"
        },
        "responses": {
          "201": {
            "description": "The campaign that has been created and errors / warnings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignV23Q1Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/campaigns/{campaign-id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get the data for the specified campaign",
        "operationId": "GetCampaignV23Q1",
        "parameters": [
          {
            "name": "campaign-id",
            "in": "path",
            "description": "Id of the campaign",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data for the campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignV23Q1Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/campaigns/search": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Search for campaigns",
        "operationId": "SearchCampaignsV23Q1",
        "requestBody": {
          "description": "filters on campaigns",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignSearchRequestV23Q1"
              }
            }
          },
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "data for the campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignV23Q1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/creatives/{id}": {
      "delete": {
        "tags": [
          "Creative"
        ],
        "description": "Delete a Creative if there are no ads binded to it",
        "operationId": "DeleteCreative",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The creative identifier to delete.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The creative was deleted."
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get a Creative with its id",
        "operationId": "GetCreative",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The creative identifier to retrieve.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The found creative is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCreative"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Creative"
        ],
        "description": "Edit a specific Creative",
        "operationId": "EditCreative",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The creative identifier to edit.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreativeWrite"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "The edited creative is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCreative"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/creatives/{id}/preview": {
      "post": {
        "tags": [
          "Creative"
        ],
        "description": "Get the preview of a specific Creative",
        "operationId": "GenerateCreativePreview",
        "parameters": [
          {
            "name": "height",
            "in": "query",
            "description": "The height of the Creative to preview.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Creative identifier to preview.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "The width of the Creative to preview.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The preview HTML of a specific Creative is returned.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Get the collection of advertisers associated with the user.",
        "operationId": "GetAdvertisers",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Get an advertiser.",
        "operationId": "GetAdvertiser",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Id of the advertiser",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/ad-preview": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Get a preview of an HTML ad with products belonging to the provided seller\r\n• <b>advertiserId</b>: Valid crp advertiserId, seller belongs to provided advertiser<br />\r\n• <b>sellerId</b>: Products from given SellerId will fill the ad preview, must be existing crp sellerId<br />\r\n• <b>height</b>: height may be supplied to request a specific ad preview height. Default height: 250<br />\r\n• <b>width</b>: width may be supplied to request a specific ad preview width. Default width: 300<br />\r\n            \r\nAd preview api calls are capped to 1000 per day per advertiser by default. Current usage, limit, and period can be found using v2/crp/advertisers/preview-limit",
        "operationId": "GetSellerAdDemo",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Id of the advertiser",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Seller CampaignId",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "Height of the ad to display",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sellerId",
            "in": "query",
            "description": "Id of the seller",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Width of the ad to display",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/adsets": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Get the collection of adsets associated with the advertiserId.",
        "operationId": "GetAdvertiserAdsets",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Id of the advertiser",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/budgets": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Get CRP budgets for a specific advertiser",
        "operationId": "GetBudgetsByAdvertiser",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Id of the advertiser",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "budgetId",
            "in": "query",
            "description": "Return only budgets with given Id",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "endAfterDate",
            "in": "query",
            "description": "Return budgets that end after the given date using the `yyyy-MM-DD` format.\r\n            If param is not provided, default behavior is to only return budgets that have not yet ended.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sellerId",
            "in": "query",
            "description": "Return only budgets belonging to given sellerId",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "startBeforeDate",
            "in": "query",
            "description": "Return budgets that start on or before the given date using the `yyyy-MM-DD` format.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Return only budgets with the given status.",
            "style": "form",
            "schema": {
              "enum": [
                "Archived",
                "Current",
                "Scheduled"
              ],
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Return only budgets with the given budget type.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withBalance",
            "in": "query",
            "description": "Return only budgets with the given status.",
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "withSpend",
            "in": "query",
            "description": "Return budgets with any positive spend.",
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Get the collection of CRP campaigns associated with the advertiserId.",
        "operationId": "GetAdvertiserCampaigns",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Id of the advertiser",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/seller-campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Get CRP seller campaigns for a specific advertiser",
        "operationId": "GetSellerCampaignsByAdvertiser",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Id of the advertiser",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/sellers": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Create new sellers for an advertiser",
        "operationId": "CreateSellers",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "Id of the advertiser",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "partnerId",
            "in": "query",
            "description": "Id of the partner",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Names of the sellers to associate with new Ids",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "x-bodyName": "sellerNames"
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/advertisers/preview-limit": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Get the collection of advertisers preview limits associated with the authorized user.",
        "operationId": "GetAdvertiserPreviewLimits",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/budgets": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Return a collection of budgets filtered by optional filter parameters.\r\nIf all parameters are omitted the entire collection to which the user has\r\naccess is returned, except those whose endDate is in the past. Returned budgets must satisfy all supplied filter\r\ncriteria if multiple parameters are used.\r\n            \r\n<b>Date filter.</b> Filtering can return only budgets that were active for a\r\ndate range by specifying the startBeforeDate and endAfterDate. Leaving off the startBeforeDate\r\nvalue makes budgets with any startDate qualify, whereas when leaving off the endAfterDate value will only return\r\nbudgets whose endDate has not already passed. To get budgets that were active\r\non a specific date, set both values to that day.\r\n            \r\n<b>Spend.</b> If the endAfterDate is supplied, the spend excludes spend that\r\nhappened after that date. In the case of a daily budget, only the spend for\r\nthe final day is displayed.\r\n            \r\nSee the budgets endpoint for additional details.",
        "operationId": "GetSellerBudgets",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "query",
            "description": "Return only budgets belonging to the specified advertiser",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Return only budgets that pay for a given campaign.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "endAfterDate",
            "in": "query",
            "description": "Return budgets that end after the given date using the `yyyy-MM-DD` format.\r\n             If param is not provided, default behavior is to only return budgets that have not yet ended.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sellerId",
            "in": "query",
            "description": "Return only budgets belonging to the given seller.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startBeforeDate",
            "in": "query",
            "description": "Return budgets that start on or before the given date using the `yyyy-MM-DD` format.",
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Return only budgets with the given status.",
            "style": "form",
            "schema": {
              "enum": [
                "Archived",
                "Current",
                "Scheduled"
              ],
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Return only budgets with the given budget type.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withBalance",
            "in": "query",
            "description": "Return only budgets with the given status.",
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "withSpend",
            "in": "query",
            "description": "Return budgets with any positive spend.",
            "style": "form",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SellerBudgetMessage"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Modify one or more existing active budgets to change their limitations or status.\r\nAll three types of budgets can be modified.\r\n            \r\nThe following constraints apply when modifying an existing budget.\r\n            \r\n• <b>campaignIds</b>: a non-empty subset of the original campaign ids MAY be supplied<br />\r\n• <b>amount</b>: an amount MAY be supplied only if the type is not Uncapped and if supplied it MUST be non-negative<br />\r\n• <b>startDate</b>: a future start date MAY be supplied for budgets that have not yet started<br />\r\n• <b>endDate</b>: an end date MAY be supplied and if supplied MUST be a future date greater than the start date<br />\r\n            \r\nOther attributes MUST NOT be supplied.\r\n            \r\nAdding new campaigns to a budget is not allowed. In addition, reducing the amount for\r\na Capped budget to a value less than the current spend not allowed.",
        "operationId": "UpdateSellerBudgets",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UpdateSellerBudgetMessage"
                }
              }
            }
          },
          "x-bodyName": "updateSellerBudgets"
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Create one or more new budgets to enable spending with the given limitations.\r\nAll three types of budgets can be created this way.\r\n            \r\nThe following constraints apply when creating a new budget.\r\n            \r\n• <b>sellerId</b>: the seller MUST be supplied<br />\r\n• <b>campaignIds</b>: a non-empty array of campaign ids MUST be supplied<br />\r\n• <b>budgetType</b>: a budget type MUST be supplied<br />\r\n• <b>amount</b>: an amount MAY be supplied only if the type is not Uncapped and if supplied it MUST be non-negative<br />\r\n• <b>startDate</b>: a future start date MUST be supplied<br />\r\n• <b>endDate</b>: an end date MAY be supplied and if supplied MUST be greater than the start date<br />\r\n            \r\nOther attributes MUST NOT be supplied.",
        "operationId": "CreateSellerBudgets",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateSellerBudgetMapiMessage"
                }
              }
            }
          },
          "x-bodyName": "createSellerBudgets"
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/budgets/{budgetId}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Return a budget. For example,\r\n            \r\n    {\r\n        \"id\": \"1759183\",\r\n        \"sellerId\": \"321392\",\r\n        \"campaignIds\": [\r\n            143962\r\n        ],\r\n        \"budgetType\": \"Capped\",\r\n        \"amount\": 1000,\r\n        \"startDate\": \"2021-01-11\",\r\n        \"endDate\": \"2021-01-12\",\r\n        \"spend\": null,\r\n        \"status\": \"Active\"\r\n    }\r\n            \r\nA budget limits the spend of a seller for one or more campaigns.\r\n            \r\nThere are three types of budget:<br /><b>Uncapped</b> budgets put no limit on the total amount of spend.<br /><b>Capped</b> budgets limit the total spend to a fixed amount.<br /><b>Daily</b> budgets limit daily spend to a fixed amount.<br />\r\n            \r\nIn addition, budgets can limit the spend to a specific range of dates using\r\nthe start and end date attributes. Finally a budget must be active to be used.\r\n            \r\n<b>Spend</b> approximates the current spend against this budget. There may be a lag\r\nbetween when an ad is clicked and the time it accrues to the spend. Daily budgets\r\nshow spend against the most recent day only.",
        "operationId": "GetSellerBudget",
        "parameters": [
          {
            "name": "budgetId",
            "in": "path",
            "description": "Id of the budget.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellerBudgetMessage"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Modify an existing active budget to change its limitations or status.\r\nAll three types of budgets can be modified.\r\n            \r\nSee the additional restrictions listed in the PATCH budgets endpoint.",
        "operationId": "UpdateSellerBudget",
        "parameters": [
          {
            "name": "budgetId",
            "in": "path",
            "description": "Id of the budget",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSellerBudgetMessageBase"
              }
            }
          },
          "x-bodyName": "message"
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/2025-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Return a collection of seller campaigns filtered by optional filter parameters.\r\nIf all parameters are omitted the entire collection to which the user has\r\naccess is returned. Returned sellers must satisfy all supplied filter\r\ncriteria if multiple parameters are used.",
        "operationId": "GetSellerCampaigns",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "query",
            "description": "Return only seller belonging to the specified advertiser",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "budgetStatus",
            "in": "query",
            "description": "Return only seller campaigns whose budget has the given status.",
            "style": "form",
            "schema": {
              "enum": [
                "Archived",
                "Current",
                "Scheduled"
              ],
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Return only seller campaigns associated with the given campaign.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sellerId",
            "in": "query",
            "description": "Return only seller campaigns belonging to the given seller.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sellerStatus",
            "in": "query",
            "description": "Return only seller campaigns for sellers with the given status.",
            "style": "form",
            "schema": {
              "enum": [
                "Inactive",
                "Active"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SellerCampaignMessage"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Campaign"
        ],
        "summary": "",
        "description": "Patching a collection of seller campaigns allows their bids to be modified.\r\nEach bid must be a non-negative value. Setting the bid to zero will make a seller campaign inactive.\r\n            \r\nThe currency used for bids will be the default currency of the campaign.",
        "operationId": "UpdateSellerCampaigns",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SellerCampaignUpdate"
                }
              }
            }
          },
          "x-bodyName": "campaignMessages"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
[...]
