{
    "openapi": "3.0.1",
    "info": {
        "title": "Criteo API",
        "description": "Criteo publicly exposed API",
        "version": "2022-07"
    },
    "servers": [
        {
            "url": "https://api.criteo.com"
        }
    ],
    "paths": {
        "/2022-07/audiences": {
            "get": {
                "tags": [
                    "Audience"
                ],
                "description": "Get a list of all the audiences for the user or for the given advertiser_id",
                "operationId": "getAudiences",
                "parameters": [
                    {
                        "name": "advertiser-id",
                        "in": "query",
                        "description": "The advertiser id to get all the audiences for.\nMandatory for internal users. For external users,\n           if you don't provide it, we will take into account the advertisers from your portfolio",
                        "schema": {
                            "type": "string",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list was retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAudiencesResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "type": "AudienceContactlist",
                                            "id": "1",
                                            "attributes": {
                                                "advertiserId": "18",
                                                "name": "Audience name",
                                                "description": "Audience",
                                                "created": "2018-12-10T10:00:50.0000000+00:00",
                                                "updated": "2018-12-10T10:17:15.0000000+00:00",
                                                "nbLines": 100,
                                                "nbLinesEmail": 10,
                                                "nbMatchesEmail": 10
                                            }
                                        }
                                    ],
                                    "errors": [],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCodeResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "validation",
                                            "code": "audience-invalid",
                                            "instance": "/audience/314159",
                                            "title": "Audience is invalid",
                                            "detail": "Audience is not found, please choose a valid audience"
                                        }
                                    ],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Create an Audience for an Advertiser",
                "operationId": "createAudience",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewAudienceRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "body"
                },
                "responses": {
                    "200": {
                        "description": "The audience was created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NewAudienceResponse"
                                },
                                "example": {
                                    "data": {
                                        "id": "1",
                                        "type": "Audience"
                                    },
                                    "errors": [],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCodeResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "validation",
                                            "code": "audience-invalid",
                                            "instance": "/audience/314159",
                                            "title": "Audience is invalid",
                                            "detail": "Audience is not found, please choose a valid audience"
                                        }
                                    ],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-07/audiences/{audience-id}/contactlist": {
            "delete": {
                "tags": [
                    "Audience"
                ],
                "description": "delete all identifiers from an Audience",
                "operationId": "deleteIdentifiers",
                "responses": {
                    "200": {
                        "description": "The contactlist was deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteAudienceContactListResponse"
                                },
                                "example": {
                                    "data": {
                                        "id": "1",
                                        "type": "AudienceContactlist"
                                    },
                                    "errors": [],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCodeResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "validation",
                                            "code": "audience-invalid",
                                            "instance": "/audience/314159",
                                            "title": "Audience is invalid",
                                            "detail": "Audience is not found, please choose a valid audience"
                                        }
                                    ],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Audience"
                ],
                "description": "Add/remove users to or from an audience",
                "operationId": "modifyAudienceUsers",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactlistAmendmentRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "body"
                },
                "responses": {
                    "200": {
                        "description": "Summary of created request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModifyAudienceResponse"
                                },
                                "example": {
                                    "data": {
                                        "type": "ContactlistAmendment",
                                        "attributes": {
                                            "contactListId": "12",
                                            "operation": "add",
                                            "requestDate": "2018-12-10T10:00:50.0000000+00:00",
                                            "identifierType": "madid",
                                            "nbValidIdentifiers": 7343,
                                            "nbInvalidIdentifiers": 13,
                                            "sampleInvalidIdentifiers": [
                                                "InvalidIdentifier"
                                            ]
                                        }
                                    },
                                    "errors": [],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCodeResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "validation",
                                            "code": "audience-invalid",
                                            "instance": "/audience/314159",
                                            "title": "Audience is invalid",
                                            "detail": "Audience is not found, please choose a valid audience"
                                        }
                                    ],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Audience 123 not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCodeResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "validation",
                                            "code": "audience-invalid",
                                            "instance": "/audience/314159",
                                            "title": "Audience is invalid",
                                            "detail": "Audience is not found, please choose a valid audience"
                                        }
                                    ],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "audience-id",
                    "in": "path",
                    "description": "The id of the audience to amend",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "int32"
                    }
                }
            ]
        },
        "/2022-07/audiences/{audience-id}": {
            "delete": {
                "tags": [
                    "Audience"
                ],
                "description": "Delete an audience by id",
                "operationId": "removeAudience",
                "responses": {
                    "200": {
                        "description": "The audience was deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteAudienceResponse"
                                },
                                "example": {
                                    "data": {
                                        "id": "1",
                                        "type": "Audience"
                                    },
                                    "errors": [],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCodeResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "validation",
                                            "code": "audience-invalid",
                                            "instance": "/audience/314159",
                                            "title": "Audience is invalid",
                                            "detail": "Audience is not found, please choose a valid audience"
                                        }
                                    ],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Audience"
                ],
                "description": "Update user audience specified by the audience id",
                "operationId": "modifyAudience",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReplaceAudienceRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "body"
                },
                "responses": {
                    "200": {
                        "description": "The audience was updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReplaceAudienceResponse"
                                },
                                "example": {
                                    "data": {
                                        "id": "1",
                                        "type": "AudienceContactlist",
                                        "attributes": {
                                            "name": "example audience",
                                            "description": "example audience description"
                                        }
                                    },
                                    "errors": [],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCodeResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "validation",
                                            "code": "audience-invalid",
                                            "instance": "/audience/314159",
                                            "title": "Audience is invalid",
                                            "detail": "Audience is not found, please choose a valid audience"
                                        }
                                    ],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "audience-id",
                    "in": "path",
                    "description": "The id of the audience to amend",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "int32"
                    }
                }
            ]
        },
        "/me": {
            "get": {
                "tags": [
                    "Gateway"
                ],
                "description": "Get information about the currently logged application",
                "operationId": "GetCurrentApplication",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationSummaryModelResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/2022-07/marketing-solutions/ad-sets/{adSetId}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get the data for the specified ad set",
                "operationId": "GetAdSet",
                "parameters": [
                    {
                        "name": "adSetId",
                        "in": "path",
                        "description": "Id of the ad set",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data for the ad set",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSet"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSet"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSet"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/2022-07/marketing-solutions/ad-sets/search": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Search for ad sets",
                "operationId": "SearchAdSets",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestAdSetSearch"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestAdSetSearch"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestAdSetSearch"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestAdSetSearch"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "data for the ad sets",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesReadAdSet"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesReadAdSet"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesReadAdSet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/2022-07/marketing-solutions/ad-sets": {
            "patch": {
                "tags": [
                    "Campaign"
                ],
                "description": "Patch a list of AdSets.",
                "operationId": "PatchAdSets",
                "requestBody": {
                    "description": "List of adsets to patch.",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsPatchAdSet"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsPatchAdSet"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsPatchAdSet"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsPatchAdSet"
                            }
                        }
                    },
                    "x-bodyName": "adSets"
                },
                "responses": {
                    "200": {
                        "description": "List of patched adSets.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseAdSetId"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseAdSetId"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseAdSetId"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/2022-07/marketing-solutions/ad-sets/start": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Start the specified list of ad sets",
                "operationId": "StartAdSets",
                "requestBody": {
                    "description": "All the ad sets to start",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        }
                    },
                    "x-bodyName": "adSets"
                },
                "responses": {
                    "200": {
                        "description": "List of ad sets that have been started and errors / warnings by ad set",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/2022-07/marketing-solutions/ad-sets/stop": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Stop the specified list of ad sets",
                "operationId": "StopAdSets",
                "requestBody": {
                    "description": "All the ad sets to stop",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        }
                    },
                    "x-bodyName": "adSets"
                },
                "responses": {
                    "200": {
                        "description": "List of ad sets that have been stopped and errors / warnings by ad set",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/2022-07/marketing-solutions/campaigns/{campaign-id}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get the data for the specified campaign",
                "operationId": "GetCampaign",
                "parameters": [
                    {
                        "name": "campaign-id",
                        "in": "path",
                        "description": "Id of the campaign",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data for the campaign",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/2022-07/marketing-solutions/campaigns/search": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Search for campaigns",
                "operationId": "SearchCampaigns",
                "requestBody": {
                    "description": "filters on campaigns",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CampaignSearchRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CampaignSearchRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CampaignSearchRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CampaignSearchRequest"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "data for the campaigns",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/2022-07/marketing-solutions/campaigns": {
            "patch": {
                "tags": [
                    "Campaign"
                ],
                "description": "Patch a list of Campaigns.",
                "operationId": "PatchCampaigns",
                "requestBody": {
                    "description": "List of campaigns to patch.",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchCampaignListRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchCampaignListRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchCampaignListRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchCampaignListRequest"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "List of patched campaigns.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchResultCampaignListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchResultCampaignListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchResultCampaignListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/2022-07/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get the Display Multipliers for all valid Categories associated to an Ad Set",
                "operationId": "GetDisplayMultipliers",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "Id of the Ad Set",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Display Multipliers for all valid Categories associated to an Ad Set.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetDisplayMultiplierListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetDisplayMultiplierListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetDisplayMultiplierListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Campaign"
                ],
                "description": "Patch Display Multipliers for one or more Categories in a single request. Partial success policy is followed.",
                "operationId": "PatchDisplayMultipliers",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "Id of the Ad Set",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierListRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierListRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierListRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierListRequest"
                            }
                        }
                    },
                    "x-bodyName": "displayMultipliersToUpdate"
                },
                "responses": {
                    "200": {
                        "description": "List of updated Display Multipliers for given Categories associated to an Ad Set.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/2022-07/marketing-solutions/ad-sets/{ad-set-id}/category-bids": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get the Category Bids for all valid Categories associated to an Ad Set",
                "operationId": "GetCategoryBidList",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "Id of the Ad Set",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Category Bids for all valid Categories associated to an Ad Set.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetCategoryBidListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetCategoryBidListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetCategoryBidListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Campaign"
                ],
                "description": "Patch Category Bids for one or more Categories in a single request. Partial success policy is followed.",
                "operationId": "PatchCategoryBidList",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "Id of the Ad Set",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetCategoryBidListRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetCategoryBidListRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetCategoryBidListRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetCategoryBidListRequest"
                            }
                        }
                    },
                    "x-bodyName": "categoryBidsToUpdate"
                },
                "responses": {
                    "200": {
                        "description": "List of updated Category Bids for given Categories associated to an Ad Set.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchAdSetCategoryBidResultListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchAdSetCategoryBidResultListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchAdSetCategoryBidResultListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/oauth2/token": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Creates a token based either on supplied client credentials or on single use authorization code",
                "description": "Creates a token when the supplied client credentials are valid",
                "operationId": "GetToken",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "grant_type",
                                    "client_id",
                                    "client_secret"
                                ],
                                "properties": {
                                    "grant_type": {
                                        "type": "string"
                                    },
                                    "client_id": {
                                        "type": "string"
                                    },
                                    "client_secret": {
                                        "type": "string"
                                    },
                                    "redirect_uri": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "refresh_token": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-07/statistics/report": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "This Statistics endpoint provides adset related data. It is an upgrade of our previous Statistics endpoint, and includes new metrics and customization capabilities.",
                "operationId": "GetAdsetReport",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/StatisticsReportQueryMessage"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StatisticsReportQueryMessage"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StatisticsReportQueryMessage"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/StatisticsReportQueryMessage"
                            }
                        }
                    },
                    "x-bodyName": "reportQuery"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "00000000-0000-0000-d390-b9c1a03a6663",
                                            "traceIdentifier": "1234e1717d88aa8a",
                                            "type": "validation",
                                            "code": "required-field",
                                            "instance": "/report",
                                            "title": "Start date and end date are required."
                                        }
                                    ]
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "00000000-0000-0000-d390-b9c1a03a6663",
                                            "traceIdentifier": "1234e1717d88aa8a",
                                            "type": "access-control",
                                            "code": "insufficient-advertiser-permission",
                                            "instance": "/report",
                                            "title": "Insufficient advertiser permission.",
                                            "detail": "You do not have the rights to report on this advertiser."
                                        }
                                    ]
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-07/transactions/report": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "This Transactions endpoint provides transactions id related data.",
                "operationId": "GetTransactionsReport",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransactionsReportQueryDataMessage"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransactionsReportQueryDataMessage"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransactionsReportQueryDataMessage"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransactionsReportQueryDataMessage"
                            }
                        }
                    },
                    "x-bodyName": "dataMessage"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "00000000-0000-0000-d390-b9c1a03a6663",
                                            "traceIdentifier": "1234e1717d88aa8a",
                                            "type": "validation",
                                            "code": "required-field",
                                            "instance": "/report",
                                            "title": "Start date and end date are required."
                                        }
                                    ]
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "00000000-0000-0000-d390-b9c1a03a6663",
                                            "traceIdentifier": "1234e1717d88aa8a",
                                            "type": "access-control",
                                            "code": "insufficient-advertiser-permission",
                                            "instance": "/report",
                                            "title": "Insufficient advertiser permission.",
                                            "detail": "You do not have the rights to report on this advertiser."
                                        }
                                    ]
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-07/log-level/advertisers/{advertiser-id}/report": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "This Statistics endpoint provides publisher data.",
                "operationId": "GetTransparencyReport",
                "parameters": [
                    {
                        "name": "advertiser-id",
                        "in": "path",
                        "description": "The advertiser id to fetch the transparency data.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransparencyQueryMessage"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransparencyQueryMessage"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransparencyQueryMessage"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransparencyQueryMessage"
                            }
                        }
                    },
                    "x-bodyName": "queryMessage"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransparencyReportDataMessage"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "type": "TransparencyReport",
                                            "attributes": {
                                                "advertiserId": "123",
                                                "tokenValidUntil": "2021-01-31T00:00:00.0000000+00:00",
                                                "files": [
                                                    {
                                                        "fileName": "report.csv",
                                                        "url": "https://www.example.com/transparency"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransparencyReportDataMessage"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransparencyReportDataMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "00000000-0000-0000-d390-b9c1a03a6663",
                                            "traceIdentifier": "1234e1717d88aa8a",
                                            "type": "validation",
                                            "code": "required-field",
                                            "instance": "/report",
                                            "title": "Start date and end date are required."
                                        }
                                    ]
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "00000000-0000-0000-d390-b9c1a03a6663",
                                            "traceIdentifier": "1234e1717d88aa8a",
                                            "type": "access-control",
                                            "code": "insufficient-advertiser-permission",
                                            "instance": "/report",
                                            "title": "Insufficient advertiser permission.",
                                            "detail": "You do not have the rights to report on this advertiser."
                                        }
                                    ]
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-07/placements/report": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "Your ads are placed in different domains (publishers) and environments (websites and apps). Thanks to the placements endpoint, you can analyse the performances for each publisher, comparing displays, clicks and sales generated.",
                "operationId": "GetPlacementsReport",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlacementsReportQueryDataMessage"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlacementsReportQueryDataMessage"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlacementsReportQueryDataMessage"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlacementsReportQueryDataMessage"
                            }
                        }
                    },
                    "x-bodyName": "dataMessage"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "00000000-0000-0000-d390-b9c1a03a6663",
                                            "traceIdentifier": "1234e1717d88aa8a",
                                            "type": "validation",
                                            "code": "required-field",
                                            "instance": "/report",
                                            "title": "Start date and end date are required."
                                        }
                                    ]
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "00000000-0000-0000-d390-b9c1a03a6663",
                                            "traceIdentifier": "1234e1717d88aa8a",
                                            "type": "access-control",
                                            "code": "insufficient-advertiser-permission",
                                            "instance": "/report",
                                            "title": "Insufficient advertiser permission.",
                                            "detail": "You do not have the rights to report on this advertiser."
                                        }
                                    ]
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-07/advertisers/me": {
            "get": {
                "tags": [
                    "Advertiser"
                ],
                "description": "Fetch the portfolio of Advertisers for this account",
                "operationId": "ApiPortfolioGet",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPortfolioResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "type": "advertiser",
                                            "id": "13",
                                            "attributes": {
                                                "advertiserName": "ClientName1"
                                            }
                                        },
                                        {
                                            "type": "advertiser",
                                            "id": "1352",
                                            "attributes": {
                                                "advertiserName": "ClientName2"
                                            }
                                        },
                                        {
                                            "type": "advertiser",
                                            "id": "73550",
                                            "attributes": {
                                                "advertiserName": "ClientName3"
                                            }
                                        }
                                    ],
                                    "errors": [],
                                    "warnings": []
                                }
                            },
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPortfolioResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPortfolioResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPortfolioResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPortfolioResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPortfolioResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetAudiencesResponse": {
                "required": [
                    "data",
                    "errors",
                    "warnings"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Audience"
                        }
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AudienceError"
                        }
[...]
