{
  "openapi": "3.0.1",
  "info": {
    "title": "Criteo API",
    "description": "Criteo API - MarketingSolutions",
    "version": "Preview"
  },
  "servers": [
    {
      "url": "https://api.criteo.com"
    }
  ],
  "paths": {
    "/preview/ads/{ad-id}/product-filter": {
      "delete": {
        "tags": [
          "Reco"
        ],
        "description": "Disable product filtering for a given ad",
        "operationId": "DisableProductFiltering",
        "parameters": [
          {
            "name": "ad-id",
            "in": "path",
            "description": "ID of the ad",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfProductFilterConfig"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfProductFilterConfig"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfProductFilterConfig"
                }
              }
            }
          },
          "400": {
            "description": "Operation failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              }
            }
          },
          "403": {
            "description": "Operation failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              }
            }
          },
          "404": {
            "description": "Operation failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              }
            }
          },
          "409": {
            "description": "Operation failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Reco_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Reco"
        ],
        "description": "Fetch product filtering configuration for a given ad",
        "operationId": "FetchProductFilteringConfig",
        "parameters": [
          {
            "name": "ad-id",
            "in": "path",
            "description": "ID of the ad",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation. Returns the product filtering configuration if it exists, or empty data if it doesn't.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfProductFilterConfig"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfProductFilterConfig"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfProductFilterConfig"
                }
              }
            }
          },
          "400": {
            "description": "Operation failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              }
            }
          },
          "403": {
            "description": "Operation failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Reco_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Reco"
        ],
        "description": "Enable product filtering for a given ad",
        "operationId": "EnableProductFiltering",
        "parameters": [
          {
            "name": "ad-id",
            "in": "path",
            "description": "ID of the ad",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfCreateProductFilterRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfCreateProductFilterRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfCreateProductFilterRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfCreateProductFilterRequest"
              }
            }
          },
          "x-bodyName": "createProductFilterRequest"
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfProductFilterConfig"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfProductFilterConfig"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfProductFilterConfig"
                }
              }
            }
          },
          "400": {
            "description": "Operation failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              }
            }
          },
          "403": {
            "description": "Operation failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outcome"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Reco_Manage"
            ]
          }
        ]
      }
    },
    "/preview/ads/{id}": {
      "delete": {
        "tags": [
          "Creative"
        ],
        "description": "Delete an Ad",
        "operationId": "DeleteAd",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ad identifier to delete.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The ad was deleted."
          },
          "400": {
            "description": "The request contained invalid parameters."
          },
          "401": {
            "description": "The request was not properly authorized."
          },
          "500": {
            "description": "A non-request based error occurred on the server."
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get an Ad with its id",
        "operationId": "GetAd",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ad identifier to retrieve.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The found ad is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfAd"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfAd"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfAd"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "401": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "500": {
            "description": "A non-request based error occurred on the server.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      }
    },
    "/preview/advertisers/{advertiser-id}/ads": {
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get the list of self-services Ads for a given advertiser",
        "operationId": "GetAdvertiserAds",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of ads to be returned. The default is 50.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection of ads. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of self-services Ads is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfAd"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfAd"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfAd"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "401": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "500": {
            "description": "A non-request based error occurred on the server.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Creative"
        ],
        "description": "Create an Ad",
        "operationId": "CreateAdvertiserAd",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfAdWrite"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfAdWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfAdWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfAdWrite"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "201": {
            "description": "The created Ad is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfAd"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfAd"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfAd"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "401": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "500": {
            "description": "A non-request based error occurred on the server.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      }
    },
    "/preview/advertisers/{advertiser-id}/coupons": {
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get the list of self-services Coupons for a given advertiser",
        "operationId": "GetAdvertiserCoupons",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of coupons to be returned. The default is 50.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection of coupons. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of self-services Coupons is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfCoupon"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfCoupon"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfCoupon"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Creative"
        ],
        "description": "Create a Coupon",
        "operationId": "CreateAdvertiserCoupon",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreateCoupon"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreateCoupon"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreateCoupon"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreateCoupon"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "201": {
            "description": "The created Coupon is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      }
    },
    "/preview/advertisers/{advertiser-id}/coupons-supported-sizes": {
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get the list of Coupon supported sizes",
        "operationId": "GetAdvertiserCouponSupportedSizes",
        "parameters": [
          {
            "name": "ad-set-id",
            "in": "query",
            "description": "The ad set id on which you want to check the Coupon supported sizes.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Coupon supported sizes is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCouponSupportedSizes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCouponSupportedSizes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCouponSupportedSizes"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      }
    },
    "/preview/advertisers/{advertiser-id}/coupons/{id}": {
      "delete": {
        "tags": [
          "Creative"
        ],
        "description": "Delete a Coupon",
        "operationId": "DeleteAdvertiserCoupon",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Coupon identifier to delete.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The Coupon was deleted."
          },
          "400": {
            "description": "The request contained invalid parameters."
          },
          "403": {
            "description": "The request was not properly authorized."
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get a Coupon with its id",
        "operationId": "GetAdvertiserCoupon",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Coupon identifier to retrieve.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The found Coupon is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Creative"
        ],
        "description": "Edit a specific Coupon",
        "operationId": "EditAdvertiserCoupon",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Coupon identifier to edit.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfUpdateCoupon"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfUpdateCoupon"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfUpdateCoupon"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfUpdateCoupon"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "The edited Coupon is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCoupon"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      }
    },
    "/preview/advertisers/{advertiser-id}/coupons/{id}/preview": {
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get the preview of a specific Coupon",
        "operationId": "GetAdvertiserCouponPreview",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "The height of the coupon to preview.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The Coupon identifier to preview.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "The width of the coupon to preview.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The preview HTML of a specific Coupon is returned.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/html": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/html": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      }
    },
    "/preview/advertisers/{advertiser-id}/creatives": {
      "get": {
        "tags": [
          "Creative"
        ],
        "description": "Get the list of self-services Creatives for a given advertiser",
        "operationId": "GetAdvertiserCreatives",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of creatives to be returned. The default is 50.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection of creatives. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of self-services Creatives is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfCreative"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfCreative"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCollectionOutcomeOfCreative"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "401": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "500": {
            "description": "A non-request based error occurred on the server.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Creative"
        ],
        "description": "Create a Creative",
        "operationId": "CreateAdvertiserCreative",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The advertiser identifier.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreativeWrite"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreativeWrite"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreativeWrite"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceInputOfCreativeWrite"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "201": {
            "description": "The created creative is returned.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCreative"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCreative"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfCreative"
                }
              }
            }
          },
          "400": {
            "description": "The request contained invalid parameters.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "401": {
            "description": "The request was not properly authorized.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "500": {
            "description": "A non-request based error occurred on the server.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Creative_Manage"
            ]
          }
        ]
      }
    },
    "/preview/advertisers/{advertiser-id}/datasets": {
      "get": {
        "tags": [
          "Advertiser"
        ],
        "description": "Retrieves corresponding Datasets for a given Advertiser. Only those Datasets are included for which the given Advertiser is marked a primary.",
        "operationId": "getDatasetList",
        "parameters": [
          {
            "name": "advertiser-id",
            "in": "path",
            "description": "The id of the Advertiser for which Datasets are being retrieved.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertiserDatasetListResponse"
                },
                "example": {
                  "data": [
                    {
                      "type": "dataset",
                      "id": "73550",
                      "attributes": {
                        "name": "Dataset 1"
                      }
                    }
                  ],
                  "errors": [ ],
                  "warnings": [ ]
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertiserDatasetListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertiserDatasetListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "traceId": "cb381a21702b247f",
                      "type": "authentication",
                      "code": "invalid",
                      "title": "Permission Denied; This endpoint expects a user token",
                      "detail": "Permission Denied; This endpoint expects a user token"
                    }
                  ],
                  "warnings": [ ]
                }
              },
              "text/plain": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertiserDatasetListResponse"
                },
                "example": {
                  "data": [ ],
                  "errors": [
                    {
                      "traceId": "cb381a21702b247f",
                      "type": "authorization",
                      "code": "permission-denied",
                      "title": "Permission denied, you do not have access this to resource",
                      "detail": "Permission denied, you do not have access this to resource"
                    }
                  ],
                  "warnings": [ ]
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertiserDatasetListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdvertiserDatasetListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [ ]
          }
        ]
      }
    },
    "/preview/advertisers/{advertiserId}/targeting/bundle-rules": {
      "delete": {
        "tags": [
          "Campaign"
        ],
        "description": "Removes some bundles from the current list of targeted bundles for a given advertiser.<br />\r\nThe mode of targeting (allowlist/blocklist) cannot be updated through this method.",
        "operationId": "DeleteAdvertiserBundleRules",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "The advertiser id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the list of items to delete from the list",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            }
          },
          "x-bodyName": "apiRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Returns a list of all targeted bundles for an advertiser.",
        "operationId": "GetAdvertiserBundleRules",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "The advertiser id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Inserts a list of targeted bundles for an advertiser and sets the targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace the current list if any.",
        "operationId": "PostAdvertiserBundleRules",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "The advertiser id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Description of the targeting rule to setup",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            }
          },
          "x-bodyName": "apiRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Updates the targeted bundles for an advertiser by adding a list of bundles to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist) cannot be updated through this method.",
        "operationId": "PutAdvertiserBundleRules",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "The advertiser id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the list of items to add to the existing list",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            }
          },
          "x-bodyName": "apiRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/advertisers/{advertiserId}/targeting/domain-rules": {
      "delete": {
        "tags": [
          "Campaign"
        ],
        "description": "Removes some domains from the current list of targeted domains for a given advertiser.<br />\r\nThe mode of targeting (allowlist/blocklist) cannot be updated through this method.",
        "operationId": "DeleteAdvertiserDomainRules",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "The advertiser id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the list of items to delete from the list",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            }
          },
          "x-bodyName": "apiRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Returns a list of all targeted domains for an advertiser.",
        "operationId": "GetAdvertiserDomainRules",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "The advertiser id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Inserts a list of targeted domains for an advertiser and sets the targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace the current list if any.",
        "operationId": "PostAdvertiserDomainRules",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "The advertiser id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Description of the targeting rule to setup",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            }
          },
          "x-bodyName": "apiRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Updates the targeted domains for an advertiser by adding a list of domains to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist) cannot be updated through this method.",
        "operationId": "PutAdvertiserDomainRules",
        "parameters": [
          {
            "name": "advertiserId",
            "in": "path",
            "description": "The advertiser id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the list of items to add to the existing list",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            }
          },
          "x-bodyName": "apiRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/advertisers/me": {
      "get": {
        "tags": [
          "Advertiser"
        ],
        "description": "Fetch the portfolio of Advertisers for this account",
        "operationId": "ApiPortfolioGet",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortfolioResponse"
                },
                "example": {
                  "data": [
                    {
                      "type": "advertiser",
                      "id": "13",
                      "attributes": {
                        "advertiserName": "ClientName1"
                      }
                    },
                    {
                      "type": "advertiser",
                      "id": "1352",
                      "attributes": {
                        "advertiserName": "ClientName2"
                      }
                    },
                    {
                      "type": "advertiser",
                      "id": "73550",
                      "attributes": {
                        "advertiserName": "ClientName3"
                      }
                    }
                  ],
                  "errors": [ ],
                  "warnings": [ ]
                }
              },
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortfolioResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortfolioResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortfolioResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortfolioResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortfolioResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [ ]
          }
        ]
      }
    },
    "/preview/audiences/{audience-id}/contactlist-attributes": {
      "patch": {
        "tags": [
          "Audience"
        ],
        "description": "Add/remove identifiers to or from a contact list.",
        "operationId": "modifyAudienceUsersWithAttributes",
        "parameters": [
          {
            "name": "audience-id",
            "in": "path",
            "description": "The id of the contact list audience-segment to amend",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactlistWithAttributesAmendmentRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "body"
        },
        "responses": {
          "200": {
            "description": "Summary of created request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModifyAudienceResponse"
                },
                "example": {
                  "data": {
                    "type": "ContactlistAmendment",
                    "attributes": {
                      "contactListId": 12,
                      "operation": "add",
                      "requestDate": "2018-12-10T10:00:50.0000000+00:00",
                      "identifierType": "madid",
                      "nbValidIdentifiers": 7343,
                      "nbInvalidIdentifiers": 13,
                      "sampleInvalidIdentifiers": [
                        "InvalidIdentifier"
                      ]
                    }
                  },
                  "errors": [ ],
                  "warnings": [ ]
                }
              }
            }
          },
          "401": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/campaigns/{campaignId}/targeting/bundle-rules": {
      "delete": {
        "tags": [
          "Campaign"
        ],
        "description": "Removes some bundles from the current list of targeted bundles for a given campaign.<br />\r\nThe mode of targeting (allowlist/blocklist) cannot be updated through this method.",
        "operationId": "DeleteCampaignBundleRules",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the list of items to delete from the list",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            }
          },
          "x-bodyName": "apiRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Returns a list of all targeted bundles for a campaign.",
        "operationId": "GetCampaignBundleRules",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Inserts a list of targeted bundles for a campaign and sets the targeting mode : blocklisting or allowlisting.<br />\r\nIt will replace the current list if any.",
        "operationId": "PostCampaignBundleRules",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Description of the targeting rule to setup",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            }
          },
          "x-bodyName": "apiRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Updates the targeted bundles for a campaign by adding a list of bundles to the current list.<br />\r\nThe mode of targeting (allowlist/blocklist) cannot be updated through this method.",
        "operationId": "PutCampaignBundleRules",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the list of items to add to the existing list",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            }
          },
          "x-bodyName": "apiRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/campaigns/{campaignId}/targeting/domain-rules": {
      "delete": {
        "tags": [
          "Campaign"
        ],
        "description": "Removes some domains from the current list of targeted domains for a given campaign.<br />\r\nThe mode of targeting (allowlist/blocklist) cannot be updated through this method.",
        "operationId": "DeleteCampaignDomainRules",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the list of items to delete from the list",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequestOfTargetingEntity"
              }
            }
          },
          "x-bodyName": "apiRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "MarketingSolutions_Campaign_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Returns a list of all targeted domains for a campaign.",
        "operationId": "GetCampaignDomainRules",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseOfTargetingEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "text/json": {
                "schema": {
[...]
