{
    "openapi": "3.0.1",
    "info": {
        "title": "Criteo API",
        "description": "Criteo publicly exposed API",
        "version": "Preview"
    },
    "servers": [
        {
            "url": "https://api.criteo.com"
        }
    ],
    "paths": {
        "/preview/marketing-solutions/audience-segments/{audience-segment-id}/contact-list": {
            "patch": {
                "tags": [
                    "Audience"
                ],
                "description": "Add/remove identifiers to or from an Contact List Audience Segment",
                "operationId": "updateContactListIdentifiers",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactlistAmendmentRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "body"
                },
                "responses": {
                    "200": {
                        "description": "Summary of created request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModifyAudienceResponse"
                                },
                                "example": {
                                    "data": {
                                        "type": "ContactlistAmendment",
                                        "attributes": {
                                            "contactListId": "12",
                                            "operation": "add",
                                            "requestDate": "2018-12-10T10:00:50.0000000+00:00",
                                            "identifierType": "madid",
                                            "nbValidIdentifiers": 7343,
                                            "nbInvalidIdentifiers": 13,
                                            "sampleInvalidIdentifiers": [
                                                "InvalidIdentifier"
                                            ]
                                        }
                                    },
                                    "errors": [],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCodeResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "validation",
                                            "code": "audience-invalid",
                                            "instance": "/audience/314159",
                                            "title": "Audience is invalid",
                                            "detail": "Audience is not found, please choose a valid audience"
                                        }
                                    ],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Audience 123 not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCodeResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "validation",
                                            "code": "audience-invalid",
                                            "instance": "/audience/314159",
                                            "title": "Audience is invalid",
                                            "detail": "Audience is not found, please choose a valid audience"
                                        }
                                    ],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Audience"
                ],
                "description": "Delete all identifiers from a Contact List Audience Segment",
                "operationId": "deleteContactListIdentifiers",
                "responses": {
                    "200": {
                        "description": "The Contact List was emptied",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteAudienceContactListResponse"
                                },
                                "example": {
                                    "data": {
                                        "id": "1",
                                        "type": "AudienceContactlist"
                                    },
                                    "errors": [],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorCodeResponse"
                                },
                                "example": {
                                    "errors": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "validation",
                                            "code": "audience-invalid",
                                            "instance": "/audience/314159",
                                            "title": "Audience is invalid",
                                            "detail": "Audience is not found, please choose a valid audience"
                                        }
                                    ],
                                    "warnings": [
                                        {
                                            "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                                            "type": "deprecation",
                                            "code": "deprecated-field",
                                            "instance": "/audiences/314195",
                                            "title": "'nbValidIds' is deprecated",
                                            "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Audience"
                ],
                "description": "Returns the statistics of a contact list segment.",
                "operationId": "getContactListStatistics",
                "parameters": [
                    {
                        "name": "audience-segment-id",
                        "in": "path",
                        "description": "The segment ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactListStatisticsEntityV1Response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactListStatisticsEntityV1Response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContactListStatisticsEntityV1Response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            },
            "parameters": [
                {
                    "name": "audience-segment-id",
                    "in": "path",
                    "description": "The ID of the Audience Segment to amend",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "int32"
                    }
                }
            ]
        },
        "/preview/audiences/{audience-id}/contactlist-attributes": {
            "patch": {
                "tags": [
                    "Audience"
                ],
                "description": "Add/remove users to or from an audience",
                "operationId": "modifyAudienceUsersWithAttributes",
                "parameters": [
                    {
                        "name": "audience-id",
                        "in": "path",
                        "description": "The id of the audience to amend",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactlistWithAttributesAmendmentRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "body"
                },
                "responses": {
                    "200": {
                        "description": "Summary of created request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ModifyAudienceResponse"
                                },
                                "example": {
                                    "data": {
                                        "operation": "",
                                        "requestDate": "",
                                        "identifierType": "",
                                        "nbValidIdentifiers": 0,
                                        "nbInvalidIdentifiers": 0,
                                        "sampleInvalidIdentifiers": [
                                            ""
                                        ]
                                    },
                                    "errors": [],
                                    "warnings": []
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Not authorized"
                    }
                }
            }
        },
        "/me": {
            "get": {
                "tags": [
                    "Gateway"
                ],
                "description": "Get information about the currently logged application",
                "operationId": "GetCurrentApplication",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationSummaryModelResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audiences/search": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Returns a list of audiences that match the provided filters. If present, the filters are AND'ed together when applied.",
                "operationId": "searchAudiences",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of elements to be returned. The default is 50 and the maximum is 100.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The (zero-based) offset into the collection. The default is 0.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Audience search filters.",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSearchInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSearchInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSearchInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSearchInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1AudienceSearchMetadataV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1AudienceSearchMetadataV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1AudienceSearchMetadataV1ListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audiences/create": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Creates all audiences with a valid configuration, and returns their IDs. For those that cannot be created, one or multiple errors are returned.",
                "operationId": "bulkCreateAudiences",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkCreateInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkCreateInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkCreateInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkCreateInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success or partial success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1ListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audiences": {
            "patch": {
                "tags": [
                    "Audience"
                ],
                "description": "Updates the properties of all audiences with a valid configuration, and returns their IDs. For those that cannot be updated, one or multiple errors are returned.",
                "operationId": "bulkUpdateAudiences",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkUpdateInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkUpdateInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkUpdateInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkUpdateInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success or partial success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1ListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audiences/delete": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Deletes the audiences associated to the given audience IDs.",
                "operationId": "bulkDeleteAudiences",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkDeleteInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkDeleteInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkDeleteInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkDeleteInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceIdEntityV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceIdEntityV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceIdEntityV1ListResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Success or partial success",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audiences/compute-sizes": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Gets the size of all audiences. An error is returned for those whose size calculation is not supported.",
                "operationId": "computeAudiencesSizes",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceComputeSizesInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceComputeSizesInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceComputeSizesInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceComputeSizesInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success or partial success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSizeEntityV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSizeEntityV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSizeEntityV1ListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audiences/estimate-size": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Gets the size estimation of a non existent audience. An error is returned when size calculation is not supported.",
                "operationId": "estimateAudienceSize",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceEstimateSizeInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceEstimateSizeInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceEstimateSizeInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceEstimateSizeInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success or partial success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSizeEstimationV1Response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSizeEstimationV1Response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSizeEstimationV1Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audience-segments/search": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Returns a list of segments that match the provided filters. If present, the filters are AND'ed together when applied.",
                "operationId": "searchAudienceSegments",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of elements to be returned. The default is 50 and the maximum is 100.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The (zero-based) offset into the collection. The default is 0.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Segment search filters.",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentSearchInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentSearchInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentSearchInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentSearchInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentEntityV1AudienceSegmentSearchMetadataV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentEntityV1AudienceSegmentSearchMetadataV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentEntityV1AudienceSegmentSearchMetadataV1ListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audience-segments/create": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Creates all segments with a valid configuration, and returns their IDs. For those that cannot be created, one or multiple errors are returned.",
                "operationId": "bulkCreateAudienceSegments",
                "requestBody": {
                    "description": "Segment creation parameter",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkCreateInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkCreateInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkCreateInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkCreateInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success or partial success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentEntityV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentEntityV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentEntityV1ListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audience-segments": {
            "patch": {
                "tags": [
                    "Audience"
                ],
                "description": "Updates the properties of all segments with a valid configuration, and returns their IDs. For those that cannot be updated, one or multiple errors are returned.",
                "operationId": "bulkUpdateAudienceSegments",
                "requestBody": {
                    "description": "Segment Update request",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkUpdateInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkUpdateInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkUpdateInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkUpdateInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success or partial success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentEntityV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentEntityV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentEntityV1ListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audience-segments/delete": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Delete the segments associated to the given audience IDs.",
                "operationId": "bulkDeleteAudienceSegment",
                "requestBody": {
                    "description": "Segment delete request.",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkDeleteInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkDeleteInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkDeleteInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkDeleteInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success or partial success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentIdEntityV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentIdEntityV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentIdEntityV1ListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audience-segments/compute-sizes": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Gets the size of all segments. An error is returned for those whose size calculation is not supported.",
                "operationId": "computeAudienceSegmentsSizes",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentComputeSizesInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentComputeSizesInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentComputeSizesInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentComputeSizesInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success or partial success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentSizeEntityV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentSizeEntityV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentSizeEntityV1ListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audience-segments/estimate-size": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Gets the size estimation of a non existent segment . An error is returned when size calculation is not supported.",
                "operationId": "estimateAudienceSegmentSize",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentEstimateSizeInputV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentEstimateSizeInputV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentEstimateSizeInputV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentEstimateSizeInputV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentSizeEstimationV1Response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentSizeEstimationV1Response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentSizeEstimationV1Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audience-segments/commerce-interests": {
            "get": {
                "tags": [
                    "Audience"
                ],
                "description": "Returns a list with all available commerce interests that can be used to define a commerce segment. These commerce interests correspond to the Google product taxonomy.",
                "operationId": "getCommerceInterests",
                "parameters": [
                    {
                        "name": "advertiser-id",
                        "in": "query",
                        "description": "The advertiser ID.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "The ISO 3166-1 alpha-2 country code.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommerceAudienceSegmentInterestEntityV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommerceAudienceSegmentInterestEntityV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommerceAudienceSegmentInterestEntityV1ListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/audience-segments/commerce-brands": {
            "get": {
                "tags": [
                    "Audience"
                ],
                "description": "Returns a list with all available commerce brands that can be used to define a commerce segment.",
                "operationId": "getCommerceBrands",
                "parameters": [
                    {
                        "name": "advertiser-id",
                        "in": "query",
                        "description": "The advertiser ID.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "The ISO 3166-1 alpha-2 country code.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommerceAudienceSegmentBrandEntityV1ListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommerceAudienceSegmentBrandEntityV1ListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommerceAudienceSegmentBrandEntityV1ListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/ad-sets/{ad-set-id}/audience": {
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "Link or unlink an audience with an ad set",
                "operationId": "updateAdSetAudience",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "Ad set id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Audience and ad set to link",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdSetAudienceLinkInputEntityV1"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdSetAudienceLinkInputEntityV1"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdSetAudienceLinkInputEntityV1"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdSetAudienceLinkInputEntityV1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetAudienceLinkEntityV1Response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetAudienceLinkEntityV1Response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetAudienceLinkEntityV1Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/ad-sets/{adSetId}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get the data for the specified ad set",
                "operationId": "GetAdSet",
                "parameters": [
                    {
                        "name": "adSetId",
                        "in": "path",
                        "description": "Id of the ad set",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data for the ad set",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSet"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSet"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSet"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/ad-sets/search": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Search for ad sets",
                "operationId": "SearchAdSets",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestAdSetSearch"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestAdSetSearch"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestAdSetSearch"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestAdSetSearch"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "data for the ad sets",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesReadAdSet"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesReadAdSet"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesReadAdSet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/ad-sets": {
            "patch": {
                "tags": [
                    "Campaign"
                ],
                "description": "Patch a list of AdSets.",
                "operationId": "PatchAdSets",
                "requestBody": {
                    "description": "List of adsets to patch.",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsPatchAdSet"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsPatchAdSet"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsPatchAdSet"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsPatchAdSet"
                            }
                        }
                    },
                    "x-bodyName": "adSets"
                },
                "responses": {
                    "200": {
                        "description": "List of patched adSets.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseAdSetId"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseAdSetId"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseAdSetId"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Create the specified ad set",
                "operationId": "CreateAdSet",
                "requestBody": {
                    "description": "the ad sets to create",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAdSetRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAdSetRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAdSetRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAdSetRequest"
                            }
                        }
                    },
                    "x-bodyName": "adSet"
                },
                "responses": {
                    "201": {
                        "description": "The ad set that has been created and errors / warnings",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSet"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSet"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSet"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/ad-sets/start": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Start the specified list of ad sets",
                "operationId": "StartAdSets",
                "requestBody": {
                    "description": "All the ad sets to start",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        }
                    },
                    "x-bodyName": "adSets"
                },
                "responses": {
                    "200": {
                        "description": "List of ad sets that have been started and errors / warnings by ad set",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/ad-sets/stop": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Stop the specified list of ad sets",
                "operationId": "StopAdSets",
                "requestBody": {
                    "description": "All the ad sets to stop",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsAdSetId"
                            }
                        }
                    },
                    "x-bodyName": "adSets"
                },
                "responses": {
                    "200": {
                        "description": "List of ad sets that have been stopped and errors / warnings by ad set",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetId"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get the Display Multipliers for all valid Categories associated to an Ad Set",
                "operationId": "GetDisplayMultipliers",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "Id of the Ad Set",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Display Multipliers for all valid Categories associated to an Ad Set.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetDisplayMultiplierListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetDisplayMultiplierListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetDisplayMultiplierListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Campaign"
                ],
                "description": "Patch Display Multipliers for one or more Categories in a single request. Partial success policy is followed.",
                "operationId": "PatchDisplayMultipliers",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "Id of the Ad Set",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierListRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierListRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierListRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierListRequest"
                            }
                        }
                    },
                    "x-bodyName": "displayMultipliersToUpdate"
                },
                "responses": {
                    "200": {
                        "description": "List of updated Display Multipliers for given Categories associated to an Ad Set.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            }
        },
        "/preview/marketing-solutions/ad-sets/{ad-set-id}/category-bids": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get the Category Bids for all valid Categories associated to an Ad Set",
                "operationId": "GetCategoryBidList",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "Id of the Ad Set",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Category Bids for all valid Categories associated to an Ad Set.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetCategoryBidListResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetCategoryBidListResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetCategoryBidListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "401": {
                        "description": "The API client is not properly authenticated.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    },
                    "403": {
                        "description": "The API client is not authorized to access this resource or the resource does not exist.",
                        "content": {
                            "text/plain": {},
                            "application/json": {},
                            "text/json": {}
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Campaign"
                ],
                "description": "Patch Category Bids for one or more Categories in a single request. Partial success policy is followed.",
                "operationId": "PatchCategoryBidList",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "Id of the Ad Set",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetCategoryBidListRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchAdSetCategoryBidListRequest"
                            }
                        },
                        "text/json": {
[...]
