{
  "openapi": "3.0.1",
  "info": {
    "title": "Criteo API",
    "description": "Criteo API - RetailMedia",
    "version": "Preview"
  },
  "servers": [
    {
      "url": "https://api.criteo.com"
    }
  ],
  "paths": {
    "/preview/retail-media/account-management/accounts/{accountId}/private-market-child-accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "description": "Gets Private Market child accounts that are associated with the given account",
        "operationId": "GetPrivateMarketChildAccountsByAccountId",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of accounts to be returned. The default is 25.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection of accounts. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResourceCollectionOutcomeOfRetailMediaChildAccountAndMetadata"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Accounts_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audience-segments": {
      "patch": {
        "tags": [
          "Audience"
        ],
        "description": "Updates the properties of all segments with a valid configuration, and returns the full segments. For those that cannot be updated, one or multiple errors are returned.",
        "operationId": "bulkUpdateAudienceSegments",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Segment Update request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceSegmentBulkUpdateInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceSegmentEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audience-segments/{audience-segment-id}/contact-list": {
      "get": {
        "tags": [
          "Audience"
        ],
        "description": "Returns the statistics of a contact list segment.",
        "operationId": "getAudienceSegmentContactListStatistics",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audience-segment-id",
            "in": "path",
            "description": "Segment Id.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmContactListStatisticsEntityV1Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audience-segments/compute-sizes": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Gets the size of all segments. An error is returned for those whose size calculation is not supported.",
        "operationId": "computeAudienceSegmentsSizes",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceSegmentComputeSizesInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceSegmentSizeEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audience-segments/create": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Creates all segments with a valid configuration, and returns the full segments. For those that cannot be created, one or multiple errors are returned.",
        "operationId": "bulkCreateAudienceSegments",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Segment creation parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceSegmentBulkCreateInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceSegmentEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audience-segments/delete": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Delete the segments associated to the given IDs.",
        "operationId": "bulkDeleteAudienceSegments",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Segment delete request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceSegmentBulkDeleteInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audience-segments/estimate-size": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Gets the size estimation of a non existent segment. An error is returned when size calculation is not supported.",
        "operationId": "estimateAudienceSegmentSize",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceSegmentEstimateSizeInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceSegmentSizeEstimationV1Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audience-segments/search": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Returns a list of segments that match the provided filters. If present, the filters are AND'ed together when applied.",
        "operationId": "searchAudienceSegments",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of elements to be returned. The default is 50 and the maximum is 500.",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "description": "Segment search filters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceSegmentSearchInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audiences": {
      "patch": {
        "tags": [
          "Audience"
        ],
        "description": "Updates the properties of all audiences with a valid configuration, and returns their IDs. For those that cannot be updated, one or multiple errors are returned.",
        "operationId": "bulkUpdateAudience",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceBulkUpdateInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audiences/compute-sizes": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Gets the size of all audiences. An error is returned for those whose size calculation is not supported.",
        "operationId": "computeAudiencesSizes",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceComputeSizesInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceSizeEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audiences/create": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Creates all audiences with a valid configuration, and returns their IDs. For those that cannot be created, one or multiple errors are returned.",
        "operationId": "bulkCreateAudience",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Audience creation parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceBulkCreateInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceEntityV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audiences/delete": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Deletes the audiences associated to the given IDs.",
        "operationId": "bulkDeleteAudiences",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceBulkDeleteInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse"
                }
              }
            }
          },
          "204": {
            "description": "Success or partial success",
            "content": {
              "application/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audiences/estimate-size": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Gets the size estimation of a non existent audience. An error is returned when size calculation is not supported.",
        "operationId": "estimateAudienceSize",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceEstimateSizeInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceSizeEstimationV1Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/audiences/search": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Returns a list of audiences that match the provided filters. If present, the filters are AND'ed together when applied.",
        "operationId": "searchAudiences",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of elements to be returned. The default is 50 and the maximum is 500.",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset into the collection. The default is 0.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "description": "Audience search filters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmAudienceSearchInputV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success or partial success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/balances": {
      "get": {
        "tags": [
          "Balance"
        ],
        "description": "Gets page of balance objects for the given account id",
        "operationId": "GetBalancesByAccountId",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account to get balances for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "The ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The 0 indexed page index you would like to receive given the page size",
            "style": "form",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items you would like to receive in this request",
            "style": "form",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponseV2PagedListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Balance_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Balance"
        ],
        "description": "Create balance for the given account id",
        "operationId": "CreateBalanceByAccountId",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account to create balances for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object that represents the available options to set when creating a Retail Media Balance",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBalanceV2Request"
              }
            }
          },
          "x-bodyName": "createBalance"
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponseV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Balance_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/balances/{balance-id}": {
      "get": {
        "tags": [
          "Balance"
        ],
        "description": "Get a balance for the given account id and balance id",
        "operationId": "GetBalanceByAccountAndBalanceId",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account of the balance",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance-id",
            "in": "path",
            "description": "The balance id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponseV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Balance_Read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Balance"
        ],
        "description": "Modify a balance for the given account id",
        "operationId": "ModifyBalanceByAccountAndBalanceId",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account of the balance",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance-id",
            "in": "path",
            "description": "The balance to change the dates",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object that represents the available options to modify a balance.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBalanceModelV2Request"
              }
            }
          },
          "x-bodyName": "updateBalanceModel"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponseV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Balance_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/balances/{balance-id}/change-dates": {
      "post": {
        "tags": [
          "Balance"
        ],
        "description": "Change dates of a balance for the given account id",
        "operationId": "ChangeDatesByAccountAndBalanceId",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account of the balance",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance-id",
            "in": "path",
            "description": "The balance to change the dates",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object that represents the available options to modify schedule of a balance.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeDatesOfBalanceV2Request"
              }
            }
          },
          "x-bodyName": "changeDatesOfBalance"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponseV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Balance_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/creatives": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Create a creative for an account",
        "operationId": "CreateCreative",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "External account id to create a creative for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The creative to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeCreateModel2"
              }
            }
          },
          "x-bodyName": "creative"
        },
        "responses": {
          "201": {
            "description": "Creatives created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/creatives/{creative-id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get the specified creative",
        "operationId": "GetCreative",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "External account id to retrieve creatives for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creative-id",
            "in": "path",
            "description": "Creative to get",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Creatives found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Update a creative",
        "operationId": "UpdateCreative",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "External account id containing the creative",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creative-id",
            "in": "path",
            "description": "Creative to update",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The creative to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeUpdateModel2"
              }
            }
          },
          "x-bodyName": "creative"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative2Response"
                }
              }
            }
          },
          "204": {
            "description": "Creative updated"
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/creatives/search": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Get account creatives",
        "operationId": "SearchAccountCreatives",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "External account id to retrieve creatives for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creative-ids",
            "in": "query",
            "description": "Creatives to filter by",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Creatives found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative2ListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{account-id}/line-items/cap-out-history": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Get the cap out history for line items",
        "operationId": "GetCapoutHistory",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "account id that own the lineitem",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "lineitem budgetcapout history  object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputLineItemBudgetCapOutHistoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeLineItemBudgetCapOutHistoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{accountId}/grant-third-party-consent": {
      "post": {
        "tags": [
          "ThirdPartyAccounts"
        ],
        "summary": "",
        "description": "Grant third-party consent to a business application on behalf of a Private Market demand account",
        "operationId": "GrantThirdPartyConsent",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The demand account ID on which to grant consent",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request input containing clientId, callbackURL, and callbackState",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantConsentInput"
              }
            }
          },
          "x-bodyName": "grantConsentInput"
        },
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_ThirdPartyAccounts_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/{accountId}/retailers/search": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Searches for retailers associated with the specified account based on provided search criteria",
        "operationId": "SearchRetailersV1",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The external account identifier",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return. Must be between 1 and 10. Default is 5.",
            "style": "form",
            "schema": {
              "maximum": 10,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip before starting to collect the result set. Default is 0.",
            "style": "form",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "description": "The search request containing filtering parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailerSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResourceCollectionOutcomeOfRetailerResultAndMetadata"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/fees/search": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "description": "Get fees for provided accounts",
        "operationId": "AccountFeesSearch",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "used for paging, number of results returned per request, Maximum of 500",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "used for paging, number of records to skip",
            "style": "form",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputAccountFeesSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceCollectionOutcomePrivateMarketAccountFeesAndMetadata"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Accounts_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/accounts/fees/update": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "description": "Set fees for provided accounts",
        "operationId": "UpdateAccountFees",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputAccountFeesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Accounts_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/auction-line-items/{lineItemId}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets a sponsored product line item by its id.",
        "operationId": "GetAuctionLineItemV2",
        "parameters": [
          {
            "name": "lineItemId",
            "in": "path",
            "description": "The id of the line item",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Updates a Sponsored Products Line Item given a line item id and a request.",
        "operationId": "UpdateAuctionLineItemV2",
        "parameters": [
          {
            "name": "lineItemId",
            "in": "path",
            "description": "The external line item ID of the sponsored products line item.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "An update request containing all details of the requested update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemUpdateRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/audience-segments/{audience-segment-id}/contact-list/add-remove": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Add/remove identifiers to or from a retail-media contact list audience-segment, with external audience segment id.",
        "operationId": "AddRemoveContactListByAudienceSegment",
        "parameters": [
          {
            "name": "audience-segment-id",
            "in": "path",
            "description": "The id of the contact list audience-segment to amend, we only accept external Id here",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetailMediaContactlistAmendmentRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "body"
        },
        "responses": {
          "200": {
            "description": "Summary of created request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailMediaContactlistOperation"
                },
                "example": {
                  "type": "AddRemoveContactlistResult",
                  "data": {
                    "contactListId": 568708742535471104,
                    "operation": "add",
                    "requestDate": "2018-12-10T10:00:50.0000000+00:00",
                    "identifierType": "madid",
                    "nbValidIdentifiers": 7343,
                    "nbInvalidIdentifiers": 13,
                    "sampleInvalidIdentifiers": [
                      "InvalidIdentifier"
                    ]
                  },
                  "errors": [
                    {
                      "traceId": "667ac683ac797284.667ac683ac797284<:667ac683ac797284",
                      "type": "availability",
                      "code": "internal-error",
                      "instance": "",
                      "title": "Internal error"
                    }
                  ],
                  "warnings": [
                    {
                      "traceId": "56ed4096-f96a-4944-8881-05468efe0ec9",
                      "type": "deprecation",
                      "code": "deprecated-field",
                      "instance": "/audiences/314195",
                      "title": "'nbValidIds' is deprecated",
                      "detail": "The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers'"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/audience-segments/{audience-segment-id}/contact-list/clear": {
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Delete all identifiers from a retail-media contact list audience-segment, with external audience segment id.",
        "operationId": "ClearContactListByAudienceSegment",
        "parameters": [
          {
            "name": "audience-segment-id",
            "in": "path",
            "description": "The id of the contact list audience-segment to amend, we only accept external Id here",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The Contact List identifiers were deleted",
            "content": {
              "application/json": { }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Audience_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/balances/{balanceId}/history": {
      "get": {
        "tags": [
          "Balance"
        ],
        "description": "Gets the balance's historical change data.",
        "operationId": "GetBalanceHistory",
        "parameters": [
          {
            "name": "balanceId",
            "in": "path",
            "description": "Balance id.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of elements to be returned.",
            "style": "form",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "limitToChangeTypes",
            "in": "query",
            "description": "Comma separated change types string that will be queried.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) starting offset in the collection.",
            "style": "form",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageOfBalanceHistoryChangeDataCaptureV1"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Balance_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/billing/partner-report": {
      "post": {
        "tags": [
          "Billing"
        ],
        "description": "Create a Partner Billing Report request.",
        "operationId": "CreatePartnerBillingReportRequestV1",
        "requestBody": {
          "description": "Partner Billing Report request object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputPartnerBillingReportRequestV1"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResourceOutcomePartnerBillingReportStatusV1"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Billing_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/billing/partner-report/{requestId}/output": {
      "get": {
        "tags": [
          "Billing"
        ],
        "description": "Get the output of an existing Partner Billing Report.",
        "operationId": "GetPartnerBillingReportOutputV1",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "The id of a Partner Billing Report request.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Billing_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/billing/partner-report/{requestId}/status": {
      "get": {
        "tags": [
          "Billing"
        ],
        "description": "Get the status of an existing Partner Billing Report.",
        "operationId": "GetPartnerBillingReportStatusV1",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "The id of a Partner Billing Report request.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResourceOutcomePartnerBillingReportStatusV1"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Billing_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/brands/search": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Search for brands given a retailer ID and search term.",
        "operationId": "SearchBrands",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "the number of brands to return",
            "style": "form",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset of paginated results",
            "style": "form",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "requestBody": {
          "description": "BrandIdSearchRequest which contains the request parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputBrandIdSearchRequest"
              }
            }
          },
          "x-bodyName": "brandIdSearchRequest"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResourceCollectionOutcomeBrandIdSearchResultPagingOffsetLimitMetadata"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/campaigns/{campaign-id}/preferred-line-items": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets page of preferred line item objects for the given campaign id",
        "operationId": "GetPreferredLineItemsByCampaignId",
        "parameters": [
          {
            "name": "campaign-id",
            "in": "path",
            "description": "The given campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "The ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The 0 indexed page index you would like to receive given the page size",
            "style": "form",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items you would like to receive in this request",
            "style": "form",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferredLineItemV2PagedListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Creates a new preferred line item with the specified settings",
        "operationId": "CreatePreferredLineItemByCampaignId",
        "parameters": [
          {
            "name": "campaign-id",
            "in": "path",
            "description": "The given campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The line item settings to create a line item with",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreferredLineItemCreateModelV2Request"
              }
            }
          },
          "x-bodyName": "lineItem"
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferredLineItemV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/campaigns/{campaignId}/auction-line-items": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets a page of sponsored product line items by campaign id.",
        "operationId": "GetAuctionLineItemsByCampaignIdV2",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The id of the campaign",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of elements to be returned on a page.",
            "style": "form",
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "limitToIds",
            "in": "query",
            "description": "The ids to limit the auction line item results to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) starting offset into the collection.",
            "style": "form",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResourceCollectionOutcomeOfSponsoredProductsLineItemAndMetadata"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Creates new auction line item with the specified settings",
        "operationId": "CreateAuctionLineItemV2",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "The given campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The line item settings to create a line item with",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemCreateRequestModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/catalog/products/batch": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "description": "Used to publish a batch of operations to insert, update and deletes products.\n The batch is processed asynchronously.The response provides an operationToken which can be used to track\n the status of the report of the operation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductsCustomBatchRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "body"
        },
        "responses": {
          "202": {
            "description": "Batch accepted. The status of the operation can be tracked using the report endpoint and the operationToken.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchAcceptedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Catalog_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/catalog/products/batch/report/{operation-token}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "description": "Get the report of an asynchronous batch operation previously requested",
        "parameters": [
          {
            "name": "operation-token",
            "in": "path",
            "description": "The token returned by the batch endpoint.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The report object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOkResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Catalog_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/catalogs/{catalogId}/status": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Check the status of a catalog request.",
        "operationId": "Catalog_GetApiExternalV2CatalogStatusByCatalogId",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "A catalog ID returned from an account catalog request.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog request found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/catalogs/sku-retrieval": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Endpoint to search skus by text, retailer and sellers/brands.",
        "operationId": "SkuRetrievalApi_PostApiV1ExternalCatalogsSkuRetrieval",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The start position in the overall list of matches. Must be zero or greater.",
            "style": "form",
            "schema": {
              "maximum": 500.0,
              "minimum": 0.0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of results to return with each call. Must be greater than zero.",
            "style": "form",
            "schema": {
              "maximum": 1000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "requestBody": {
          "description": "The list of SKU keys to retrieve sku information",
          "content": {
            "application/json": {
              "schema": {
                "uniqueItems": false,
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "x-bodyName": "skuKeys"
        },
        "responses": {
          "200": {
            "description": "Skus found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuDataPreviewListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/catalogs/sku-search": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Endpoint to search skus by text, retailer and sellers/brands.",
        "operationId": "SkuSearchApi_PostApiV1ExternalCatalogsSkuSearch",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The start position in the overall list of matches. Must be zero or greater.",
            "style": "form",
            "schema": {
              "maximum": 500.0,
              "minimum": 0.0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of results to return with each call. Must be greater than zero.",
            "style": "form",
            "schema": {
              "maximum": 1000.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkuSearchRequestPreviewRequest"
              }
            }
          },
          "x-bodyName": "skuRequest"
        },
        "responses": {
          "200": {
            "description": "Skus found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuDataPreviewListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/chatbot-catalogs/{catalogid}/product-recommendations": {
      "post": {
        "tags": [
          "OnSiteRecommendation"
        ],
        "description": "Ask a chatbot for a product recommendation",
        "operationId": "chatbotProductRecommendations",
        "parameters": [
          {
            "name": "catalogid",
            "in": "path",
            "description": "the identifier of the catalog to query",
            "required": true,
            "style": "simple",
            "schema": {
              "title": "catalogid",
              "type": "integer",
              "description": "the identifier of the catalog to query"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InbotDiscussionBodyModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageBodyModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_OnSiteRecommendation_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/line-items/{line-item-id}/product-buttons": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get LineItem Product Buttons",
        "operationId": "GetProductButtonsByLineItemId",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "LineItemId for productButton retrieval",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ProductButtons found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductButtonResponseListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/line-items/{line-item-id}/product-buttons/{product-button-id}": {
      "delete": {
        "tags": [
          "Campaign"
        ],
        "description": "Delete Specific Product Button",
        "operationId": "DeleteProductButtonByLineItemAndProductButtonId",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "LineItemId for productButton delete",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product-button-id",
            "in": "path",
            "description": "productButtonId used for delete",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ProductButton deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductButtonResponseListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get Specific Product Button",
        "operationId": "GetProductButtonByLineItemAndProductButtonId",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "LineItemId for productButton retrieval",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product-button-id",
            "in": "path",
            "description": "productButtonId used for retrieval",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ProductButton found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductButtonResponseListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Update Specific Product Button",
        "operationId": "UpdateProductButtonByLineItemAndProductButtonId",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "LineItemId for productButton update",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product-button-id",
            "in": "path",
            "description": "productButtonId used for update",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Specific Product button update info",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductButtonRequestRequest"
              }
            }
          },
          "x-bodyName": "productButton"
        },
        "responses": {
          "200": {
            "description": "ProductButton updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductButtonResponseListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/line-items/{line-item-id}/product-buttons/create": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Add Specific Product Buttons",
        "operationId": "AppendProductButtonByLineItemId",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "LineItemId for productButton retrieval",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of Product Buttons to append",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductButtonRequestListRequest"
              }
            }
          },
          "x-bodyName": "productButtons"
        },
        "responses": {
          "200": {
            "description": "ProductButtons added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductButtonResponseListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/line-items/{line-item-id}/products": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Retrieve a page of promoted products for a line item",
        "operationId": "FetchPromotedProducts",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "A comma separated list of attribute names from the response model to compute and return.\r\n            Valid values are `status` and `bidOverride` in any order. Defaults to `status`.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum page size to fetch. Defaults to 500.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "line-item-id",
            "in": "path",
            "description": "ID of the line item.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the first item to fetch. Defaults to zero.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Promoted products associated with the line item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotedProductResourceCollectionOutcome"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/line-items/{line-item-id}/products/append": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Append a collection of promoted products to a line item",
        "operationId": "AppendPromotedProducts",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "ID of the line item",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body whose {data} contains an array of promoted products.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromotedProductResourceCollectionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promoted products appended to the line item with warnings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResourceOutcome"
                }
              }
            }
          },
          "204": {
            "description": "Promoted products appended to the line item"
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/line-items/{line-item-id}/products/delete": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Remove a collection of promoted products from a line item",
        "operationId": "DeletePromotedProducts",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "ID of the line item",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body whose {data} contains an array of promoted products.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromotedProductResourceCollectionInput"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Promoted products removed from the line item"
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/line-items/{line-item-id}/products/pause": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Pause a collection of promoted products associated with a line item",
        "operationId": "PausePromotedProducts",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "ID of the line item",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body whose {data} contains an array of promoted products.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromotedProductResourceCollectionInput"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Promoted products paused"
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/line-items/{line-item-id}/products/unpause": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Un-pause a collection of promoted products associated with a line item",
        "operationId": "UnpausePromotedProducts",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "ID of the line item",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body whose {data} contains an array of promoted products.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromotedProductResourceCollectionInput"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Promoted products un-paused"
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/me": {
      "get": {
        "tags": [
          "Gateway"
        ],
        "description": "Get information about the currently logged application",
        "operationId": "GetCurrentApplication",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSummaryModelResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [ ]
          }
        ]
      }
    },
    "/preview/retail-media/preferred-line-items/{line-item-id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets the preferred line item for the given line item id",
        "operationId": "GetPreferredLineItemsByLineItemId",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "The given line item id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferredLineItemV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Updates the preferred line item for the given line item id",
        "operationId": "UpdatePreferredLineItemByLineItemId",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "The given line item id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The line item settings to create a line item with",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreferredLineItemUpdateModelV2Request"
              }
            }
          },
          "x-bodyName": "lineItem"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferredLineItemV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Campaign_Manage"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/reports/{reportId}/output": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns the output of an async report",
        "operationId": "GetAsyncExportOutput",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The ID of the report to retrieve",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Analytics_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/reports/{reportId}/status": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns the status of an async report",
        "operationId": "GetAsyncExportStatus",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The ID of the report to retrieve",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Analytics_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/reports/accounts": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns an asynchronous Accounts Report\nThis endpoint is subject to specific rate limits.",
        "operationId": "GenerateAsyncAccountsReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncAccountsReportRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Analytics_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/reports/campaigns": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "Return an asynchronous Campaigns Report\nThis endpoint is subject to specific rate limits.",
        "operationId": "GenerateAsyncCampaignsReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncCampaignsReportRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Analytics_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/reports/fillrate": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns an asynchronous Fill Rate Report\nThis endpoint is subject to specific rate limits.",
        "operationId": "GenerateAsyncFillRateReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncFillRateReportRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Analytics_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/reports/line-items": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns an asynchronous Line Items Report\nThis endpoint is subject to specific rate limits.",
        "operationId": "GenerateAsyncLineItemsReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncLineItemsReportRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Analytics_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/reports/offsite": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns an asynchronous Offsite Report\nThis endpoint is subject to specific rate limits.",
        "operationId": "GenerateAsyncOffsiteReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncOffsiteReportRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Analytics_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/reports/sync/attributed-transactions": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns a synchronous Attributed Transactions Report",
        "operationId": "GenerateSyncAttributedTransactionsReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncAttributedTransactionsReportRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Analytics_Read"
            ]
          }
        ]
      }
    },
    "/preview/retail-media/reports/sync/campaigns": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns a synchronous Campaigns Report",
        "operationId": "GenerateSyncCampaignsReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncCampaignsReportRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": [
              "RetailMedia_Analytics_Read"
            ]
          }
        ]
      }
    },
[...]
