{
  "openapi": "3.0.1",
  "info": {
    "title": "Criteo API",
    "description": "Criteo API - RetailMedia",
    "version": "2024-04"
  },
  "servers": [
    {
      "url": "https://api.criteo.com"
    }
  ],
  "paths": {
    "/2024-04/retail-media/me": {
      "get": {
        "tags": [
          "Gateway"
        ],
        "description": "Get information about the currently logged application",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSummaryModelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "description": "Gets page of account objects that the current user can access",
        "parameters": [
          {
            "name": "limitToId",
            "in": "query",
            "description": "The ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The 0 indexed page index you would like to receive given the page size",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-nullable": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items you would like to receive in this request",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiPageResponseOfAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiPageResponseOfAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiPageResponseOfAccount"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{accountId}/brands": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets page of retailer objects that are associated with the given account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The given account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "The ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The 0 indexed page index you would like to receive given the page size",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-nullable": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items you would like to receive in this request",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiPageResponseOfBrand"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiPageResponseOfBrand"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiPageResponseOfBrand"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{accountId}/retailers": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets page of retailer objects that are associated with the given account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The given account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "The ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The 0 indexed page index you would like to receive given the page size",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-nullable": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items you would like to receive in this request",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiPageResponseOfRetailer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiPageResponseOfRetailer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiPageResponseOfRetailer"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/assets": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Creates an asset",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "AssetFile"
                ],
                "properties": {
                  "AssetFile": {
                    "type": "string",
                    "description": "The asset binary content",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{accountId}/audiences": {
      "get": {
        "tags": [
          "Audience"
        ],
        "description": "Get a page of Audiences. (deprecated Public API)",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the account to which this audience belongs.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "Limits results to the entity IDs specified; parameter key is repeated, eg. limitToId=1&limitToId=2",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specifies the maximum number of entities returned in a single page; defaults to 25 entities per page.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Returns the specified page of results given a pageSize; pages are 0-indexed.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of audiences for the supplied account or shared by related retailers.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceGetEntityV1ListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceGetEntityV1ListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceGetEntityV1ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "401": {
            "description": "The API client is not properly authenticated.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "The API client is not authorized to access this resource.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Create an Audience (deprecated Public API)",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the account to which this audience belongs.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Audience creation request.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RmLegacyAudienceCreateInputEntityV1"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmLegacyAudienceCreateInputEntityV1"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RmLegacyAudienceCreateInputEntityV1"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RmLegacyAudienceCreateInputEntityV1"
              }
            }
          },
          "required": true,
          "x-bodyName": "body"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceCreateEntityV1Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceCreateEntityV1Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceCreateEntityV1Response"
                }
              }
            }
          },
          "201": {
            "description": "The audience that was just created.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "401": {
            "description": "The API client is not properly authenticated.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "The API client is not authorized to access this resource.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "deprecated": true
      }
    },
    "/2024-04/retail-media/v2/accounts/{accountId}/audiences": {
      "get": {
        "tags": [
          "Audience"
        ],
        "description": "Get a page of Audiences. (deprecated Public API)",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the account to which this audience belongs.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "Limits results to the entity IDs specified; parameter key is repeated, eg. limitToId=1&limitToId=2",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specifies the maximum number of entities returned in a single page; defaults to 25 entities per page.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Returns the specified page of results given a pageSize; pages are 0-indexed.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of audiences for the supplied account or shared by related retailers.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceGetEntityV2ListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceGetEntityV2ListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceGetEntityV2ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "401": {
            "description": "The API client is not properly authenticated.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "The API client is not authorized to access this resource.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Audience"
        ],
        "description": "Create an Audience (deprecated Public API)",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "ID of the account to which this audience belongs.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Audience creation request.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RmLegacyAudienceCreateInputEntityV2"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RmLegacyAudienceCreateInputEntityV2"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RmLegacyAudienceCreateInputEntityV2"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RmLegacyAudienceCreateInputEntityV2"
              }
            }
          },
          "required": true,
          "x-bodyName": "body"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceCreateEntityV2Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceCreateEntityV2Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RmLegacyAudienceCreateEntityV2Response"
                }
              }
            }
          },
          "201": {
            "description": "The audience that was just created.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "401": {
            "description": "The API client is not properly authenticated.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          },
          "403": {
            "description": "The API client is not authorized to access this resource.",
            "content": {
              "text/plain": { },
              "application/json": { },
              "text/json": { }
            }
          }
        },
        "deprecated": true
      }
    },
    "/2024-04/retail-media/line-items/{id}/keywords": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Fetch keywords associated with the specified line item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line item",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordsModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/line-items/{id}/keywords/add-remove": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Add or Remove keywords from the line item in bulk",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line item",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRemoveKeywordsModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcome"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/line-items/{id}/keywords/set-bid": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Set bid overrides for associated keywords to the given line item in bulk",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line item",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetBidsModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcome"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/preferred-deal-line-items/{id}/proposal": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Includes the state of the proposal, the status of the booking and approval, as well as any comments explaining why it might have been rejected.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line item",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProposalStatusModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcome"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/preferred-deal-line-items/{id}/proposal/submit": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Only the components of the Line Item that are in a valid state will be reviewed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the line item",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProposalStatusModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcome"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{account-id}/creatives": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get account creatives",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "External account id to retrieve creatives for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Creatives found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative202110ListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Create a creative for an account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "External account id to create a creative for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "The creative to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeCreateModel202207"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "creative"
        },
        "responses": {
          "201": {
            "description": "Creatives created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative202210Response"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{account-id}/creatives/search": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Get account creatives",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "External account id to retrieve creatives for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "creative-ids",
            "in": "query",
            "description": "Creatives to filter by",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Creatives found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative202210ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{account-id}/creatives/{creative-id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get the specified creative",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "External account id to retrieve creatives for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "creative-id",
            "in": "path",
            "description": "Creative to get",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Creatives found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative202210Response"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Update a creative",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "External account id containing the creative",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "creative-id",
            "in": "path",
            "description": "Creative to update",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "The creative to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreativeUpdateModel202207"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "creative"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Creative202210Response"
                }
              }
            }
          },
          "204": {
            "description": "Creative updated",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{accountId}/catalogs": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Create a request for a Catalog available to the indicated account.",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account to request the catalog for.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonApiRequestOfCatalogRequest"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Catalog request successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponseOfCatalogStatus"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/catalogs/{catalogId}/output": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Output the indicated catalog. Catalogs are only available for retrieval when their associated status request\r\nis at a Success status.\r\nProduces application/x-json-stream of v2021_07 CatalogProduct json objects.",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "A catalog ID returned from an account catalog request.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog download initiated.",
            "content": {
              "application/x-json-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": { }
            }
          },
          "400": {
            "description": "The indicated catalog is not available for retrieval, wait for a success status.",
            "content": {
              "application/x-json-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": { }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/catalogs/{catalogId}/status": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Check the status of a catalog request.",
        "parameters": [
          {
            "name": "catalogId",
            "in": "path",
            "description": "A catalog ID returned from an account catalog request.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog request found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponseOfCatalogStatus"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/categories": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Endpoint to search categories by text and retailer.",
        "parameters": [
          {
            "name": "retailerId",
            "in": "query",
            "description": "The retailer id for which Categories fetched",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          },
          {
            "name": "textSubstring",
            "in": "query",
            "description": "Query string to search across Categories",
            "style": "form",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The start position in the overall list of matches. Must be zero or greater.",
            "style": "form",
            "schema": {
              "maximum": 500.0,
              "minimum": 0.0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-nullable": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of results to return with each call. Must be greater than zero.",
            "style": "form",
            "schema": {
              "maximum": 100.0,
              "minimum": 1.0,
              "type": "integer",
              "format": "int32",
              "default": 100
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Categories found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category202204ListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/categories/{categoryId}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Endpoint to search for a specific category by categoryId.",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "ID of the desired category",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieval completed and category is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category202204"
                }
              }
            }
          },
          "400": {
            "description": "No IDs were passed in.",
            "content": {
              "application/json": { }
            }
          },
          "500": {
            "description": "A non-request input based error occurred in the server.",
            "content": {
              "application/json": { }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/retailers/{retailer-id}/templates": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get retailer creative templates",
        "parameters": [
          {
            "name": "retailer-id",
            "in": "path",
            "description": "External retailer id to retrieve creative templates for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Templates found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/retailers/{retailer-id}/templates/{template-id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets the template for the specified retailer id and template id",
        "parameters": [
          {
            "name": "retailer-id",
            "in": "path",
            "description": "Retailer Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          },
          {
            "name": "template-id",
            "in": "path",
            "description": "Template Id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Template found for the retailer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/retailers/{retailerId}/pages": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get the page types available for the given retailer",
        "parameters": [
          {
            "name": "retailerId",
            "in": "path",
            "description": "The retailers to fetch pages for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Pages fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalRetailerPages202110"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/reports/campaigns": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "Return an asynchronous Campaigns Report",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncCampaignsReportRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncCampaignsReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncCampaignsReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncCampaignsReportRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/reports/line-items": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns an asynchronous Line Items Report",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncLineItemsReportRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncLineItemsReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncLineItemsReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncLineItemsReportRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/reports/revenue": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns an asynchronous Revenue Report",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncRevenueReportRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncRevenueReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncRevenueReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AsyncRevenueReportRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "request"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/reports/{reportId}/output": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns the output of an async report",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The ID of the report to retrieve",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/reports/{reportId}/status": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "description": "Returns the status of an async report",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "The ID of the report to retrieve",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/account-management/accounts/{accountId}/brands/add": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "description": "Add brands to an account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "the account id to update",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "brands to associate to account",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrands"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrands"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrands"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrands"
              }
            }
          },
          "x-bodyName": "brands"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOfRetailMediaBrands"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/account-management/accounts/{accountId}/brands/remove": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "description": "Remove a brand from an account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The account id to update",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Brands to remove from account",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrands"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrands"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrands"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrands"
              }
            }
          },
          "x-bodyName": "brands"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOfRetailMediaBrands"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/account-management/accounts/{accountId}/create-brand-account": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "description": "Creates a new child Demand Brand Account for the provided parent private market account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account Id for the parent private market account",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Initial creation and configuration options for the new account",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation"
              }
            }
          },
          "x-bodyName": "accountDetails"
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOutcomeOfRetailMediaAccount"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/campaigns/{campaignId}/campaign-budget-overrides": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get current campaign budget overrides by given external campaign id.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "External campaign id.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Update campaign budget overrides by given external campaign id and new campaign budget overrides settings.",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "External campaign id.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "New campaign budget overrides settings value resource input.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides"
              }
            }
          },
          "x-bodyName": "campaignBudgetOverridesInput"
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/insertion-order-history/{insertionOrderId}/change-data-capture": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets the balance's historical data change capture.",
        "parameters": [
          {
            "name": "insertionOrderId",
            "in": "path",
            "description": "External insertion order id.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) starting offset in the collection.",
            "style": "form",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of elements to be returned.",
            "style": "form",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "limitToChangeTypes",
            "in": "query",
            "description": "Comma separated change types string that will be queried.",
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageOfInsertionOrderHistoryChangeDataCapture"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/line-items/{lineItemId}/line-item-budget-overrides": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets a collection of monthly and daily budget overrides for the provided line item.",
        "parameters": [
          {
            "name": "lineItemId",
            "in": "path",
            "description": "The line item id to get budget overrides for.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Update line item budget overrides by given external line item id and new line item budget overrides settings.",
        "parameters": [
          {
            "name": "lineItemId",
            "in": "path",
            "description": "Line item external id.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New line item budget overrides settings value resource input.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides"
              }
            }
          },
          "x-bodyName": "lineItemBudgetOverridesInput"
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{account-id}/balances": {
      "get": {
        "tags": [
          "Balance"
        ],
        "description": "Get page of balances for the given accountId.",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account to get page of balances for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "The ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The 0 indexed page index you would like to receive given the page size",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-nullable": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items you would like to receive in this request",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponsePagedListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Balance"
        ],
        "description": "Create balance for the given account id",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account to create balances for",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBalanceRequest"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "createBalance"
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{account-id}/balances/{balanceId}": {
      "get": {
        "tags": [
          "Balance"
        ],
        "description": "Get a balance for the given account id and balance id",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account of the balance",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "balanceId",
            "in": "path",
            "description": "The balance id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Balance"
        ],
        "description": "Modify a balance for the given account id",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account of the balance",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "balanceId",
            "in": "path",
            "description": "The balance to change the dates",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBalanceModelRequest"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "updateBalanceModel"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{account-id}/balances/{balanceId}/add-funds": {
      "post": {
        "tags": [
          "Balance"
        ],
        "description": "Add funds to a balance for the given account id",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account of the balance",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "balanceId",
            "in": "path",
            "description": "The balance to add funds to",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFundsToBalanceRequest"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "addFundsToBalance"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{account-id}/balances/{balanceId}/change-dates": {
      "post": {
        "tags": [
          "Balance"
        ],
        "description": "Change dates of a balance for the given account id",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account of the balance",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "balanceId",
            "in": "path",
            "description": "The balance to change the dates",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeDatesOfBalanceRequest"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "changeDatesOfBalance"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{account-id}/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Get all the editable and creatable campaign attributes including all types of budgets for each campaigns in relation to the account id, limited by the campaign ids.",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account to request the campaign for.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "The ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The 0 indexed page index you would like to receive given the page size",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-nullable": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items you would like to receive in this request",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiPageResponseOfCampaignV202301"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Create a campaign and assign budgets for the given account id with creatable campaign attributes given in request body constrained by business validation. The validation error includes details and source of errors. Pacing can be adjusted and affected by the status of the campaign and the days left on the campaign if auto daily pacing is enabled.",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The account to request the campaign for.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "Creatable campaign attributes",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCampaignV202301"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "campaign"
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiSingleResponseOfCampaignV202301"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/accounts/{account-id}/line-items": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets page of line item objects for the given account id",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "description": "The given account id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "limitToCampaignId",
            "in": "query",
            "description": "The campaign ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          },
          {
            "name": "limitToType",
            "in": "query",
            "description": "The campaign types that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "enum": [
                "Unknown",
                "Auction",
                "Preferred"
              ],
              "type": "string"
            },
            "x-nullable": true
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "The ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The 0 indexed page index you would like to receive given the page size",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items you would like to receive in this request",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonLineItemPagedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/auction-line-items/{line-item-id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets the auction line item for the given line item id",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "The given line item id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionLineItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionLineItemResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "description": "Updates the auction line item for the given line item id",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "The given line item id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "The line item settings to create a line item with",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuctionLineItemUpdateModelRequest"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "lineItem"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionLineItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionLineItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/auction-line-items/{line-item-id}/targeting/keywords": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "This endpoint gets the keyword target on the specified line item.",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "The line item to interact with",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordTarget202110Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordTarget202110Response"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/auction-line-items/{line-item-id}/targeting/keywords/append": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "This endpoint appends one or more keywords to targeting on the specified line item.  The resulting state of the keyword target is returned.",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "The line item to interact with",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordTarget202110Request"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "keywordsToAppend"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordTarget202110Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordTarget202110Response"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/auction-line-items/{line-item-id}/targeting/keywords/delete": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "This endpoint removes one or more keywords from targeting on the specified line item.  The resulting state of the keyword target is returned.",
        "parameters": [
          {
            "name": "line-item-id",
            "in": "path",
            "description": "The line item to interact with",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordTarget202110Request"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "keywordsToRemove"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordTarget202110Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordTarget202110Response"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/balances/{balance-id}/campaigns": {
      "get": {
        "tags": [
          "Balance"
        ],
        "description": "Gets page of campaigns for the given balanceId",
        "parameters": [
          {
            "name": "balance-id",
            "in": "path",
            "description": "The balance to get campaigns from",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "The ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The 0 indexed page index you would like to receive given the page size",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items you would like to receive in this request",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceCampaign202110PagedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/balances/{balance-id}/campaigns/append": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "appends one or more campaigns to the specified balance",
        "parameters": [
          {
            "name": "balance-id",
            "in": "path",
            "description": "The balance to add campaigns from",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "The campaigns to append",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceCampaign202110ListRequest"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "campaigns"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceCampaign202110PagedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/balances/{balance-id}/campaigns/delete": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Removes one or more campaigns on the specified balance",
        "parameters": [
          {
            "name": "balance-id",
            "in": "path",
            "description": "The balance to remove campaigns from",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "The campaigns to append",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceCampaign202110ListRequest"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "campaigns"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceCampaign202110PagedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2024-04/retail-media/campaigns/{campaign-id}/auction-line-items": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "description": "Gets page of auction line item objects for the given campaign id",
        "parameters": [
          {
            "name": "campaign-id",
            "in": "path",
            "description": "The given campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "name": "limitToId",
            "in": "query",
            "description": "The ids that you would like to limit your result set to",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "The 0 indexed page index you would like to receive given the page size",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items you would like to receive in this request",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionLineItemPagedListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionLineItemPagedListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "description": "Creates new auction line item with the specified settings",
        "parameters": [
          {
            "name": "campaign-id",
            "in": "path",
            "description": "The given campaign id",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "requestBody": {
          "description": "The line item settings to create a line item with",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuctionLineItemCreateModelRequest"
              }
            }
          },
          "x-nullable": false,
          "x-bodyName": "lineItem"
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuctionLineItemResponse"
[...]
