{
    "openapi": "3.0.1",
    "info": {
        "title": "Criteo API",
        "description": "Criteo publicly exposed API",
        "version": "Preview"
    },
    "servers": [
        {
            "url": "https://api.criteo.com"
        }
    ],
    "paths": {
        "/me": {
            "get": {
                "tags": [
                    "Gateway"
                ],
                "description": "Get information about the currently logged application",
                "operationId": "GetCurrentApplication",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationSummaryModelResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/oauth2/token": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Creates a token based either on supplied client credentials or on single use authorization code",
                "description": "Creates a token when the supplied client credentials are valid",
                "operationId": "GetToken",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "grant_type",
                                    "client_id",
                                    "client_secret"
                                ],
                                "properties": {
                                    "grant_type": {
                                        "type": "string"
                                    },
                                    "client_id": {
                                        "type": "string"
                                    },
                                    "client_secret": {
                                        "type": "string"
                                    },
                                    "redirect_uri": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "refresh_token": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/accounts": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of account objects that the current user can access",
                "operationId": "AccountsApi_GetApiV1ExternalAccounts",
                "parameters": [
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfAccount"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/accounts/{accountId}/retailers": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of retailer objects that are associated with the given account",
                "operationId": "AccountsApi_GetApiV1ExternalAccountRetailersByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfRetailer"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/accounts/{accountId}/brands": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of retailer objects that are associated with the given account",
                "operationId": "AccountsApi_GetApiV1ExternalAccountBrandsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfBrand"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/accounts/{accountId}/audiences": {
            "get": {
                "tags": [
                    "Audience"
                ],
                "description": "Get a page of audiences for a given account ID",
                "operationId": "AudienceApi_GetAudiencesByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "External account ID which owns audience.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-example": "68004146450571264"
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "Limits results to the entity IDs specified; parameter key is repeated, eg. limitToId=1&limitToId=2",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Specifies the maximum number of entities returned in a single page; defaults to 25 entities per page",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-example": 25
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "Returns the specified page of results given a pageSize; pages are 0-indexed",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-example": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A page of audiences for the supplied account.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPageOfAudiencesByAccountIdResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid account ID.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "The audience was not found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "406": {
                        "description": "The Accept header must contain application/json.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "415": {
                        "description": "The Content-Type header must be application/json if present.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Create an audience for a given account ID",
                "operationId": "AudienceApi_CreateAudience",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "ID of the account to which this audience belongs.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-example": "68004146450571264"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateRetailMediaAudienceRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "body"
                },
                "responses": {
                    "201": {
                        "description": "The audience that was just created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateRetailMediaAudienceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid account ID. - OR - Missing or invalid retailerID field. - OR - Missing or invalid name field. Name should be less than 255 characters. - OR - Missing or invalid userType field. Valid values are: 'buy', 'view'. - OR - The retailerTaxonomyIds is not a valid list of IDs or may contain more than 100 elements. - OR - Missing or invalid lookbackDays field.  Valid values are: 7, 14,  30, 45, 60, 90, 120, 150 or 180. - OR - Exactly one of retailerTaxonomyIds or globalBrandIds must be specified, but not both. - OR - The retailer is invalid because it is not live - OR - The globalBrandIds is not a valid list of IDs or may contain more than 100 elements.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "The audience was not found. - OR - You do not have permission to access these global brands.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "406": {
                        "description": "The Accept header must contain application/json.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "409": {
                        "description": "An audience name should be unique per account.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "415": {
                        "description": "The Content-Type header must be application/json if present.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/preview/retail-media/accounts/{accountId}/catalogs": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Create a request for a Catalog available to the indicated account.",
                "operationId": "CatalogApi_PostApiV0ExternalAccountCatalogsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The account to request the catalog for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonApiRequestOfCatalogRequestPreview"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Catalog request successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCatalogStatus"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/catalogs/{catalogId}/status": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Check the status of a catalog request.",
                "operationId": "CatalogApi_GetApiV0ExternalCatalogStatusByCatalogId",
                "parameters": [
                    {
                        "name": "catalogId",
                        "in": "path",
                        "description": "A catalog ID returned from an account catalog request.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Catalog request found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCatalogStatus"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/catalogs/{catalogId}/output": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Output the indicated catalog. Catalogs are only available for retrieval when their associated status request\r\nis at a Success status.\r\nProduces application/x-json-stream of CatalogProduct json objects.",
                "operationId": "CatalogApi_GetApiV0ExternalCatalogOutputByCatalogId",
                "parameters": [
                    {
                        "name": "catalogId",
                        "in": "path",
                        "description": "A catalog ID returned from an account catalog request.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Catalog download initiated.",
                        "content": {
                            "application/x-json-stream": {},
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "The indicated catalog is not available for retrieval, wait for a success status.",
                        "content": {
                            "application/x-json-stream": {},
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/preview/retail-media/catalogs/sku-search": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Endpoint to search skus by text, retailer and sellers/brands.",
                "operationId": "SkuSearchApi_PostApiV1ExternalCatalogsSkuSearch",
                "parameters": [
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The start position in the overall list of matches. Must be zero or greater.",
                        "schema": {
                            "maximum": 500,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of results to return with each call. Must be greater than zero.",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SkuSearchRequestPreviewRequest"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "skuRequest"
                },
                "responses": {
                    "200": {
                        "description": "Skus found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SkuDataPreviewListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/catalogs/sku-retrieval": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Endpoint to search skus by text, retailer and sellers/brands.",
                "operationId": "SkuRetrievalApi_PostApiV1ExternalCatalogsSkuRetrieval",
                "parameters": [
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The start position in the overall list of matches. Must be zero or greater.",
                        "schema": {
                            "maximum": 500,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of results to return with each call. Must be greater than zero.",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The list of SKU keys to retrieve sku information",
                    "content": {
                        "application/json": {
                            "schema": {
                                "uniqueItems": false,
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "x-nullable": false
                                },
                                "x-nullable": false
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "skuKeys"
                },
                "responses": {
                    "200": {
                        "description": "Skus found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SkuDataPreviewListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/retailers/{retailerId}/sellers/{seller}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Endpoint to get market place seller id and name",
                "operationId": "SellerApi_GetApiV1ExternalRetailerByRetailerIdSellerBySeller",
                "parameters": [
                    {
                        "name": "retailerId",
                        "in": "path",
                        "description": "The retailer id for which seller should be fetched.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "seller",
                        "in": "path",
                        "description": "The seller id or seller name which should be validated.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Seller found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SellerPreviewResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/retailers/{retailerId}/brands": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets the brands for the given retailer",
                "operationId": "RetailerApi_GetApiV1ExternalRetailerBrandsByRetailerId",
                "parameters": [
                    {
                        "name": "retailerId",
                        "in": "path",
                        "description": "The retailer id for which brands should be fetched.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "sku-stock-type-filter",
                        "in": "query",
                        "description": "Filter to narrow down brands [first-party|third-party|first-and-third-party]. Defaults to first-and-third-party",
                        "schema": {
                            "enum": [
                                "first-party",
                                "third-party",
                                "first-and-third-party"
                            ],
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brands found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BrandPreviewListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/accounts/{accountId}/balances": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of balance objects for the given account id",
                "operationId": "BalancesApi_GetApiV1ExternalAccountBalancesByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The account to get balances for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfBalance"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/balances/{balanceId}/campaigns": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of campaigns for the given balanceId",
                "operationId": "BalancesApi_GetApiV1ExternalBalanceCampaignsByBalanceId",
                "parameters": [
                    {
                        "name": "balanceId",
                        "in": "path",
                        "description": "The balance to get campaigns from",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageOfBalanceCampaign"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "appends one or more campaigns to the specified balance",
                "operationId": "BalancesApi_PutApiV1ExternalBalanceCampaignsByBalanceId",
                "parameters": [
                    {
                        "name": "balanceId",
                        "in": "path",
                        "description": "The balance to add campaigns from",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The campaigns to append",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonApiDataRequestOfPutBalanceCampaign"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "campaigns"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageOfBalanceCampaign"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Campaign"
                ],
                "description": "Removes one or more campaigns on the specified balance",
                "operationId": "BalancesApi_DeleteApiV1ExternalBalanceCampaignsByBalanceId",
                "parameters": [
                    {
                        "name": "balanceId",
                        "in": "path",
                        "description": "The balance to remove campaigns from",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The campaigns to append",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonApiDataRequestOfDeleteBalanceCampaign"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "campaigns"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageOfBalanceCampaign"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/accounts/{accountId}/campaigns": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of campaign objects for the given account id",
                "operationId": "CampaignsApi_GetApiV1ExternalAccountCampaignsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfCampaign"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Creates a new campaign with the specified settings",
                "operationId": "CampaignsApi_PostApiV1ExternalAccountCampaignsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The campaign settings to create a campaign with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExternalPostCampaign"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "campaign"
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCampaign"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/preview/retail-media/campaigns/{campaignId}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets the campaign for the given campaign id",
                "operationId": "CampaignsApi_GetApiV1ExternalCampaignByCampaignId",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCampaign"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "Updates the campaign for the given campaign id",
                "operationId": "CampaignsApi_PutApiV1ExternalCampaignByCampaignId",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The campaign settings to update that campaign with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExternalPutCampaign"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "campaign"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCampaign"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/campaigns/{campaignId}/line-items": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of line item objects for the given campaign id",
                "operationId": "LineItemsApi_GetApiV1ExternalCampaignLineItemsByCampaignId",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfLineItem"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Creates a new line item with the specified settings",
                "operationId": "LineItemsApi_PostApiV1ExternalCampaignLineItemsByCampaignId",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The line item settings to create a line item with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExternalPostLineItem"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "lineItem"
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfLineItem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/preview/retail-media/line-items/{lineItemId}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets the line item for the given line item id",
                "operationId": "LineItemsApi_GetApiV1ExternalLineItemByLineItemId",
                "parameters": [
                    {
                        "name": "lineItemId",
                        "in": "path",
                        "description": "The given line item id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfLineItem"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "Updates the line item for the given line item id",
                "operationId": "LineItemsApi_PutApiV1ExternalLineItemByLineItemId",
                "parameters": [
                    {
                        "name": "lineItemId",
                        "in": "path",
                        "description": "The given line item id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The line item settings to create a line item with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExternalPutLineItem"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "lineItem"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfLineItem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/line-items/{lineItemId}/products": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint gets the promoted products on the specified line item.",
                "operationId": "PromotedProductsApi_GetApiV1ExternalLineItemProductsByLineItemId",
                "parameters": [
                    {
                        "name": "lineItemId",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfStringAndPromotedProduct"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint appends one or more products to promote on the specified line item.  The resulting state of the line item is returned.",
                "operationId": "PromotedProductsApi_PutApiV1ExternalLineItemProductsByLineItemId",
                "parameters": [
                    {
                        "name": "lineItemId",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "the products to append to this line item",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonApiDataRequestWithIdOfStringAndPromotedProduct"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "promotedProductsToAppend"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfStringAndPromotedProduct"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint removes one or more products from promotion on the specified line item.  The resulting state of the line item is returned.",
                "operationId": "PromotedProductsApi_DeleteApiV1ExternalLineItemProductsByLineItemId",
                "parameters": [
                    {
                        "name": "lineItemId",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonApiDataRequestWithIdOfStringAndPromotedProduct"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "promotedProductsToRemove"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfStringAndPromotedProduct"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/reports/campaigns": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "Request a campaign report",
                "operationId": "requestCampaignReport",
                "requestBody": {
                    "description": "// Body of the request\n{\n  \"data\": {\n    \"type\": \"RetailMediaReportRequest\",\n    \"attributes\": {\n      \"reportType\": string, // the name of the report being requested\n      //only one of \"id\" or \"ids\" can be provided for a request\n      \"id\": string, // the campaign id to select\n      \"ids\": Array[string], //the campaign ids to select\n      \"startDate\": string, // YYYY-MM-DD format\n      \"endDate\": string, // YYYY-MM-DD format\n      \"timeZone\": string, // examples: 'Europe/London', 'Asia/Tokyo', 'America/New_York'\n      // both attribution windows must be specified when one is specified\n      \"clickAttributionWindow\": \"7D\", \"14D\", or \"30D\"  // optional. defaults to campaign's click attribution window\n      \"viewAttributionWindow\": \"none\", \"1D\", \"7D\", \"14D\", \"30D\" // optional. defaults to campaign's view attribution window\n      \"format\": One of \"json\" (default),\"json-compact\",\"json-newline\" or \"csv\" // output format, defaults to json-compact\n    }\n  }\n}",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns the status of the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeReportStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    }
                }
            }
        },
        "/preview/retail-media/reports/line-items": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "Request a line item report",
                "operationId": "requestLineItemReport",
                "requestBody": {
                    "description": "// Body of the request\n{\n  \"data\": {\n    \"type\": \"RetailMediaReportRequest\",\n    \"attributes\": {\n      \"reportType\": string, // the name of the report being requested\n      //only one of \"id\" or \"ids\" can be provided for a request\n      \"id\": string, // the line item id to select\n      \"ids: Array[string] // the line item ids to select\n      \"startDate\": string, // YYYY-MM-DD format\n      \"endDate\": string, // YYYY-MM-DD format\n      \"timeZone\": string, // examples: 'Europe/London', 'Asia/Tokyo', 'America/New_York'\n      // both attribution windows must be specified when one is specified\n      \"clickAttributionWindow\": \"7D\", \"14D\", or \"30D\"  // optional. defaults to campaign's click attribution window\n      \"viewAttributionWindow\": \"none\", \"1D\", \"7D\", \"14D\", \"30D\" // optional. defaults to campaign's view attribution window\n      \"format\": One of \"json\" (default),\"json-compact\",\"json-newline\" or \"csv\" // output format, defaults to json-compact\n    }\n  }\n}",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns the status of the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeReportStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    }
                }
            }
        },
        "/preview/retail-media/reports/{reportId}/output": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "description": "Request the report output",
                "operationId": "getReportOutput",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "report id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ee439121-13e3-4734-9f67-c504dd921a41"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The output",
                        "headers": {
                            "Content-Disposition": {
                                "description": "Returns a filename for the output",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "inline; filename=data_<reportId>.csv"
                            }
                        },
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    },
                    "404": {
                        "description": "ReportId not found"
                    }
                }
            }
        },
        "/preview/retail-media/reports/{reportId}/status": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "description": "Get the status of the report",
                "operationId": "getReportStatus",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "report id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ee439121-13e3-4734-9f67-c504dd921a41"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the status of the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeReportStatus"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    },
                    "404": {
                        "description": "ReportId not found"
                    }
                }
            }
        },
        "/preview/retail-media/line-items/{line-item-id}/product-buttons/{product-button-id}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get a single product button",
                "operationId": "ProductButtons_GetApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "Long external id of the associated line item",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "product-button-id",
                        "in": "path",
                        "description": "Sequential id of the product button",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductButtonResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "Update a product button",
                "operationId": "ProductButtons_PutApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "Long external id of the associated line item",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "product-button-id",
                        "in": "path",
                        "description": "Sequential id of the product button",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "Details of the updated product button",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductButtonRequest"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "productButton"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductButtonResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Campaign"
                ],
                "description": "Delete a product button",
                "operationId": "ProductButtons_DeleteApi202210ExternalLineItemProductButtonsByLineItemIdProductButtonId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "Long external id of the associated line item",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "product-button-id",
                        "in": "path",
                        "description": "Sequential id of the product button",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/preview/retail-media/line-items/{line-item-id}/product-buttons": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get all the product buttons associated with a line item",
                "operationId": "ProductButtons_GetApi202210ExternalLineItemProductButtonsByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "Long external id of the associated line item",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductButtonListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/preview/retail-media/line-items/{line-item-id}/product-buttons/create": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Append new product buttons to a line item",
                "operationId": "ProductButtons_PostApi202210ExternalLineItemProductButtonsCreateByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "Long external id of the associated line item",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "List of product buttons to append to the specified line item",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductButtonListRequest"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "productButtons"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductButtonListResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApplicationSummaryModelResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ApplicationSummaryModelResource"
                    },
                    "warnings": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "readOnly": true
                    },
                    "errors": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "readOnly": true
                    }
                },
                "description": "Response of ApplicationSummaryModel"
            },
            "ApplicationSummaryModelResource": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ApplicationSummaryModel"
                    }
                },
                "description": "A class that represents a ValueType in a guild compliant way"
            },
            "CommonProblem": {
                "type": "object",
                "properties": {
                    "traceIdentifier": {
                        "type": "string",
                        "description": "The request correlation ID this problem comes from."
                    },
                    "type": {
                        "enum": [
                            "unknown",
                            "access-control",
                            "authentication",
                            "authorization",
                            "availability",
                            "deprecation",
                            "quota",
                            "validation"
                        ],
                        "type": "string",
                        "description": "The problem's category."
                    },
                    "code": {
                        "type": "string",
                        "description": "A machine-readable  error code, expressed as a string value."
                    },
                    "instance": {
                        "type": "string",
                        "description": "A URI that identifies the specific occurrence of the problem."
                    },
                    "title": {
                        "type": "string",
                        "description": "A short human-readable description of the problem type"
                    },
                    "detail": {
                        "type": "string",
                        "description": "A human-readable explanation specific to this occurrence of the problem"
                    },
                    "source": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A machine-readable structure to reference to the exact location(s) causing the error(s)"
                    },
                    "stackTrace": {
                        "type": "string"
                    }
                },
                "description": "Common problem object. Can be specialized as needed."
            },
            "ApplicationSummaryModel": {
                "type": "object",
                "properties": {
                    "applicationId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string"
                    },
                    "organizationId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "description": {
                        "type": "string"
                    },
                    "criteoService": {
                        "type": "string"
                    }
                },
                "description": "Model of ApplicationSummary"
            },
            "AccessTokenModel": {
                "type": "object",
                "properties": {
                    "access_token": {
                        "type": "string",
                        "description": "The access token issued by the authorization server."
                    },
                    "token_type": {
                        "type": "string",
                        "description": "The type of the token issued."
                    },
                    "refresh_token": {
                        "type": "string",
                        "description": "The refresh token issued by the authorization server.",
                        "x-nullable": true
                    },
                    "expires_in": {
                        "type": "integer",
                        "description": "The lifetime in seconds of the access token.For example, the value \"3600\" denotes that the access token will expire in one hour from the time the response was generated. If omitted, the authorization server SHOULD provide the expiration time via other means or document the default value.",
                        "format": "int32"
                    }
                },
                "description": "Access Token to be used with other services"
            },
            "OAuthErrorModel": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string"
                    },
                    "error_description": {
                        "type": "string"
                    },
                    "error_uri": {
                        "type": "string"
                    }
                }
            },
            "JsonApiPageResponseOfAccount": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonError"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonWarning"
                        },
                        "x-nullable": false
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PageMetadata"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/JsonApiBodyWithIdOfInt64AndAccountAndAccount"
                        },
                        "x-nullable": false
                    }
                },
                "description": "A wrapper class to return a single page of <typeparamref name=\"T\" /> with metadata",
                "x-nullable": false
            },
            "JsonApiPageResponseOfRetailer": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonError"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonWarning"
                        },
                        "x-nullable": false
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PageMetadata"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/JsonApiBodyWithIdOfInt64AndRetailerAndRetailer"
                        },
                        "x-nullable": false
                    }
                },
                "description": "A wrapper class to return a single page of <typeparamref name=\"T\" /> with metadata",
                "x-nullable": false
            },
            "JsonApiPageResponseOfBrand": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonError"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonWarning"
                        },
                        "x-nullable": false
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PageMetadata"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/JsonApiBodyWithIdOfInt64AndBrandAndBrand"
                        },
                        "x-nullable": false
                    }
                },
                "description": "A wrapper class to return a single page of <typeparamref name=\"T\" /> with metadata",
                "x-nullable": false
            },
            "PageMetadata": {
                "required": [
                    "currentPageSize",
                    "currentPageIndex"
                ],
                "type": "object",
                "properties": {
                    "totalItemsAcrossAllPages": {
                        "type": "integer",
                        "format": "int64",
                        "x-nullable": true
                    },
                    "currentPageSize": {
                        "type": "integer",
                        "format": "int32",
                        "x-nullable": false
                    },
                    "currentPageIndex": {
                        "type": "integer",
                        "format": "int32",
                        "x-nullable": false
                    },
                    "totalPages": {
                        "type": "integer",
                        "format": "int64",
                        "x-nullable": true
                    },
                    "nextPage": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "previousPage": {
                        "type": "string",
                        "x-nullable": false
                    }
                },
                "description": "Metadata related to the current request",
                "x-nullable": false
            },
            "CommonError": {
                "type": "object",
                "properties": {
                    "traceId": {
                        "type": "string",
                        "description": "(REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.",
                        "x-nullable": false
                    },
                    "type": {
                        "enum": [
                            "unknown",
                            "access-control",
                            "authentication",
                            "authorization",
                            "availability",
                            "deprecation",
                            "quota",
                            "validation"
                        ],
                        "type": "string",
                        "description": "(REQUIRED) The classification of the error.",
                        "x-nullable": false
                    },
                    "code": {
                        "type": "string",
                        "description": "(REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kabab-case.",
                        "x-nullable": false
                    },
                    "instance": {
                        "type": "string",
                        "description": "(REQUIRED) A URI reference that identifies the specific occurrence of the problem.",
                        "x-nullable": false
                    },
                    "title": {
                        "type": "string",
                        "description": "(RECOMMENDED) A short, human-readable summary of the problem type.",
                        "x-nullable": false
                    },
                    "detail": {
                        "type": "string",
                        "description": "(RECOMMENDED) A human-readable explanation specific to this occurrence of the problem.",
                        "x-nullable": false
                    },
                    "source": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "x-nullable": false
                        },
                        "description": "(OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)",
                        "x-nullable": false
                    },
                    "stackTrace": {
                        "type": "string",
                        "description": "(NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology",
                        "x-nullable": false
                    }
                },
                "description": "A JSON:API Common error structure",
                "x-nullable": false
            },
            "CommonWarning": {
                "type": "object",
                "properties": {
                    "traceId": {
                        "type": "string",
                        "description": "(REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.",
                        "x-nullable": false
                    },
                    "type": {
                        "enum": [
                            "unknown",
                            "access-control",
                            "authentication",
                            "authorization",
                            "availability",
                            "deprecation",
                            "quota",
                            "validation"
                        ],
                        "type": "string",
                        "description": "(REQUIRED) The classification of the error.",
                        "x-nullable": false
                    },
                    "code": {
                        "type": "string",
                        "description": "(REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kabab-case.",
                        "x-nullable": false
                    },
                    "instance": {
                        "type": "string",
                        "description": "(REQUIRED) A URI reference that identifies the specific occurrence of the problem.",
                        "x-nullable": false
                    },
                    "title": {
                        "type": "string",
                        "description": "(RECOMMENDED) A short, human-readable summary of the problem type.",
                        "x-nullable": false
                    },
                    "detail": {
                        "type": "string",
                        "description": "(RECOMMENDED) A human-readable explanation specific to this occurrence of the problem.",
                        "x-nullable": false
                    },
                    "source": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "x-nullable": false
                        },
[...]
