{
    "openapi": "3.0.1",
    "info": {
        "title": "Criteo API",
        "description": "Criteo publicly exposed API",
        "version": "2021-07"
    },
    "servers": [
        {
            "url": "https://api.criteo.com"
        }
    ],
    "paths": {
        "/me": {
            "get": {
                "tags": [
                    "Gateway"
                ],
                "description": "Get information about the currently logged application",
                "operationId": "GetCurrentApplication",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationSummaryModelResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/oauth2/token": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Creates a token based either on supplied client credentials or on single use authorization code",
                "description": "Creates a token when the supplied client credentials are valid",
                "operationId": "GetToken",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "grant_type",
                                    "client_id",
                                    "client_secret"
                                ],
                                "properties": {
                                    "grant_type": {
                                        "type": "string"
                                    },
                                    "client_id": {
                                        "type": "string"
                                    },
                                    "client_secret": {
                                        "type": "string"
                                    },
                                    "redirect_uri": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "refresh_token": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/accounts": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of account objects that the current user can access",
                "operationId": "AccountsApi_GetApiV1ExternalAccounts",
                "parameters": [
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfAccount"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/accounts/{accountId}/retailers": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of retailer objects that are associated with the given account",
                "operationId": "AccountsApi_GetApiV1ExternalAccountRetailersByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfRetailer"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/accounts/{accountId}/brands": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of retailer objects that are associated with the given account",
                "operationId": "AccountsApi_GetApiV1ExternalAccountBrandsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfBrand"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/accounts/{accountId}/catalogs": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Create a request for a Catalog available to the indicated account.",
                "operationId": "CatalogApi_PostApiV1ExternalAccountCatalogsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The account to request the catalog for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonApiRequestOfCatalogRequest"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Catalog request successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCatalogStatus"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/catalogs/{catalogId}/status": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Check the status of a catalog request.",
                "operationId": "CatalogApi_GetApiV1ExternalCatalogStatusByCatalogId",
                "parameters": [
                    {
                        "name": "catalogId",
                        "in": "path",
                        "description": "A catalog ID returned from an account catalog request.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Catalog request found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCatalogStatus"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/catalogs/{catalogId}/output": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Output the indicated catalog. Catalogs are only available for retrieval when their associated status request\r\nis at a Success status.\r\nProduces application/x-json-stream of v2021_07 CatalogProduct json objects.",
                "operationId": "CatalogApi_GetApiV1ExternalCatalogOutputByCatalogId",
                "parameters": [
                    {
                        "name": "catalogId",
                        "in": "path",
                        "description": "A catalog ID returned from an account catalog request.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Catalog download initiated.",
                        "content": {
                            "application/x-json-stream": {},
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "The indicated catalog is not available for retrieval, wait for a success status.",
                        "content": {
                            "application/x-json-stream": {},
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/accounts/{accountId}/campaigns": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of campaign objects for the given account id",
                "operationId": "CampaignsApi_GetApiV1ExternalAccountCampaignsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfCampaign"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Creates a new campaign with the specified settings",
                "operationId": "CampaignsApi_PostApiV1ExternalAccountCampaignsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The campaign settings to create a campaign with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExternalPostCampaign"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "campaign"
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCampaign"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/campaigns/{campaignId}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets the campaign for the given campaign id",
                "operationId": "CampaignsApi_GetApiV1ExternalCampaignByCampaignId",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCampaign"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "Updates the campaign for the given campaign id",
                "operationId": "CampaignsApi_PutApiV1ExternalCampaignByCampaignId",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The campaign settings to update that campaign with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExternalPutCampaign"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "campaign"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCampaign"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/accounts/{account-id}/line-items": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of line item objects for the given account id",
                "operationId": "GetApiV2ExternalAccountLineItemsByAccountId",
                "parameters": [
                    {
                        "name": "account-id",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToCampaignId",
                        "in": "query",
                        "description": "The campaign ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToType",
                        "in": "query",
                        "description": "The campaign types that you would like to limit your result set to",
                        "schema": {
                            "enum": [
                                "Unknown",
                                "Auction",
                                "Preferred"
                            ],
                            "type": "string"
                        },
                        "x-nullable": true
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommonLineItemPagedListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/line-items/{line-item-id}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets the line item for the given line item id",
                "operationId": "GetApiV2ExternalLineItemByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The given line item id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommonLineItemResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/auction-line-items/{line-item-id}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets the auction line item for the given line item id",
                "operationId": "GetApiV2ExternalAuctionLineItemByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The given line item id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "Updates the auction line item for the given line item id",
                "operationId": "PutApiV2ExternalAuctionLineItemByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The given line item id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The line item settings to create a line item with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuctionLineItemUpdateModelRequest"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "lineItem"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/campaigns/{campaign-id}/auction-line-items": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of auction line item objects for the given campaign id",
                "operationId": "GetApiV2ExternalCampaignAuctionLineItemsByCampaignId",
                "parameters": [
                    {
                        "name": "campaign-id",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemPagedListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemPagedListResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Creates new auction line item with the specified settings",
                "operationId": "PostApiV2ExternalCampaignAuctionLineItemsByCampaignId",
                "parameters": [
                    {
                        "name": "campaign-id",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The line item settings to create a line item with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuctionLineItemCreateModelRequest"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "lineItem"
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2021-07/retail-media/reports/campaigns": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "Request a campaign report",
                "operationId": "requestCampaignReport",
                "requestBody": {
                    "description": "// Body of the request\n{\n  \"data\": {\n    \"type\": \"RetailMediaReportRequest\",\n    \"attributes\": {\n      \"reportType\": string, // the name of the report being requested\n      //only one of \"id\" or \"ids\" can be provided for a request\n      \"id\": string, // the campaign id to select\n      \"ids\": Array[string], //the campaign ids to select\n      \"startDate\": string, // YYYY-MM-DD format\n      \"endDate\": string, // YYYY-MM-DD format\n      \"timeZone\": string, // examples: 'Europe/London', 'Asia/Tokyo', 'America/New_York'\n      // both attribution windows must be specified when one is specified\n      \"clickAttributionWindow\": \"7D\", \"14D\", or \"30D\"  // optional. defaults to campaign's click attribution window\n      \"viewAttributionWindow\": \"none\", \"1D\", \"7D\", \"14D\", \"30D\" // optional. defaults to campaign's view attribution window\n      \"format\": One of \"json\" (default),\"json-compact\",\"json-newline\" or \"csv\" // output format, defaults to json-compact\n    }\n  }\n}",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns the status of the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeReportStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    }
                }
            }
        },
        "/2021-07/retail-media/reports/line-items": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "Request a line item report",
                "operationId": "requestLineItemReport",
                "requestBody": {
                    "description": "// Body of the request\n{\n  \"data\": {\n    \"type\": \"RetailMediaReportRequest\",\n    \"attributes\": {\n      \"reportType\": string, // the name of the report being requested\n      //only one of \"id\" or \"ids\" can be provided for a request\n      \"id\": string, // the line item id to select\n      \"ids: Array[string] // the line item ids to select\n      \"startDate\": string, // YYYY-MM-DD format\n      \"endDate\": string, // YYYY-MM-DD format\n      \"timeZone\": string, // examples: 'Europe/London', 'Asia/Tokyo', 'America/New_York'\n      // both attribution windows must be specified when one is specified\n      \"clickAttributionWindow\": \"7D\", \"14D\", or \"30D\"  // optional. defaults to campaign's click attribution window\n      \"viewAttributionWindow\": \"none\", \"1D\", \"7D\", \"14D\", \"30D\" // optional. defaults to campaign's view attribution window\n      \"format\": One of \"json\" (default),\"json-compact\",\"json-newline\" or \"csv\" // output format, defaults to json-compact\n    }\n  }\n}",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns the status of the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeReportStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    }
                }
            }
        },
        "/2021-07/retail-media/reports/{reportId}/output": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "description": "Request the report output",
                "operationId": "getReportOutput",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "report id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ee439121-13e3-4734-9f67-c504dd921a41"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The output",
                        "headers": {
                            "Content-Disposition": {
                                "description": "Returns a filename for the output",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "inline; filename=data_<reportId>.csv"
                            }
                        },
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    },
                    "404": {
                        "description": "ReportId not found"
                    }
                }
            }
        },
        "/2021-07/retail-media/reports/{reportId}/status": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "description": "Get the status of the report",
                "operationId": "getReportStatus",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "report id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ee439121-13e3-4734-9f67-c504dd921a41"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the status of the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeReportStatus"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    },
                    "404": {
                        "description": "ReportId not found"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApplicationSummaryModelResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ApplicationSummaryModelResource"
                    },
                    "warnings": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "readOnly": true
                    },
                    "errors": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "readOnly": true
                    }
                },
                "description": "Response of ApplicationSummaryModel"
            },
            "ApplicationSummaryModelResource": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ApplicationSummaryModel"
                    }
                },
                "description": "A class that represents a ValueType in a guild compliant way"
            },
            "CommonProblem": {
                "type": "object",
                "properties": {
                    "traceIdentifier": {
                        "type": "string",
                        "description": "The request correlation ID this problem comes from."
                    },
                    "type": {
                        "enum": [
                            "unknown",
                            "access-control",
                            "authentication",
                            "authorization",
                            "availability",
                            "deprecation",
                            "quota",
                            "validation"
                        ],
                        "type": "string",
                        "description": "The problem's category."
                    },
                    "code": {
                        "type": "string",
                        "description": "A machine-readable  error code, expressed as a string value."
                    },
                    "instance": {
                        "type": "string",
                        "description": "A URI that identifies the specific occurrence of the problem."
                    },
                    "title": {
                        "type": "string",
                        "description": "A short human-readable description of the problem type"
                    },
                    "detail": {
                        "type": "string",
                        "description": "A human-readable explanation specific to this occurrence of the problem"
                    },
                    "source": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A machine-readable structure to reference to the exact location(s) causing the error(s)"
                    },
                    "stackTrace": {
                        "type": "string"
                    }
                },
                "description": "Common problem object. Can be specialized as needed."
            },
            "ApplicationSummaryModel": {
                "type": "object",
                "properties": {
                    "applicationId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string"
                    },
                    "organizationId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "description": {
                        "type": "string"
                    },
                    "criteoService": {
                        "type": "string"
                    }
                },
                "description": "Model of ApplicationSummary"
            },
            "AccessTokenModel": {
                "type": "object",
                "properties": {
                    "access_token": {
                        "type": "string",
                        "description": "The access token issued by the authorization server."
                    },
                    "token_type": {
                        "type": "string",
                        "description": "The type of the token issued."
                    },
                    "refresh_token": {
                        "type": "string",
                        "description": "The refresh token issued by the authorization server.",
                        "x-nullable": true
                    },
                    "expires_in": {
                        "type": "integer",
                        "description": "The lifetime in seconds of the access token.For example, the value \"3600\" denotes that the access token will expire in one hour from the time the response was generated. If omitted, the authorization server SHOULD provide the expiration time via other means or document the default value.",
                        "format": "int32"
                    }
                },
                "description": "Access Token to be used with other services"
            },
            "OAuthErrorModel": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string"
                    },
                    "error_description": {
                        "type": "string"
                    },
                    "error_uri": {
                        "type": "string"
                    }
                }
            },
            "JsonApiPageResponseOfAccount": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonError"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonWarning"
                        },
                        "x-nullable": false
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PageMetadata"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/JsonApiBodyWithIdOfInt64AndAccountAndAccount"
                        },
                        "x-nullable": false
                    }
                },
                "description": "A wrapper class to return a single page of <typeparamref name=\"T\" /> with metadata",
                "x-nullable": false
            },
            "JsonApiPageResponseOfRetailer": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonError"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonWarning"
                        },
                        "x-nullable": false
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PageMetadata"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/JsonApiBodyWithIdOfInt64AndRetailerAndRetailer"
                        },
                        "x-nullable": false
                    }
                },
                "description": "A wrapper class to return a single page of <typeparamref name=\"T\" /> with metadata",
                "x-nullable": false
            },
            "JsonApiPageResponseOfBrand": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonError"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonWarning"
                        },
                        "x-nullable": false
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PageMetadata"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/JsonApiBodyWithIdOfInt64AndBrandAndBrand"
                        },
                        "x-nullable": false
                    }
                },
                "description": "A wrapper class to return a single page of <typeparamref name=\"T\" /> with metadata",
                "x-nullable": false
            },
            "PageMetadata": {
                "required": [
                    "currentPageSize",
                    "currentPageIndex"
                ],
                "type": "object",
                "properties": {
                    "totalItemsAcrossAllPages": {
                        "type": "integer",
                        "format": "int64",
                        "x-nullable": true
                    },
                    "currentPageSize": {
                        "type": "integer",
                        "format": "int32",
                        "x-nullable": false
                    },
                    "currentPageIndex": {
                        "type": "integer",
                        "format": "int32",
                        "x-nullable": false
                    },
                    "totalPages": {
                        "type": "integer",
                        "format": "int64",
                        "x-nullable": true
                    },
                    "nextPage": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "previousPage": {
                        "type": "string",
                        "x-nullable": false
                    }
                },
                "description": "Metadata related to the current request",
                "x-nullable": false
            },
            "CommonError": {
                "type": "object",
                "properties": {
                    "traceId": {
                        "type": "string",
                        "description": "(REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.",
                        "x-nullable": false
                    },
                    "type": {
                        "enum": [
                            "unknown",
                            "access-control",
                            "authentication",
                            "authorization",
                            "availability",
                            "deprecation",
                            "quota",
                            "validation"
                        ],
                        "type": "string",
                        "description": "(REQUIRED) The classification of the error.",
                        "x-nullable": false
                    },
                    "code": {
                        "type": "string",
                        "description": "(REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kabab-case.",
                        "x-nullable": false
                    },
                    "instance": {
                        "type": "string",
                        "description": "(REQUIRED) A URI reference that identifies the specific occurrence of the problem.",
                        "x-nullable": false
                    },
                    "title": {
                        "type": "string",
                        "description": "(RECOMMENDED) A short, human-readable summary of the problem type.",
                        "x-nullable": false
                    },
                    "detail": {
                        "type": "string",
                        "description": "(RECOMMENDED) A human-readable explanation specific to this occurrence of the problem.",
                        "x-nullable": false
                    },
                    "source": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "x-nullable": false
                        },
                        "description": "(OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)",
                        "x-nullable": false
                    },
                    "stackTrace": {
                        "type": "string",
                        "description": "(NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology",
                        "x-nullable": false
                    }
                },
                "description": "A JSON:API Common error structure",
                "x-nullable": false
            },
            "CommonWarning": {
                "type": "object",
                "properties": {
                    "traceId": {
                        "type": "string",
                        "description": "(REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.",
                        "x-nullable": false
                    },
                    "type": {
                        "enum": [
                            "unknown",
                            "access-control",
                            "authentication",
                            "authorization",
                            "availability",
                            "deprecation",
                            "quota",
                            "validation"
                        ],
                        "type": "string",
                        "description": "(REQUIRED) The classification of the error.",
                        "x-nullable": false
                    },
                    "code": {
                        "type": "string",
                        "description": "(REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kabab-case.",
                        "x-nullable": false
                    },
                    "instance": {
                        "type": "string",
                        "description": "(REQUIRED) A URI reference that identifies the specific occurrence of the problem.",
                        "x-nullable": false
                    },
                    "title": {
                        "type": "string",
                        "description": "(RECOMMENDED) A short, human-readable summary of the problem type.",
                        "x-nullable": false
                    },
                    "detail": {
                        "type": "string",
                        "description": "(RECOMMENDED) A human-readable explanation specific to this occurrence of the problem.",
                        "x-nullable": false
                    },
                    "source": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "x-nullable": false
                        },
                        "description": "(OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)",
                        "x-nullable": false
                    },
                    "stackTrace": {
                        "type": "string",
                        "description": "(NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology",
                        "x-nullable": false
                    }
                },
                "description": "A JSON:API Base common warning",
                "x-nullable": false
            },
            "JsonApiBodyWithIdOfInt64AndAccountAndAccount": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "long-id",
                        "x-nullable": false
                    },
                    "type": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalAccount"
                    }
                },
                "description": "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with external Id, Type, and\r\nAttributes properties",
                "x-nullable": false
            },
            "JsonApiBodyWithIdOfInt64AndRetailerAndRetailer": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "long-id",
                        "x-nullable": false
                    },
                    "type": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalRetailer"
                    }
                },
                "description": "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with external Id, Type, and\r\nAttributes properties",
                "x-nullable": false
            },
            "JsonApiBodyWithIdOfInt64AndBrandAndBrand": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "long-id",
                        "x-nullable": false
                    },
                    "type": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalBrand"
                    }
                },
                "description": "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with external Id, Type, and\r\nAttributes properties",
                "x-nullable": false
            },
            "ExternalAccount": {
                "required": [
                    "name",
                    "type",
                    "countries",
                    "currency",
                    "parentAccountLabel",
                    "timeZone"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "maxLength": 510,
                        "minLength": 0,
                        "type": "string",
                        "x-nullable": false
                    },
                    "type": {
                        "enum": [
                            "unknown",
                            "supply",
                            "demand"
                        ],
                        "type": "string",
                        "x-nullable": false
                    },
                    "subtype": {
                        "enum": [
                            "unknown",
                            "brand",
                            "seller"
                        ],
                        "type": "string",
                        "x-nullable": true
                    },
                    "countries": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "x-nullable": false
                        },
                        "x-nullable": false
                    },
                    "currency": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "parentAccountLabel": {
                        "maxLength": 510,
                        "minLength": 0,
                        "type": "string",
                        "x-nullable": false
                    },
                    "timeZone": {
                        "type": "string",
                        "x-nullable": false
                    }
                },
                "description": "A Retail Media Account used to launch campaigns and line items",
                "x-nullable": false
            },
            "ExternalRetailer": {
                "required": [
                    "name"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "maxLength": 100,
                        "type": "string",
                        "x-nullable": false
                    },
                    "campaignEligibilities": {
                        "type": "array",
                        "items": {
                            "enum": [
                                "unknown",
                                "auction",
                                "preferred"
                            ],
                            "type": "string",
                            "x-nullable": false
                        },
                        "x-nullable": false
                    }
                },
                "description": "A Retail Media Retailer used to represent a selection of products from multiple brands",
                "x-nullable": false
            },
            "ExternalBrand": {
                "required": [
                    "name"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "maxLength": 120,
                        "minLength": 0,
                        "type": "string",
                        "x-nullable": false
                    }
                },
                "description": "A Retail Media Brand used to represent a collection of products sold under the same umbrella name",
                "x-nullable": false
            },
            "JsonApiSingleResponseOfCatalogStatus": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/JsonApiBodyWithIdOfInt64AndCatalogStatusAndCatalogStatus"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonError"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonWarning"
                        },
                        "x-nullable": false
                    }
                },
                "description": "A JSON:API wrapper class to add one JSON:API <typeparamref name=\"T\" /> within a data property",
                "x-nullable": false
            },
            "JsonApiRequestOfCatalogRequest": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/JsonApiBodyWithoutIdOfCatalogRequestAndCatalogRequest"
                    }
                },
                "description": "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with Type, and Attributes properties",
                "x-nullable": false
            },
            "JsonApiBodyWithIdOfInt64AndCatalogStatusAndCatalogStatus": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "long-id",
                        "x-nullable": false
                    },
                    "type": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalCatalogStatus"
                    }
                },
                "description": "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with external Id, Type, and\r\nAttributes properties",
                "x-nullable": false
            },
            "JsonApiBodyWithoutIdOfCatalogRequestAndCatalogRequest": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalCatalogRequest"
                    }
                },
                "description": "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with Type, and\r\nAttributes properties",
                "x-nullable": false
            },
            "ExternalCatalogStatus": {
                "required": [
                    "status",
                    "currency",
                    "rowCount",
                    "fileSizeBytes",
                    "md5Checksum",
                    "createdAt",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "status": {
                        "enum": [
                            "Unknown",
                            "Pending",
                            "Success",
                            "Failure",
                            "Expired"
                        ],
                        "type": "string",
                        "description": "An enumeration of the status of the catalog.",
                        "x-nullable": false
                    },
                    "currency": {
                        "type": "string",
                        "description": "An ISO4217 representation of the currency products are listed under in this catalog.",
                        "x-nullable": false
                    },
                    "rowCount": {
                        "type": "integer",
                        "description": "An indication of the number of products contained in this catalog. Available when\r\nthis catalog reaches a success status.",
                        "format": "int32",
                        "x-nullable": true
                    },
                    "fileSizeBytes": {
                        "type": "integer",
                        "description": "The size of this catalog in bytes. Available when this catalog reaches a success status.",
                        "format": "int32",
                        "x-nullable": true
                    },
                    "md5Checksum": {
                        "type": "string",
                        "description": "An MD5 checksum of the catalog for use in confirming complete and uncorrupted retrieval.\r\nAvailable when this catalog reaches a success status.",
                        "x-nullable": false
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "The time this catalog was created. Represented as a UTC ISO8601 string.",
                        "format": "date-time",
                        "x-nullable": false
                    },
                    "message": {
                        "type": "string",
                        "description": "An optional information message intended for developer consumption.",
                        "x-nullable": false
                    }
                },
                "description": "The status of an asynchronous request to generate a catalog",
                "x-nullable": false
            },
            "ExternalCatalogRequest": {
                "type": "object",
                "properties": {
                    "format": {
                        "enum": [
                            "json-newline"
                        ],
                        "type": "string",
                        "default": "json-newline",
                        "x-nullable": false
                    },
                    "brandIdFilter": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "long-id"
                        },
                        "x-nullable": false
                    }
                },
                "description": "A request for a catalog under the specified format. Currently \"json-newline\" is supported.",
                "x-nullable": false
            },
            "JsonApiPageResponseOfCampaign": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonError"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonWarning"
                        },
                        "x-nullable": false
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/PageMetadata"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/JsonApiBodyWithIdOfInt64AndCampaignAndCampaign"
                        },
                        "x-nullable": false
                    }
                },
                "description": "A wrapper class to return a single page of <typeparamref name=\"T\" /> with metadata",
                "x-nullable": false
            },
            "JsonApiSingleResponseOfCampaign": {
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/JsonApiBodyWithIdOfInt64AndCampaignAndCampaign"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonError"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonWarning"
                        },
                        "x-nullable": false
                    }
                },
                "description": "A JSON:API wrapper class to add one JSON:API <typeparamref name=\"T\" /> within a data property",
                "x-nullable": false
            },
            "CommonLineItemPagedListResponse": {
                "type": "object",
                "properties": {
                    "metadata": {
                        "$ref": "#/components/schemas/PageMetadata"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ResourceOfCommonLineItem"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProblemDetails"
                        },
                        "readOnly": true,
                        "x-nullable": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProblemDetails"
                        },
                        "readOnly": true,
                        "x-nullable": false
                    }
                },
                "description": "Data model for a paged list of response resources",
                "x-nullable": false
            },
            "CommonLineItemResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ResourceOfCommonLineItem"
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProblemDetails"
                        },
                        "readOnly": true,
                        "x-nullable": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProblemDetails"
                        },
                        "readOnly": true,
                        "x-nullable": false
                    }
                },
                "description": "Data model for response resource",
                "x-nullable": false
            },
            "AuctionLineItemResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ResourceOfAuctionLineItem"
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProblemDetails"
                        },
                        "readOnly": true,
                        "x-nullable": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProblemDetails"
                        },
                        "readOnly": true,
                        "x-nullable": false
                    }
                },
                "description": "Data model for response resource",
                "x-nullable": false
            },
            "AuctionLineItemPagedListResponse": {
                "type": "object",
                "properties": {
                    "metadata": {
                        "$ref": "#/components/schemas/PageMetadata"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ResourceOfAuctionLineItem"
                        },
                        "x-nullable": false
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProblemDetails"
                        },
                        "readOnly": true,
                        "x-nullable": false
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ProblemDetails"
                        },
                        "readOnly": true,
                        "x-nullable": false
                    }
                },
                "description": "Data model for a paged list of response resources",
                "x-nullable": false
            },
            "ExternalPostCampaign": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/JsonApiBodyWithoutIdOfCampaignAttributesAndCampaign"
                    }
                },
                "description": "An object that represents the available options to set when creating a Retail Media Campaign",
                "x-nullable": false
            },
            "ExternalPutCampaign": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/JsonApiBodyWithExternalIdOfEditableCampaignAttributesAndCampaign"
                    }
                },
                "description": "An object that represents the available options to set when editing a Retail Media Campaign",
                "x-nullable": false
            },
            "AuctionLineItemUpdateModelRequest": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ResourceOfAuctionLineItemUpdateModel"
                    }
                },
                "description": "Data model for an input resource",
                "x-nullable": false
            },
            "AuctionLineItemCreateModelRequest": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/InputResourceOfAuctionLineItemCreateModel"
                    }
                },
                "description": "Data model for a create input resource",
                "x-nullable": false
            },
            "JsonApiBodyWithIdOfInt64AndCampaignAndCampaign": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "long-id",
                        "x-nullable": false
                    },
                    "type": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalCampaign"
                    }
                },
                "description": "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with external Id, Type, and\r\nAttributes properties",
                "x-nullable": false
            },
            "ResourceOfCommonLineItem": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Id of the entity"
                    },
                    "type": {
                        "type": "string",
                        "description": "Canonical type name of the entity"
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalCommonLineItem"
                    }
                },
                "description": "Data model for a Resource",
                "x-nullable": false
            },
            "ProblemDetails": {
                "type": "object",
                "properties": {
                    "traceIdentifier": {
                        "type": "string",
                        "description": "The request correlation ID this problem comes from.",
                        "x-nullable": false
                    },
                    "type": {
                        "enum": [
                            "unknown",
                            "access-control",
                            "authentication",
                            "authorization",
                            "availability",
                            "deprecation",
                            "quota",
                            "validation"
                        ],
                        "type": "string",
                        "description": "The problem's category.",
                        "x-nullable": false
                    },
                    "code": {
                        "type": "string",
                        "description": "A machine-readable  error code, expressed as a string value.",
                        "x-nullable": false
                    },
                    "instance": {
                        "type": "string",
                        "description": "A URI that identifies the specific occurrence of the problem.",
                        "x-nullable": false
                    },
                    "title": {
                        "type": "string",
                        "description": "A short human-readable description of the problem type",
                        "x-nullable": false
                    },
                    "detail": {
                        "type": "string",
                        "description": "A human-readable explanation specific to this occurrence of the problem",
                        "x-nullable": false
                    },
                    "source": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "x-nullable": false
                        },
                        "description": "A machine-readable structure to reference to the exact location(s) causing the error(s)",
                        "x-nullable": false
                    },
                    "stackTrace": {
                        "type": "string",
                        "description": "Technical information, only used in non-prod environments",
                        "x-nullable": false
                    }
                },
                "description": "Data model for common error or warning",
                "x-nullable": false
            },
            "ResourceOfAuctionLineItem": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Id of the entity"
                    },
                    "type": {
                        "type": "string",
                        "description": "Canonical type name of the entity"
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalAuctionLineItem"
                    }
                },
                "description": "Data model for a Resource",
                "x-nullable": false
            },
            "JsonApiBodyWithoutIdOfCampaignAttributesAndCampaign": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalCampaignAttributes"
                    }
                },
                "description": "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with Type, and\r\nAttributes properties",
                "x-nullable": false
            },
            "JsonApiBodyWithExternalIdOfEditableCampaignAttributesAndCampaign": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "long-id",
                        "x-nullable": false
                    },
                    "type": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalEditableCampaignAttributes"
                    }
                },
                "description": "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with external Id, Type, and\r\nAttributes properties",
                "x-nullable": false
            },
            "ResourceOfAuctionLineItemUpdateModel": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Id of the entity"
                    },
                    "type": {
                        "type": "string",
                        "description": "Canonical type name of the entity"
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalAuctionLineItemUpdateModel"
                    }
                },
                "description": "Data model for a Resource",
                "x-nullable": false
            },
            "InputResourceOfAuctionLineItemCreateModel": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "x-nullable": false
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/ExternalAuctionLineItemCreateModel"
                    }
                },
                "description": "Data model for a Resource",
                "x-nullable": false
            },
            "ExternalCampaign": {
                "required": [
                    "accountId",
                    "promotedBrandIds",
                    "budgetSpent",
                    "budgetRemaining",
                    "createdAt",
                    "updatedAt",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "accountId": {
                        "type": "string",
                        "format": "long-id",
                        "x-nullable": false
                    },
                    "promotedBrandIds": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "long-id"
                        },
                        "x-nullable": false
                    },
                    "budgetSpent": {
                        "required": [
                            "false"
                        ],
                        "type": "number",
                        "format": "decimal",
                        "x-nullable": true
                    },
                    "budgetRemaining": {
                        "required": [
                            "false"
                        ],
                        "type": "number",
                        "format": "decimal",
                        "x-nullable": true
                    },
                    "status": {
                        "enum": [
                            "unknown",
                            "active",
                            "inactive"
                        ],
                        "type": "string",
                        "x-nullable": false
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "x-nullable": false
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "x-nullable": false
                    },
                    "type": {
                        "enum": [
                            "unknown",
                            "auction",
                            "preferred"
                        ],
                        "type": "string",
                        "default": "auction",
[...]
