{
    "openapi": "3.0.1",
    "info": {
        "title": "Criteo API",
        "description": "Criteo publicly exposed API",
        "version": "2022-04"
    },
    "servers": [
        {
            "url": "https://api.criteo.com"
        }
    ],
    "paths": {
        "/me": {
            "get": {
                "tags": [
                    "Gateway"
                ],
                "description": "Get information about the currently logged application",
                "operationId": "GetCurrentApplication",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationSummaryModelResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/oauth2/token": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "Creates a token based either on supplied client credentials or on single use authorization code",
                "description": "Creates a token when the supplied client credentials are valid",
                "operationId": "GetToken",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "grant_type",
                                    "client_id",
                                    "client_secret"
                                ],
                                "properties": {
                                    "grant_type": {
                                        "type": "string"
                                    },
                                    "client_id": {
                                        "type": "string"
                                    },
                                    "client_secret": {
                                        "type": "string"
                                    },
                                    "redirect_uri": {
                                        "type": "string"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "refresh_token": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessTokenModel"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OAuthErrorModel"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/accounts": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of account objects that the current user can access",
                "operationId": "AccountsApi_GetApiV1ExternalAccounts",
                "parameters": [
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfAccount"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/accounts/{accountId}/retailers": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of retailer objects that are associated with the given account",
                "operationId": "AccountsApi_GetApiV1ExternalAccountRetailersByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfRetailer"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/accounts/{accountId}/brands": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of retailer objects that are associated with the given account",
                "operationId": "AccountsApi_GetApiV1ExternalAccountBrandsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfBrand"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/assets": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Creates an asset",
                "operationId": "CreateAsset",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "AssetFile"
                                ],
                                "properties": {
                                    "AssetFile": {
                                        "type": "string",
                                        "description": "The asset binary content",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/accounts/{accountId}/audiences": {
            "get": {
                "tags": [
                    "Audience"
                ],
                "description": "Get a page of audiences for a given account ID",
                "operationId": "AudienceApi_GetAudiencesByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "External account ID which owns audience.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-example": "68004146450571264"
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "Limits results to the entity IDs specified; parameter key is repeated, eg. limitToId=1&limitToId=2",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Specifies the maximum number of entities returned in a single page; defaults to 25 entities per page",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-example": 25
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "Returns the specified page of results given a pageSize; pages are 0-indexed",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-example": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A page of audiences for the supplied account.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPageOfAudiencesByAccountIdResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid account ID.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "The audience was not found.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "406": {
                        "description": "The Accept header must contain application/json.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "415": {
                        "description": "The Content-Type header must be application/json if present.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Create an audience for a given account ID",
                "operationId": "AudienceApi_CreateAudience",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "ID of the account to which this audience belongs.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-example": "68004146450571264"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateRetailMediaAudienceRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "body"
                },
                "responses": {
                    "201": {
                        "description": "The audience that was just created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateRetailMediaAudienceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing or invalid account ID. - OR - Missing or invalid retailerID field. - OR - Missing or invalid name field. Name should be less than 255 characters. - OR - Missing or invalid userType field. Valid values are: 'buy', 'view'. - OR - The retailerTaxonomyIds is not a valid list of IDs or may contain more than 100 elements. - OR - Missing or invalid lookbackDays field.  Valid values are: 7, 14,  30, 45, 60, 90, 120, 150 or 180. - OR - Exactly one of retailerTaxonomyIds or globalBrandIds must be specified, but not both. - OR - The retailer is invalid because it is not live - OR - The globalBrandIds is not a valid list of IDs or may contain more than 100 elements.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "The audience was not found. - OR - You do not have permission to access these global brands.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "406": {
                        "description": "The Accept header must contain application/json.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "409": {
                        "description": "An audience name should be unique per account.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "415": {
                        "description": "The Content-Type header must be application/json if present.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/accounts/{accountId}/catalogs": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Create a request for a Catalog available to the indicated account.",
                "operationId": "CatalogApi_PostApiV1ExternalAccountCatalogsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The account to request the catalog for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JsonApiRequestOfCatalogRequest"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Catalog request successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCatalogStatus"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/catalogs/{catalogId}/status": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Check the status of a catalog request.",
                "operationId": "CatalogApi_GetApiV1ExternalCatalogStatusByCatalogId",
                "parameters": [
                    {
                        "name": "catalogId",
                        "in": "path",
                        "description": "A catalog ID returned from an account catalog request.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Catalog request found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCatalogStatus"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/catalogs/{catalogId}/output": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Output the indicated catalog. Catalogs are only available for retrieval when their associated status request\r\nis at a Success status.\r\nProduces application/x-json-stream of v2021_07 CatalogProduct json objects.",
                "operationId": "CatalogApi_GetApiV1ExternalCatalogOutputByCatalogId",
                "parameters": [
                    {
                        "name": "catalogId",
                        "in": "path",
                        "description": "A catalog ID returned from an account catalog request.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Catalog download initiated.",
                        "content": {
                            "application/x-json-stream": {},
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "The indicated catalog is not available for retrieval, wait for a success status.",
                        "content": {
                            "application/x-json-stream": {},
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/retailers/{retailerId}/pages": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get the page types available for the given retailer",
                "operationId": "RetailerApi_GetApi202110ExternalRetailerPagesByRetailerId",
                "parameters": [
                    {
                        "name": "retailerId",
                        "in": "path",
                        "description": "The retailers to fetch pages for",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pages fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExternalRetailerPages202110"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/accounts/{account-id}/creatives": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get account creatives",
                "operationId": "CreativesApi_GetApi202110ExternalAccountCreativesByAccountId",
                "parameters": [
                    {
                        "name": "account-id",
                        "in": "path",
                        "description": "External account id to retrieve creatives for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Creatives found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Creative202110ListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/categories": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Endpoint to search categories by text and retailer.",
                "operationId": "CategorySearchApi_GetApi202204ExternalCategories",
                "parameters": [
                    {
                        "name": "retailerId",
                        "in": "query",
                        "description": "The retailer id for which Categories fetched",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "textSubstring",
                        "in": "query",
                        "description": "Query string to search across Categories",
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The start position in the overall list of matches. Must be zero or greater.",
                        "schema": {
                            "maximum": 500,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of results to return with each call. Must be greater than zero.",
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categories found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category202204ListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/categories/{categoryId}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Endpoint to search for a specific category by categoryId.",
                "operationId": "CategorySearchApi_GetApi202204ExternalCategorieByCategoryId",
                "parameters": [
                    {
                        "name": "categoryId",
                        "in": "path",
                        "description": "ID of the desired category",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieval completed and category is returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category202204"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No IDs were passed in.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "A non-request input based error occurred in the server.",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/reports/campaigns": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "Request a campaign report",
                "operationId": "requestCampaignReport",
                "requestBody": {
                    "description": "// Body of the request\n{\n  \"data\": {\n    \"type\": \"RetailMediaReportRequest\",\n    \"attributes\": {\n      \"reportType\": string, // the name of the report being requested\n      //only one of \"id\" or \"ids\" can be provided for a request\n      \"id\": string, // the campaign id to select\n      \"ids\": Array[string], //the campaign ids to select\n      \"startDate\": string, // YYYY-MM-DD format\n      \"endDate\": string, // YYYY-MM-DD format\n      \"timeZone\": string, // examples: 'Europe/London', 'Asia/Tokyo', 'America/New_York'\n      // both attribution windows must be specified when one is specified\n      \"clickAttributionWindow\": \"7D\", \"14D\", or \"30D\"  // optional. defaults to campaign's click attribution window\n      \"viewAttributionWindow\": \"none\", \"1D\", \"7D\", \"14D\", \"30D\" // optional. defaults to campaign's view attribution window\n      \"format\": One of \"json\" (default),\"json-compact\",\"json-newline\" or \"csv\" // output format, defaults to json-compact\n    }\n  }\n}",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns the status of the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeReportStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    }
                }
            }
        },
        "/2022-04/retail-media/reports/line-items": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "Request a line item report",
                "operationId": "requestLineItemReport",
                "requestBody": {
                    "description": "// Body of the request\n{\n  \"data\": {\n    \"type\": \"RetailMediaReportRequest\",\n    \"attributes\": {\n      \"reportType\": string, // the name of the report being requested\n      //only one of \"id\" or \"ids\" can be provided for a request\n      \"id\": string, // the line item id to select\n      \"ids: Array[string] // the line item ids to select\n      \"startDate\": string, // YYYY-MM-DD format\n      \"endDate\": string, // YYYY-MM-DD format\n      \"timeZone\": string, // examples: 'Europe/London', 'Asia/Tokyo', 'America/New_York'\n      // both attribution windows must be specified when one is specified\n      \"clickAttributionWindow\": \"7D\", \"14D\", or \"30D\"  // optional. defaults to campaign's click attribution window\n      \"viewAttributionWindow\": \"none\", \"1D\", \"7D\", \"14D\", \"30D\" // optional. defaults to campaign's view attribution window\n      \"format\": One of \"json\" (default),\"json-compact\",\"json-newline\" or \"csv\" // output format, defaults to json-compact\n    }\n  }\n}",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Returns the status of the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeReportStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    }
                }
            }
        },
        "/2022-04/retail-media/reports/{reportId}/output": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "description": "Request the report output",
                "operationId": "getReportOutput",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "report id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ee439121-13e3-4734-9f67-c504dd921a41"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The output",
                        "headers": {
                            "Content-Disposition": {
                                "description": "Returns a filename for the output",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                },
                                "example": "inline; filename=data_<reportId>.csv"
                            }
                        },
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    },
                    "404": {
                        "description": "ReportId not found"
                    }
                }
            }
        },
        "/2022-04/retail-media/reports/{reportId}/status": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "description": "Get the status of the report",
                "operationId": "getReportStatus",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "report id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ee439121-13e3-4734-9f67-c504dd921a41"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the status of the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeReportStatus"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing Authorization or token invalid"
                    },
                    "403": {
                        "description": "Must have access to RetailMedia accounts"
                    },
                    "404": {
                        "description": "ReportId not found"
                    }
                }
            }
        },
        "/2022-04/retail-media/auction-line-items/{line-item-id}/targeting/keywords": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint gets the keyword target on the specified line item.",
                "operationId": "TargetingApi_GetApi202110ExternalAuctionLineItemTargetingKeywordsByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeywordTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeywordTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/auction-line-items/{line-item-id}/targeting/keywords/append": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint appends one or more keywords to targeting on the specified line item.  The resulting state of the keyword target is returned.",
                "operationId": "TargetingApi_PostApi202110ExternalAuctionLineItemTargetingKeywordsAppendByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeywordTarget202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "keywordsToAppend"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeywordTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeywordTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/auction-line-items/{line-item-id}/targeting/keywords/delete": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint removes one or more keywords from targeting on the specified line item.  The resulting state of the keyword target is returned.",
                "operationId": "TargetingApi_PostApi202110ExternalAuctionLineItemTargetingKeywordsDeleteByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeywordTarget202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "keywordsToRemove"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeywordTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeywordTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/preferred-line-items/{line-item-id}/targeting/stores": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint gets the store target on the specified line item.",
                "operationId": "TargetingApi_GetApi202110ExternalPreferredLineItemTargetingStoresByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreTarget202110Response"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint sets the scope of the store target on the specified line item.",
                "operationId": "TargetingApi_PutApi202110ExternalPreferredLineItemTargetingStoresByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The store target to set the scope for",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreTarget202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "storeTarget"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/preferred-line-items/{line-item-id}/targeting/stores/append": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint appends one or more store ids to targeting on the specified line item.  The resulting state of the store target is returned.",
                "operationId": "TargetingApi_PostApi202110ExternalPreferredLineItemTargetingStoresAppendByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "Store ids to append to the target",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreIdsUpdateModel202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "idsToAppend"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/preferred-line-items/{line-item-id}/targeting/stores/delete": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint removes one or more store ids from targeting on the specified line item.  The resulting state of the store target is returned.",
                "operationId": "TargetingApi_PostApi202110ExternalPreferredLineItemTargetingStoresDeleteByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "Store ids to remove from the target",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreIdsUpdateModel202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "idsToRemove"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint gets the add to basket target on the specified line item.",
                "operationId": "TargetingApi_GetApi202110ExternalPreferredLineItemTargetingAddToBasketByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddToBasketTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddToBasketTarget202110Response"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint sets the scope of the add to basket target on the specified line item.",
                "operationId": "TargetingApi_PutApi202110ExternalPreferredLineItemTargetingAddToBasketByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The add to basket target to set the scope for",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddToBasketTarget202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "addToBasketTarget"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddToBasketTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddToBasketTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/append": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint appends one or more add to basket ids to targeting on the specified line item.  The resulting state of the add to basket target is returned.",
                "operationId": "TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAddToBasketAppendByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "Ids to append to the target",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddToBasketIdsUpdateModel202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "idsToAppend"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddToBasketTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddToBasketTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/preferred-line-items/{line-item-id}/targeting/add-to-basket/delete": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint removes one or more add to basket ids from targeting on the specified line item.  The resulting state of the add to basket target is returned.",
                "operationId": "TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAddToBasketDeleteByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "Ids to remove from the target",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddToBasketIdsUpdateModel202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "idsToRemove"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddToBasketTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddToBasketTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/preferred-line-items/{line-item-id}/targeting/audiences": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint gets the audience target on the specified line item.",
                "operationId": "TargetingApi_GetApi202110ExternalPreferredLineItemTargetingAudiencesByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceTarget202110Response"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint sets the scope of the audience target on the specified line item.",
                "operationId": "TargetingApi_PutApi202110ExternalPreferredLineItemTargetingAudiencesByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The audience target to set the scope for",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceTarget202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "audienceTarget"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/append": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint appends one or more audiences ids to targeting on the specified line item.  The resulting state of the audience target is returned.",
                "operationId": "TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAudiencesAppendByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "Audience ids to append to the target",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceIdsUpdateModel202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "idsToAppend"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/preferred-line-items/{line-item-id}/targeting/audiences/delete": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint removes one or more audiences ids from targeting on the specified line item.  The resulting state of the audience target is returned.",
                "operationId": "TargetingApi_PostApi202110ExternalPreferredLineItemTargetingAudiencesDeleteByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "Audience ids to remove from the target",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceIdsUpdateModel202110Request"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "idsToRemove"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceTarget202110Response"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceTarget202110Response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/line-items/{line-item-id}/products/pause": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint pauses one or more promoted products on a specified line item.",
                "operationId": "PromotedProducts_PostApi202110ExternalLineItemProductsPauseByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The products from which their IDs will be used to pause.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PromotedProduct202110ListRequest"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "promotedProductsToPause"
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/2022-04/retail-media/line-items/{line-item-id}/products/unpause": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "This endpoint unpauses one or more promoted products on a specified line item.",
                "operationId": "PromotedProducts_PostApi202110ExternalLineItemProductsUnpauseByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The line item to interact with.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The products from which their IDs will be used to unpause.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PromotedProduct202110ListRequest"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "promotedProductsToUnpause"
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/2022-04/retail-media/accounts/{accountId}/campaigns": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Creates a new campaign with the specified settings",
                "operationId": "CampaignsApi_PostApiV1ExternalAccountCampaignsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The campaign settings to create a campaign with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExternalPostCampaign"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "campaign"
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCampaign"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of campaign objects for the given account id",
                "operationId": "CampaignsApi_GetApiV1ExternalAccountCampaignsByAccountId",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiPageResponseOfCampaign"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/campaigns/{campaignId}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets the campaign for the given campaign id",
                "operationId": "CampaignsApi_GetApiV1ExternalCampaignByCampaignId",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCampaign"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "Updates the campaign for the given campaign id",
                "operationId": "CampaignsApi_PutApiV1ExternalCampaignByCampaignId",
                "parameters": [
                    {
                        "name": "campaignId",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The campaign settings to update that campaign with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExternalPutCampaign"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "campaign"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JsonApiSingleResponseOfCampaign"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/campaigns/{campaign-id}/auction-line-items": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of auction line item objects for the given campaign id",
                "operationId": "GetApiV2ExternalCampaignAuctionLineItemsByCampaignId",
                "parameters": [
                    {
                        "name": "campaign-id",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemPagedListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemPagedListResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Creates new auction line item with the specified settings",
                "operationId": "PostApiV2ExternalCampaignAuctionLineItemsByCampaignId",
                "parameters": [
                    {
                        "name": "campaign-id",
                        "in": "path",
                        "description": "The given campaign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "requestBody": {
                    "description": "The line item settings to create a line item with",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuctionLineItemCreateModelRequest"
                            }
                        }
                    },
                    "x-nullable": false,
                    "x-bodyName": "lineItem"
                },
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/line-items/{line-item-id}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets the line item for the given line item id",
                "operationId": "GetApiV2ExternalLineItemByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The given line item id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommonLineItemResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/accounts/{account-id}/line-items": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets page of line item objects for the given account id",
                "operationId": "GetApiV2ExternalAccountLineItemsByAccountId",
                "parameters": [
                    {
                        "name": "account-id",
                        "in": "path",
                        "description": "The given account id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToCampaignId",
                        "in": "query",
                        "description": "The campaign ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "limitToType",
                        "in": "query",
                        "description": "The campaign types that you would like to limit your result set to",
                        "schema": {
                            "enum": [
                                "Unknown",
                                "Auction",
                                "Preferred"
                            ],
                            "type": "string"
                        },
                        "x-nullable": true
                    },
                    {
                        "name": "limitToId",
                        "in": "query",
                        "description": "The ids that you would like to limit your result set to",
                        "style": "form",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "The 0 indexed page index you would like to receive given the page size",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum number of items you would like to receive in this request",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommonLineItemPagedListResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/2022-04/retail-media/auction-line-items/{line-item-id}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Gets the auction line item for the given line item id",
                "operationId": "GetApiV2ExternalAuctionLineItemByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The given line item id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-nullable": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuctionLineItemResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "Updates the auction line item for the given line item id",
                "operationId": "PutApiV2ExternalAuctionLineItemByLineItemId",
                "parameters": [
                    {
                        "name": "line-item-id",
                        "in": "path",
                        "description": "The given line item id",
                        "required": true,
[...]
