openapi: 3.0.1
info:
  description: Criteo API - RetailMedia
  title: Criteo API
  version: Experimental
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Accounts
- name: Analytics
- name: Audience
- name: Balance
- name: Campaign
- name: Catalog
- name: Gateway
- name: OnSiteRecommendation
- name: ThirdPartyAccounts
paths:
  /experimental/retail-media/account-management/accounts/{accountId}/private-market-child-accounts:
    get:
      description: Gets Private Market child accounts that are associated with the
        given account
      operationId: GetPrivateMarketChildAccountsByAccountId
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of accounts to be returned. The default is 25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of accounts. The
          default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfRetailMediaChildAccountAndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Read
      summary: "/experimental/retail-media/account-management/accounts/{accountId}/private-market-child-accounts"
      tags:
      - Accounts
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audience-segments:
    patch:
      description: "Updates the properties of all segments with a valid configuration,\
        \ and returns the full segments. For those that cannot be updated, one or\
        \ multiple errors are returned."
      operationId: bulkUpdateAudienceSegments
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
        description: Segment Update request
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/audience-segments"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audience-segments/{audience-segment-id}/contact-list:
    get:
      description: Returns the statistics of a contact list segment.
      operationId: getAudienceSegmentContactListStatistics
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Segment Id.
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Read
      summary: "/experimental/retail-media/accounts/{account-id}/audience-segments/{audience-segment-id}/contact-list"
      tags:
      - Audience
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audience-segments/compute-sizes:
    post:
      description: Gets the size of all segments. An error is returned for those whose
        size calculation is not supported.
      operationId: computeAudienceSegmentsSizes
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentComputeSizesInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentSizeEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/audience-segments/compute-sizes"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audience-segments/create:
    post:
      description: "Creates all segments with a valid configuration, and returns the\
        \ full segments. For those that cannot be created, one or multiple errors\
        \ are returned."
      operationId: bulkCreateAudienceSegments
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
        description: Segment creation parameter
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/audience-segments/create"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audience-segments/delete:
    post:
      description: Delete the segments associated to the given IDs.
      operationId: bulkDeleteAudienceSegments
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
        description: Segment delete request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/audience-segments/delete"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audience-segments/estimate-size:
    post:
      description: Gets the size estimation of a non existent segment. An error is
        returned when size calculation is not supported.
      operationId: estimateAudienceSegmentSize
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentEstimateSizeInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentSizeEstimationV1Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/audience-segments/estimate-size"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audience-segments/search:
    post:
      description: "Returns a list of segments that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudienceSegments
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 500.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 500
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
        description: Segment search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Read
      summary: "/experimental/retail-media/accounts/{account-id}/audience-segments/search"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audiences:
    patch:
      description: "Updates the properties of all audiences with a valid configuration,\
        \ and returns their IDs. For those that cannot be updated, one or multiple\
        \ errors are returned."
      operationId: bulkUpdateAudience
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkUpdateInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/audiences"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audiences/compute-sizes:
    post:
      description: Gets the size of all audiences. An error is returned for those
        whose size calculation is not supported.
      operationId: computeAudiencesSizes
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceComputeSizesInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSizeEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/audiences/compute-sizes"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audiences/create:
    post:
      description: "Creates all audiences with a valid configuration, and returns\
        \ their IDs. For those that cannot be created, one or multiple errors are\
        \ returned."
      operationId: bulkCreateAudience
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkCreateInputV1'
        description: Audience creation parameter
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/audiences/create"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audiences/delete:
    post:
      description: Deletes the audiences associated to the given IDs.
      operationId: bulkDeleteAudiences
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceBulkDeleteInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
          description: Success
        "204":
          content:
            application/json: {}
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/audiences/delete"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audiences/estimate-size:
    post:
      description: Gets the size estimation of a non existent audience. An error is
        returned when size calculation is not supported.
      operationId: estimateAudienceSize
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceEstimateSizeInputV1'
        description: ""
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSizeEstimationV1Response'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/audiences/estimate-size"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/audiences/search:
    post:
      description: "Returns a list of audiences that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudiences
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 500.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 500
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
        description: Audience search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Read
      summary: "/experimental/retail-media/accounts/{account-id}/audiences/search"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/balances/{balance-id}:
    patch:
      description: Modify a balance for the given account id
      operationId: UpdateBalanceV1
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance to change the dates
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfUpdateBalanceModelV1'
        description: An object that represents the available options to modify a balance.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfBalanceResponseV1'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/balances/{balance-id}"
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/creatives:
    post:
      description: Create a creative for an account
      operationId: CreateCreative
      parameters:
      - description: External account id to create a creative for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateModel2'
        description: The creative to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Creatives created
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/creatives"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/creatives/{creative-id}:
    get:
      description: Get the specified creative
      operationId: GetCreative
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to get
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Creatives found
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/accounts/{account-id}/creatives/{creative-id}"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a creative
      operationId: UpdateCreative
      parameters:
      - description: External account id containing the creative
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to update
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeUpdateModel2'
        description: The creative to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Success
        "204":
          description: Creative updated
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/accounts/{account-id}/creatives/{creative-id}"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/creatives/search:
    post:
      description: Get account creatives
      operationId: SearchAccountCreatives
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: limit to paginated result
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: offset to paginated result
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityResourceInputCreativeSearchRequest'
        description: search request filter
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeCreativeSearchResponse'
          description: Creatives found
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/accounts/{account-id}/creatives/search"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{account-id}/line-items/cap-out-history:
    post:
      description: Get the cap out history for line items
      operationId: GetCapoutHistory
      parameters:
      - description: account id that own the lineitem
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputLineItemBudgetCapOutHistoryRequest'
        description: lineitem budgetcapout history  object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeLineItemBudgetCapOutHistoryResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/accounts/{account-id}/line-items/cap-out-history"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{accountId}/balances:
    get:
      description: Gets page of balance objects for the given account id.
      operationId: GetPageOfBalancesV1
      parameters:
      - description: The account to get balances for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: The balance ids which the result is limited to.
        explode: true
        in: query
        name: limit-to-id
        required: false
        schema:
          items:
            type: string
          maxItems: 50
          type: array
        style: form
      - description: The (zero-based) starting offset in the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeBalanceV1AndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Read
      summary: "/experimental/retail-media/accounts/{accountId}/balances"
      tags:
      - Balance
      x-accepts: application/json
  /experimental/retail-media/accounts/{accountId}/grant-third-party-consent:
    post:
      description: Grant third-party consent to a business application on behalf of
        a Private Market demand account
      operationId: GrantThirdPartyConsent
      parameters:
      - description: The demand account ID on which to grant consent
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
        description: "The request input containing clientId, callbackURL, and callbackState"
        x-bodyName: grantConsentInput
      responses:
        "204":
          description: Success
      security:
      - oauth:
        - RetailMedia_ThirdPartyAccounts_Manage
      summary: "/experimental/retail-media/accounts/{accountId}/grant-third-party-consent"
      tags:
      - ThirdPartyAccounts
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/accounts/{accountId}/retailers/search:
    post:
      description: Searches for retailers associated with the specified account and
        returns budget model availability for each retailer
      operationId: SearchAccountRetailers
      parameters:
      - description: The external account identifier
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of items to return. Must be between 1 and
          10. Default is 5.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 5
          format: int32
          maximum: 10
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. Default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailerSearchRequestV2'
        description: The search request containing filtering parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfRetailerResultV2AndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/accounts/{accountId}/retailers/search"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/auction-line-items/{lineItemId}:
    get:
      description: Gets a sponsored product line item by its id.
      operationId: GetAuctionLineItem
      parameters:
      - description: The id of the line item
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/auction-line-items/{lineItemId}"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates a Sponsored Products Line Item given a line item id and
        a request.
      operationId: UpdateAuctionLineItem
      parameters:
      - description: The external line item ID of the sponsored products line item.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemUpdateRequestModel'
        description: An update request containing all details of the requested update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/auction-line-items/{lineItemId}"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/audience-segments/{audience-segment-id}/contact-list/add-remove:
    post:
      description: "Add/remove identifiers to or from a retail-media contact list\
        \ audience-segment, with external audience segment id."
      operationId: AddRemoveContactListByAudienceSegment
      parameters:
      - description: "The id of the contact list audience-segment to amend, we only\
          \ accept external Id here"
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailMediaContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                type: AddRemoveContactlistResult
                data:
                  contactListId: 568708742535471104
                  operation: add
                  requestDate: 2018-12-10T10:00:50.0000000+00:00
                  identifierType: madid
                  nbValidIdentifiers: 7343
                  nbInvalidIdentifiers: 13
                  sampleInvalidIdentifiers:
                  - InvalidIdentifier
                errors:
                - traceId: 667ac683ac797284.667ac683ac797284<:667ac683ac797284
                  type: availability
                  code: internal-error
                  instance: ""
                  title: Internal error
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers'
              schema:
                $ref: '#/components/schemas/RetailMediaContactlistOperation'
          description: Summary of created request
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/audience-segments/{audience-segment-id}/contact-list/add-remove"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/audience-segments/{audience-segment-id}/contact-list/clear:
    post:
      description: "Delete all identifiers from a retail-media contact list audience-segment,\
        \ with external audience segment id."
      operationId: ClearContactListByAudienceSegment
      parameters:
      - description: "The id of the contact list audience-segment to amend, we only\
          \ accept external Id here"
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int64
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The Contact List identifiers were deleted
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/experimental/retail-media/audience-segments/{audience-segment-id}/contact-list/clear"
      tags:
      - Audience
      x-accepts: application/json
  /experimental/retail-media/balances/{balanceId}:
    get:
      description: Get a balance for the given balance id.
      operationId: GetBalanceV1
      parameters:
      - description: The balance id.
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeBalanceV1'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Read
      summary: "/experimental/retail-media/balances/{balanceId}"
      tags:
      - Balance
      x-accepts: application/json
  /experimental/retail-media/balances/{balanceId}/campaigns/append:
    post:
      description: Appends one or more campaigns to the specified balance
      operationId: AppendCampaignsToBalanceV1
      parameters:
      - description: The balance to add campaigns from
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAppendCampaignsRequestV1'
        description: The balance campaign appending request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeBalanceCampaignsV1'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/balances/{balanceId}/campaigns/append"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/balances/{balanceId}/campaigns/delete:
    post:
      description: Deletes one or more campaigns on the specified balance
      operationId: DeleteCampaignsFromBalanceV1
      parameters:
      - description: The balance to remove campaigns from
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputDeleteCampaignsRequestV1'
        description: The balance campaign deleting request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeBalanceCampaignsV1'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/balances/{balanceId}/campaigns/delete"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/balances/{balanceId}/history:
    get:
      description: Gets the balance's historical change data.
      operationId: GetBalanceHistoryV1
      parameters:
      - description: Balance id.
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Comma separated change types string that will be queried.
        explode: true
        in: query
        name: limitToChangeTypes
        required: false
        schema:
          type: string
        style: form
      - description: The (zero-based) starting offset in the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeBalanceHistoryChangeDataCaptureV1AndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Read
      summary: "/experimental/retail-media/balances/{balanceId}/history"
      tags:
      - Balance
      x-accepts: application/json
  /experimental/retail-media/brands/search:
    post:
      description: Search for brands given a retailer ID and search term.
      operationId: SearchBrands
      parameters:
      - description: the number of brands to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: offset of paginated results
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputBrandIdSearchRequest'
        description: BrandIdSearchRequest which contains the request parameters
        x-bodyName: brandIdSearchRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeBrandIdSearchResultPagingOffsetLimitMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Read
      summary: /experimental/retail-media/brands/search
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      description: Gets page of preferred line item objects for the given campaign
        id
      operationId: GetPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/campaigns/{campaign-id}/preferred-line-items"
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new preferred line item with the specified settings
      operationId: CreatePreferredLineItemByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModelV2Request'
        description: The line item settings to create a line item with
        required: true
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/campaigns/{campaign-id}/preferred-line-items"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/campaigns/{campaignId}/auction-line-items:
    get:
      description: Gets a page of sponsored product line items by campaign id.
      operationId: GetAuctionLineItemsByCampaign
      parameters:
      - description: The id of the campaign
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned on a page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: The ids to limit the auction line item results to
        explode: true
        in: query
        name: limitToIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The (zero-based) starting offset into the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfSponsoredProductsLineItemAndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/campaigns/{campaignId}/auction-line-items"
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates new auction line item with the specified settings
      operationId: CreateAuctionLineItem
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemCreateRequestModel'
        description: The line item settings to create a line item with
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/campaigns/{campaignId}/auction-line-items"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/catalog/merchants/{merchantId}/store-inventory/delete:
    post:
      description: Used to publish a batch of store inventories to delete. The batch
        is processed asynchronously.
      operationId: DeleteStoreInventoryPerMerchantId
      parameters:
      - description: "Identifies the merchant, can also be called partnerId"
        explode: false
        in: path
        name: merchantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchStoreInventoryDeleteRequest'
        required: true
        x-bodyName: body
      responses:
        "204":
          content:
            application/json: {}
          description: Batch accepted.
      security:
      - oauth:
        - RetailMedia_Catalog_Manage
      summary: "/experimental/retail-media/catalog/merchants/{merchantId}/store-inventory/delete"
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/catalog/merchants/{merchantId}/store-inventory/upsert:
    post:
      description: Used to publish a batch of store inventories to upsert. The batch
        is processed asynchronously.
      operationId: UpsertStoreInventoryPerMerchantId
      parameters:
      - description: "Identifies the merchant, can also be called partnerId"
        explode: false
        in: path
        name: merchantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchStoreInventoryRequest'
        required: true
        x-bodyName: body
      responses:
        "204":
          content:
            application/json: {}
          description: Batch accepted.
      security:
      - oauth:
        - RetailMedia_Catalog_Manage
      summary: "/experimental/retail-media/catalog/merchants/{merchantId}/store-inventory/upsert"
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/catalog/products/batch:
    post:
      description: |-
        Used to publish a batch of operations to insert, update and deletes products.
         The batch is processed asynchronously.The response provides an operationToken which can be used to track
         the status of the report of the operation.
      operationId: SubmitCatalogProductsBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsCustomBatchRequest'
        required: true
        x-bodyName: body
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAcceptedResponse'
          description: Batch accepted. The status of the operation can be tracked
            using the report endpoint and the operationToken.
      security:
      - oauth:
        - RetailMedia_Catalog_Manage
      summary: /experimental/retail-media/catalog/products/batch
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/catalog/products/batch/report/{operation-token}:
    get:
      description: Get the report of an asynchronous batch operation previously requested
      operationId: GetCatalogProductsBatchReport
      parameters:
      - description: The token returned by the batch endpoint.
        explode: false
        in: path
        name: operation-token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportOkResponse'
          description: The report object
      security:
      - oauth:
        - RetailMedia_Catalog_Read
      summary: "/experimental/retail-media/catalog/products/batch/report/{operation-token}"
      tags:
      - Catalog
      x-accepts: application/json
  /experimental/retail-media/catalogs/{catalogId}/status:
    get:
      description: Check the status of a catalog request.
      operationId: GetCatalogStatus
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Catalog request found.
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/catalogs/{catalogId}/status"
      tags:
      - Campaign
      x-accepts: application/json
  /experimental/retail-media/chatbot-catalogs/{catalogid}/product-recommendations:
    post:
      description: Ask a chatbot for a product recommendation
      operationId: chatbotProductRecommendations
      parameters:
      - description: the identifier of the catalog to query
        explode: false
        in: path
        name: catalogid
        required: true
        schema:
          description: the identifier of the catalog to query
          title: catalogid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InbotDiscussionBodyModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBodyModel'
          description: Successful Response
      security:
      - oauth:
        - RetailMedia_OnSiteRecommendation_Read
      summary: "/experimental/retail-media/chatbot-catalogs/{catalogid}/product-recommendations"
      tags:
      - OnSiteRecommendation
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/insights/{insightId}/output:
    get:
      description: Returns the output of an async insight
      operationId: GetInsightReportOutput
      parameters:
      - description: The ID of the asynchronous insight report. Must be a valid ID
          format.
        explode: false
        in: path
        name: insightId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: "/experimental/retail-media/insights/{insightId}/output"
      tags:
      - Analytics
      x-accepts: application/json
  /experimental/retail-media/insights/{insightId}/status:
    get:
      description: Returns the status of an async insight
      operationId: GetInsightReportStatus
      parameters:
      - description: The ID of the asynchronous insight report. Must be a valid ID
          format.
        explode: false
        in: path
        name: insightId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInsightResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: "/experimental/retail-media/insights/{insightId}/status"
      tags:
      - Analytics
      x-accepts: application/json
  /experimental/retail-media/insights/digital-shelf-intelligence:
    post:
      description: Generate a Digital Shelf Intelligence insight
      operationId: GenerateDigitalShelfIntelligenceInsight
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalShelfIntelligenceInsightRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInsightResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/insights/digital-shelf-intelligence
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/insights/share-of-voice:
    post:
      description: Generate a share of voice insight
      operationId: GenerateShareOfVoiceInsight
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareOfVoiceInsightRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncInsightResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/insights/share-of-voice
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/line-items/{line-item-id}/product-buttons:
    get:
      description: Get LineItem Product Buttons
      operationId: GetProductButtonsByLineItemId
      parameters:
      - description: LineItemId for productButton retrieval
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonResponseListResponse'
          description: ProductButtons found
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/line-items/{line-item-id}/product-buttons"
      tags:
      - Campaign
      x-accepts: application/json
  /experimental/retail-media/line-items/{line-item-id}/product-buttons/{product-button-id}:
    delete:
      description: Delete Specific Product Button
      operationId: DeleteProductButtonByLineItemAndProductButtonId
      parameters:
      - description: LineItemId for productButton delete
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: productButtonId used for delete
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonResponseListResponse'
          description: ProductButton deleted
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/line-items/{line-item-id}/product-buttons/{product-button-id}"
      tags:
      - Campaign
      x-accepts: application/json
    get:
      description: Get Specific Product Button
      operationId: GetProductButtonByLineItemAndProductButtonId
      parameters:
      - description: LineItemId for productButton retrieval
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: productButtonId used for retrieval
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonResponseListResponse'
          description: ProductButton found
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/line-items/{line-item-id}/product-buttons/{product-button-id}"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update Specific Product Button
      operationId: UpdateProductButtonByLineItemAndProductButtonId
      parameters:
      - description: LineItemId for productButton update
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: productButtonId used for update
        explode: false
        in: path
        name: product-button-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductButtonRequestRequest'
        description: Specific Product button update info
        required: true
        x-bodyName: productButton
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonResponseListResponse'
          description: ProductButton updated
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/line-items/{line-item-id}/product-buttons/{product-button-id}"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/line-items/{line-item-id}/product-buttons/create:
    post:
      description: Add Specific Product Buttons
      operationId: AppendProductButtonByLineItemId
      parameters:
      - description: LineItemId for productButton retrieval
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductButtonRequestListRequest'
        description: List of Product Buttons to append
        x-bodyName: productButtons
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductButtonResponseListResponse'
          description: ProductButtons added
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/line-items/{line-item-id}/product-buttons/create"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/line-items/{line-item-id}/products:
    get:
      description: Retrieve a page of promoted products for a line item
      operationId: FetchPromotedProducts
      parameters:
      - description: "A comma separated list of attribute names from the response\
          \ model to compute and return.\r\n            Valid values are `status`\
          \ and `bidOverride` in any order. Defaults to `status`."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Maximum page size to fetch. Defaults to 500.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: ID of the line item.
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: Offset of the first item to fetch. Defaults to zero.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProductResourceCollectionOutcome'
          description: Promoted products associated with the line item
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/line-items/{line-item-id}/products"
      tags:
      - Campaign
      x-accepts: application/json
  /experimental/retail-media/line-items/{line-item-id}/products/append:
    post:
      description: Append a collection of promoted products to a line item
      operationId: AppendPromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Promoted products appended to the line item with warnings
        "204":
          description: Promoted products appended to the line item
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/line-items/{line-item-id}/products/append"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/line-items/{line-item-id}/products/delete:
    post:
      description: Remove a collection of promoted products from a line item
      operationId: DeletePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products removed from the line item
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/line-items/{line-item-id}/products/delete"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/line-items/{line-item-id}/products/pause:
    post:
      description: Pause a collection of promoted products associated with a line
        item
      operationId: PausePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products paused
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/line-items/{line-item-id}/products/pause"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/line-items/{line-item-id}/products/unpause:
    post:
      description: Un-pause a collection of promoted products associated with a line
        item
      operationId: UnpausePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products un-paused
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/line-items/{line-item-id}/products/unpause"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
      security:
      - oauth: []
      summary: /experimental/retail-media/me
      tags:
      - Gateway
      x-accepts: application/json
  /experimental/retail-media/preferred-line-items/{line-item-id}:
    get:
      description: Gets the preferred line item for the given line item id
      operationId: GetPreferredLineItemsByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/preferred-line-items/{line-item-id}"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the preferred line item for the given line item id
      operationId: UpdatePreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemUpdateModelV2Request'
        description: The line item settings to create a line item with
        required: true
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/experimental/retail-media/preferred-line-items/{line-item-id}"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/reports/{reportId}/output:
    get:
      description: Returns the output of an async report
      operationId: GetAsyncExportOutput
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: "/experimental/retail-media/reports/{reportId}/output"
      tags:
      - Analytics
      x-accepts: application/json
  /experimental/retail-media/reports/{reportId}/status:
    get:
      description: Returns the status of an async report
      operationId: GetAsyncExportStatus
      parameters:
      - description: The ID of the report to retrieve
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: "/experimental/retail-media/reports/{reportId}/status"
      tags:
      - Analytics
      x-accepts: application/json
  /experimental/retail-media/reports/accounts:
    post:
      description: "Returns an asynchronous Accounts Report\r\n<br />\r\nThis endpoint\
        \ is subject to specific rate limits."
      operationId: GenerateAsyncAccountsReportV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncAccountsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/reports/accounts
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/reports/campaigns:
    post:
      description: "Return an asynchronous Campaigns Report\r\n<br />\r\nThis endpoint\
        \ is subject to specific rate limits."
      operationId: GenerateAsyncCampaignsReportV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncCampaignsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/reports/campaigns
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/reports/fillrate:
    post:
      description: "Returns an asynchronous Fill Rate Report\r\n<br />\r\nThis endpoint\
        \ is subject to specific rate limits."
      operationId: GenerateAsyncFillRateReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncFillRateReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/reports/fillrate
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/reports/line-items:
    post:
      description: "Returns an asynchronous Line Items Report\r\n<br />\r\nThis endpoint\
        \ is subject to specific rate limits."
      operationId: GenerateAsyncLineItemsReportV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncLineItemsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/reports/line-items
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/reports/offsite:
    post:
      description: "Returns an asynchronous Offsite Report\r\n<br />\r\nThis endpoint\
        \ is subject to specific rate limits."
      operationId: GenerateAsyncOffsiteReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncOffsiteReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/reports/offsite
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/reports/sync/attributed-transactions:
    post:
      description: Returns a synchronous Attributed Transactions Report
      operationId: GenerateSyncAttributedTransactionsReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncAttributedTransactionsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/reports/sync/attributed-transactions
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/reports/sync/campaigns:
    post:
      description: Returns a synchronous Campaigns Report
      operationId: GenerateSyncCampaignsReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncCampaignsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/reports/sync/campaigns
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/reports/sync/line-items:
    post:
      description: Returns a synchronous Line Items Report
      operationId: GenerateSyncLineItemsReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncLineItemsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/reports/sync/line-items
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/reports/sync/real-time-performance:
    post:
      description: "Returns a synchronous Real Time Performance Report. Returns empty\
        \ rows; metadata includes dataCompleteThrough (latest time from streaming\
        \ table in the request timezone).\r\n<br />\r\nThis endpoint is subject to\
        \ specific rate limits."
      operationId: GenerateSyncRealTimePerformanceReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncRealTimePerformanceReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/reports/sync/real-time-performance
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/reports/unfilled-placements:
    post:
      description: "Returns an asynchronous Unfilled Placements Report\r\n<br />\r\
        \nThis endpoint is subject to specific rate limits."
      operationId: GenerateAsyncUnfilledPlacementsReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncUnfilledPlacementsReportRequest'
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncReportResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Analytics_Read
      summary: /experimental/retail-media/reports/unfilled-placements
      tags:
      - Analytics
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/retailers/{retailer-id}/offers/update:
    post:
      description: Update one or more offers by replacing each offer's price and availability
        with the given values
      operationId: OfferUpdateV1
      parameters:
      - description: The retailer for which these offers will be updated
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputUpdateOffersRequest'
        description: Collection of offer price and availability updates to be applied.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Success
      security:
      - oauth:
        - RetailMedia_Catalog_Manage
      summary: "/experimental/retail-media/retailers/{retailer-id}/offers/update"
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/retailers/{retailer-id}/products/set-buy-box-winners:
    post:
      description: Update the buy box winner for one or more products
      operationId: OfferSetBbwV1
      parameters:
      - description: The retailer for which these buy box winners will be set
        explode: false
        in: path
        name: retailer-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputSetProductBuyBoxWinnersRequest'
        description: Updated buy box winners for one or more products
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outcome'
          description: Success
      security:
      - oauth:
        - RetailMedia_Catalog_Manage
      summary: "/experimental/retail-media/retailers/{retailer-id}/products/set-buy-box-winners"
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/retailers/{retailerId}/compute-display-min-bid:
    post:
      description: Computes the min bid for relevant page types based on the provided
        information
      operationId: ComputeDisplayMinBidByRetailerId
      parameters:
      - description: The retailer id
        explode: false
        in: path
        name: retailerId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputDisplayAuctionMinBidRequest'
        description: The details for what creatives and product ids to use to compute
          the min bids
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeDisplayAuctionMinBidResult'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/experimental/retail-media/retailers/{retailerId}/compute-display-min-bid"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/third-party-accounts/{accountId}/brands/{brandId}/remove:
    post:
      description: Attempt to remove the provided brand from the account.
      operationId: RemoveThirdPartyAccountBrand
      parameters:
      - description: account id to remove brand from
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: brand to remove
        explode: false
        in: path
        name: brandId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRetailMediaBrands'
          description: Success
      security:
      - oauth:
        - RetailMedia_ThirdPartyAccounts_Manage
      summary: "/experimental/retail-media/third-party-accounts/{accountId}/brands/{brandId}/remove"
      tags:
      - ThirdPartyAccounts
      x-accepts: application/json
  /experimental/retail-media/third-party-accounts/{accountId}/brands/add:
    post:
      description: add the provided brands to an account. This will not remove any
        existing brands.
      operationId: AddThirdPartyAccountBrands
      parameters:
      - description: account to add brands to
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
        description: list of bands to add to an account
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRetailMediaBrands'
          description: Success
      security:
      - oauth:
        - RetailMedia_ThirdPartyAccounts_Manage
      summary: "/experimental/retail-media/third-party-accounts/{accountId}/brands/add"
      tags:
      - ThirdPartyAccounts
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/third-party-accounts/{accountId}/create-brand-account:
    post:
      description: Create a private market demand brand account under a given parent
        account.
      operationId: CreateThirdPartyBrandAccount
      parameters:
      - description: parent supply account to create account under
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreationV2'
        description: ""
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfRetailMediaAccountV2'
          description: Success
      security:
      - oauth:
        - RetailMedia_ThirdPartyAccounts_Manage
      summary: "/experimental/retail-media/third-party-accounts/{accountId}/create-brand-account"
      tags:
      - ThirdPartyAccounts
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/third-party-accounts/{accountId}/create-seller-account:
    post:
      description: Create a private market demand seller account under a given parent
        account.
      operationId: CreateThirdPartySellerAccount
      parameters:
      - description: parent supply account to create account under
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaSellerAccountCreationV2'
        description: ""
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfRetailMediaAccountV2'
          description: Success
      security:
      - oauth:
        - RetailMedia_ThirdPartyAccounts_Manage
      summary: "/experimental/retail-media/third-party-accounts/{accountId}/create-seller-account"
      tags:
      - ThirdPartyAccounts
      x-content-type: application/json
      x-accepts: application/json
  /experimental/retail-media/third-party-accounts/{accountId}/sellers:
    put:
      description: Update the list of sellers mapped to the account. This will override
        any existing mappings.
      operationId: UpdateThirdPartyAccountSellers
      parameters:
      - description: accountId to update sellers for
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceCollectionInputOfRetailMediaSeller'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfRetailMediaSeller'
          description: Success
      security:
      - oauth:
        - RetailMedia_ThirdPartyAccounts_Manage
      summary: "/experimental/retail-media/third-party-accounts/{accountId}/sellers"
      tags:
      - ThirdPartyAccounts
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    AppendCampaignsRequestV1:
      additionalProperties: false
      description: Request object for appending campaigns to balance campaigns mapping.
      example:
        ids:
        - ids
        - ids
      properties:
        ids:
          description: The ids of the campaigns that are going to be appended to balance
            campaigns mapping.
          items:
            type: string
          type: array
      required:
      - ids
      type: object
    ApplicationSummaryModel:
      description: Used for the /me endpoint. Contains information about the currently
        authenticated application that we accept to give to our clients
      example:
        organizationId: 6
        name: name
        description: description
        criteoService: criteoService
        applicationId: 0
      nullable: true
      properties:
        applicationId:
          format: int32
          nullable: true
          type: integer
        criteoService:
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        organizationId:
          format: int32
          nullable: true
          type: integer
      type: object
    ApplicationSummaryModelResource:
      description: A top-level object that encapsulates a Criteo API response for
        a single value
      example:
        attributes:
          organizationId: 6
          name: name
          description: description
          criteoService: criteoService
          applicationId: 0
        type: type
      nullable: true
      properties:
        attributes:
          $ref: '#/components/schemas/ApplicationSummaryModel'
        type:
          nullable: true
          type: string
      type: object
    ApplicationSummaryModelResponse:
      description: A top-level object that encapsulates a Criteo API response for
        a single value
      example:
        data:
          attributes:
            organizationId: 6
            name: name
            description: description
            criteoService: criteoService
            applicationId: 0
          type: type
        warnings:
        - traceId: traceId
          code: code
          instance: instance
          traceIdentifier: traceIdentifier
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          title: title
          type: unknown
        - traceId: traceId
          code: code
          instance: instance
          traceIdentifier: traceIdentifier
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          title: title
          type: unknown
        errors:
        - traceId: traceId
          code: code
          instance: instance
          traceIdentifier: traceIdentifier
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          title: title
          type: unknown
        - traceId: traceId
          code: code
          instance: instance
          traceIdentifier: traceIdentifier
          detail: detail
          source:
            key: source
          stackTrace: stackTrace
          title: title
          type: unknown
      properties:
        data:
          $ref: '#/components/schemas/ApplicationSummaryModelResource'
        errors:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
        warnings:
          items:
            $ref: '#/components/schemas/CommonProblem'
          nullable: true
          readOnly: true
          type: array
      type: object
    AsyncAccountsReport:
      description: Async Accounts report body request
      example:
        activationPlatforms:
        - CommerceMax
        - CommerceMax
        campaignType: all
        clickAttributionWindow: none
        endDate: 2000-01-23T04:56:07.000+00:00
        searchTermTargetings:
        - unknown
        - unknown
        searchTermTypes:
        - unknown
        - unknown
        timezone: UTC
        format: json-compact
        mediaType: all
        buyTypes:
        - auction
        - auction
        salesChannel: all
        targetedKeywordTypes:
        - unknown
        - unknown
        reportType: summary
        accountIds:
        - accountIds
        - accountIds
        budgetModels:
        - CriteoBudget
        - CriteoBudget
        aggregationLevel: campaign
        viewAttributionWindow: none
        metrics:
        - impressions
        - impressions
        startDate: 2000-01-23T04:56:07.000+00:00
        dimensions:
        - date
        - date
      properties:
        accountIds:
          description: Account Ids to report on
          items:
            type: string
          type: array
        activationPlatforms:
          description: "Filter on the activation platform: CommerceMax, PrivateMarket"
          items:
            enum:
            - CommerceMax
            - PrivateMarket
            type: string
          type: array
        aggregationLevel:
          default: campaign
          description: "Level of aggregation, if no dimensions and metrics are provided,\
            \ falls back to campaign aggregationLevel"
          enum:
          - campaign
          - lineItem
          type: string
        budgetModels:
          description: "Filter on the budget model: CriteoBudget, RetailerBudget"
          items:
            enum:
            - CriteoBudget
            - RetailerBudget
            type: string
          type: array
        buyTypes:
          description: "Filter on the buy type: auction, preferredDeals, sponsorship"
          items:
            enum:
            - auction
            - preferredDeals
            - sponsorship
            type: string
          type: array
        campaignType:
          default: all
          description: "Filter the type of campaigns to report on: sponsoredProducts\
            \ or onSiteDisplays"
          enum:
          - all
          - sponsoredProducts
          - onSiteDisplays
          type: string
        clickAttributionWindow:
          default: none
          description: Click attribution window
          enum:
          - none
          - 7D
          - 14D
          - 30D
          type: string
        dimensions:
          description: List of dimensions to report on
          items:
            enum:
            - date
            - hour
            - accountId
            - accountName
            - campaignId
            - campaignName
            - campaignTypeName
            - lineItemId
            - lineItemName
            - retailerId
            - retailerName
            - brandId
            - brandName
            - advProductCategory
            - advProductId
            - advProductName
            - salesChannel
            - mediaType
            - buyType
            - budgetModel
            - activationPlatform
            - environment
            - pageTypeName
            - pageCategory
            - servedCategory
            - taxonomyBreadcrumb
            - keyword
            - searchTerm
            - searchTermType
            - searchTermTargeting
            - creativeId
            - creativeName
            - creativeTypeId
            - creativeTypeName
            - creativeTemplateId
            - creativeTemplateName
            - targetedKeywordType
            type: string
          type: array
        endDate:
          description: End date
          format: date-time
          type: string
        format:
          default: json-compact
          description: Format of the output
          enum:
          - json
          - json-compact
          - json-newline
          - csv
          type: string
[...]
