
from {{packageName}}.configuration import Configuration
from {{packageName}}.api_client import ApiClient

class ApiClientBuilder :

    @staticmethod
    def ForClientCredentials(clientId, clientSecret):
        configuration = Configuration(username=clientId, password=clientSecret)
       
        return ApiClient(configuration)
