from __future__ import print_function

import logging
import sys
from pprint import pprint

from {{packageName}}.api.advertiser_api import AdvertiserApi 
from {{packageName}} import ApiClientBuilder

if __name__ == '__main__':
    if len(sys.argv) != 3:
        raise ValueError("You need to provide 2 arguments : CLIENT_ID and CLIENT_SECRET")
    
    client = ApiClientBuilder.ForClientCredentials(clientId=sys.argv[1], clientSecret=sys.argv[2])

    # Reuse the same client to benefit automatically from token refresh
    api = AdvertiserApi(client)

    portfolio_response = api.api_portfolio_get()
    pprint(portfolio_response)
