openapi: 3.0.1
info:
  description: Criteo API - RetailMedia
  title: Criteo API
  version: 2026-07
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Accounts
- name: Analytics
- name: Audience
- name: Balance
- name: Billing
- name: Campaign
- name: Catalog
- name: Gateway
paths:
  /2026-07/retail-media/account-management/accounts/{accountId}/brands/add:
    post:
      description: Add brands to an account
      operationId: AddBrands
      parameters:
      - description: the account id to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRetailMediaBrands'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: "/2026-07/retail-media/account-management/accounts/{accountId}/brands/add"
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/account-management/accounts/{accountId}/brands/remove:
    post:
      description: Remove brands from an account
      operationId: RemoveBrands
      parameters:
      - description: the account id to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrands'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRetailMediaBrands'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: "/2026-07/retail-media/account-management/accounts/{accountId}/brands/remove"
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/account-management/accounts/{accountId}/create-brand-account:
    post:
      description: Creates a new child Demand Brand account for the provided parent
        Private Market account
      operationId: CreatePrivateMarketDemandBrandAccount
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaBrandAccountCreation'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfRetailMediaAccount'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: "/2026-07/retail-media/account-management/accounts/{accountId}/create-brand-account"
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/account-management/accounts/{accountId}/create-seller-account:
    post:
      description: Creates a new child Demand Seller account for the provided parent
        Private Market account
      operationId: CreatePrivateMarketDemandSellerAccount
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailMediaSellerAccountCreation'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfRetailMediaAccount'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: "/2026-07/retail-media/account-management/accounts/{accountId}/create-seller-account"
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/account-management/accounts/{accountId}/private-market-child-accounts:
    get:
      description: Gets Private Market child accounts that are associated with the
        given account
      operationId: GetPrivateMarketChildAccountsByAccountId
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of accounts to be returned. The default is 25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: The (zero-based) offset into the collection of accounts. The
          default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfRetailMediaChildAccountAndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Read
      summary: "/2026-07/retail-media/account-management/accounts/{accountId}/private-market-child-accounts"
      tags:
      - Accounts
      x-accepts: application/json
  /2026-07/retail-media/account-management/accounts/{accountId}/sellers:
    put:
      description: Replace the sellers associated with an account
      operationId: UpdateSellers
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceCollectionInputOfRetailMediaSeller'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfRetailMediaSeller'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: "/2026-07/retail-media/account-management/accounts/{accountId}/sellers"
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts:
    get:
      description: Gets page of account objects that the current user can access
      operationId: GetAccounts
      parameters:
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfAccount'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Read
      summary: /2026-07/retail-media/accounts
      tags:
      - Accounts
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/audience-segments:
    patch:
      description: "Updates the properties of all segments with a valid configuration,\
        \ and returns the full segments. For those that cannot be updated, one or\
        \ multiple errors are returned."
      operationId: bulkUpdateAudienceSegments
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkUpdateInputV1'
        description: Segment Update request
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/2026-07/retail-media/accounts/{account-id}/audience-segments"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/audience-segments/{audience-segment-id}/contact-list:
    get:
      description: Returns the statistics of a contact list segment.
      operationId: getAudienceSegmentContactListStatistics
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Segment Id.
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmContactListStatisticsEntityV1Response'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Read
      summary: "/2026-07/retail-media/accounts/{account-id}/audience-segments/{audience-segment-id}/contact-list"
      tags:
      - Audience
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/audience-segments/create:
    post:
      description: "Creates all segments with a valid configuration, and returns the\
        \ full segments. For those that cannot be created, one or multiple errors\
        \ are returned."
      operationId: bulkCreateAudienceSegments
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkCreateInputV1'
        description: Segment creation parameter
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/2026-07/retail-media/accounts/{account-id}/audience-segments/create"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/audience-segments/delete:
    post:
      description: Delete the segments associated to the given IDs.
      operationId: bulkDeleteAudienceSegments
      parameters:
      - description: Account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentBulkDeleteInputV1'
        description: Segment delete request.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentIdEntityV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/2026-07/retail-media/accounts/{account-id}/audience-segments/delete"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/audience-segments/search:
    post:
      description: "Returns a list of segments that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudienceSegments
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 500.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 500
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSegmentSearchInputV1'
        description: Segment search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceSegmentEntityV1RmAudienceSegmentSearchMetadataV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Read
      summary: "/2026-07/retail-media/accounts/{account-id}/audience-segments/search"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/audiences/search:
    post:
      description: "Returns a list of audiences that match the provided filters. If\
        \ present, the filters are AND'ed together when applied."
      operationId: searchAudiences
      parameters:
      - description: Account Id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned. The default is 50 and
          the maximum is 500.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 500
          minimum: 0
          type: integer
        style: form
      - description: The (zero-based) offset into the collection. The default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RmAudienceSearchInputV1'
        description: Audience search filters.
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RmAudienceEntityV1RmAudienceSearchMetadataV1ListResponse'
          description: Success or partial success
      security:
      - oauth:
        - RetailMedia_Audience_Read
      summary: "/2026-07/retail-media/accounts/{account-id}/audiences/search"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/balances:
    post:
      description: Create balance for the given account id
      operationId: CreateBalanceByAccountId
      parameters:
      - description: The account to create balances for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBalanceV3Request'
        description: An object that represents the available options to set when creating
          a Retail Media Balance
        required: true
        x-bodyName: createBalance
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV3Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Manage
      summary: "/2026-07/retail-media/accounts/{account-id}/balances"
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/balances/{balance-id}:
    get:
      description: Get a balance for the given account id and balance id
      operationId: GetBalanceByAccountAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance id
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Read
      summary: "/2026-07/retail-media/accounts/{account-id}/balances/{balance-id}"
      tags:
      - Balance
      x-accepts: application/json
    patch:
      description: Modify a balance for the given account id
      operationId: UpdateBalanceV1
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance to change the dates
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfUpdateBalanceModelV1'
        description: An object that represents the available options to modify a balance.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfBalanceResponseV1'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Manage
      summary: "/2026-07/retail-media/accounts/{account-id}/balances/{balance-id}"
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/balances/{balance-id}/add-funds:
    post:
      description: Add funds to a balance for the given account id
      operationId: AddFundsByAccountAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance to add funds to
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFundsToBalanceV3Request'
        description: An object that represents the available options of adding funds
          to a balance.
        required: true
        x-bodyName: addFundsToBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV3Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Manage
      summary: "/2026-07/retail-media/accounts/{account-id}/balances/{balance-id}/add-funds"
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/balances/{balance-id}/change-dates:
    post:
      description: Change dates of a balance for the given account id
      operationId: ChangeDatesByAccountAndBalanceId
      parameters:
      - description: The account of the balance
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The balance to change the dates
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeDatesOfBalanceV2Request'
        description: An object that represents the available options to modify schedule
          of a balance.
        required: true
        x-bodyName: changeDatesOfBalance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponseV2Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Manage
      summary: "/2026-07/retail-media/accounts/{account-id}/balances/{balance-id}/change-dates"
      tags:
      - Balance
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/campaigns:
    get:
      description: Gets page of campaign objects for the given account id
      operationId: GetCampaignsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfCampaignV202301'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/accounts/{account-id}/campaigns"
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new campaign with the specified settings
      operationId: CreateCampaignsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCampaignV202301'
        description: The campaign settings to create a campaign with
        required: true
        x-bodyName: campaign
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/accounts/{account-id}/campaigns"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/creatives:
    get:
      description: Get account creatives
      operationId: GetAccountCreatives
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
          description: Creatives found
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/accounts/{account-id}/creatives"
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Create a creative for an account
      operationId: CreateCreative
      parameters:
      - description: External account id to create a creative for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateModel202207'
        description: The creative to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
          description: Creatives created
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/accounts/{account-id}/creatives"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}:
    get:
      description: Get the specified creative
      operationId: GetCreative
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to get
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
          description: Creatives found
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update a creative
      operationId: UpdateCreative
      parameters:
      - description: External account id containing the creative
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creative to update
        explode: false
        in: path
        name: creative-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeUpdateModel202207'
        description: The creative to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
          description: Creative updated
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/creatives/search:
    post:
      description: Get account creatives
      operationId: SearchAccountCreatives
      parameters:
      - description: External account id to retrieve creatives for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: Creatives to filter by
        explode: true
        in: query
        name: creative-ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
          description: Creatives found
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/accounts/{account-id}/creatives/search"
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/keywords/in-review-report:
    get:
      description: Generate a list of reports for line items which contain one or
        more actionable keyword reviews
      operationId: GetKeywordInReviewReport
      parameters:
      - description: The account to generate a report for
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          format: int64
          type: string
        style: simple
      - description: Number of items per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Offset for pagination
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeLineItemKeywordReviewReportAndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/accounts/{account-id}/keywords/in-review-report"
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/accounts/{account-id}/line-items:
    get:
      description: Gets page of line item objects for the given account id
      operationId: GetLineItemsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: account-id
        required: true
        schema:
          type: string
        style: simple
      - description: The campaign ids that you would like to limit your result set
          to
        explode: true
        in: query
        name: limitToCampaignId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The campaign types that you would like to limit your result set
          to
        explode: true
        in: query
        name: limitToType
        required: false
        schema:
          enum:
          - Unknown
          - Auction
          - Preferred
          nullable: true
          type: string
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemPagedListResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/accounts/{account-id}/line-items"
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/accounts/{accountId}/balances:
    get:
      description: Gets page of balance objects for the given account id.
      operationId: GetPageOfBalancesV1
      parameters:
      - description: The account to get balances for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: The balance ids which the result is limited to.
        explode: true
        in: query
        name: limit-to-id
        required: false
        schema:
          items:
            type: string
          maxItems: 50
          type: array
        style: form
      - description: The (zero-based) starting offset in the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeBalanceV1AndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Read
      summary: "/2026-07/retail-media/accounts/{accountId}/balances"
      tags:
      - Balance
      x-accepts: application/json
  /2026-07/retail-media/accounts/{accountId}/brand-catalog-export:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: CreateBrandCatalogExport
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfBrandCatalogRequestV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Catalog request successfully created
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/accounts/{accountId}/brand-catalog-export"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{accountId}/brands:
    get:
      description: Gets page of retailer objects that are associated with the given
        account
      operationId: GetBrandsByAccountId
      parameters:
      - description: The given account id
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/accounts/{accountId}/brands"
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/accounts/{accountId}/catalogs:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: CatalogApi_PostApiV1ExternalAccountCatalogsByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfCatalogRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request successfully created
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/accounts/{accountId}/catalogs"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{accountId}/catalogs/sellers:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: Catalog_PostApiExternalV1AccountCatalogsSellersByAccountId
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfSellerCatalogRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request successfully created
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/accounts/{accountId}/catalogs/sellers"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{accountId}/grant-consent:
    post:
      description: Grant consent to a business application on behalf of a Private
        Market demand account
      operationId: GrantConsent
      parameters:
      - description: The demand account ID on which to grant consent
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantConsentInput'
        x-bodyName: grantConsentInput
      responses:
        "204":
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: "/2026-07/retail-media/accounts/{accountId}/grant-consent"
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{accountId}/retailers/search:
    post:
      description: Searches for retailers associated with the specified account and
        returns budget model availability for each retailer
      operationId: SearchAccountRetailers
      parameters:
      - description: The external account identifier
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of items to return. Must be between 1 and
          10. Default is 5.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 5
          format: int32
          maximum: 10
          minimum: 1
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set. Default is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailerSearchRequestV2'
        description: The search request containing filtering parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfRetailerResultV2AndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/accounts/{accountId}/retailers/search"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/{accountId}/seller-catalog-export:
    post:
      description: Create a request for a Catalog available to the indicated account.
      operationId: CreateSellerCatalogExport
      parameters:
      - description: The account to request the catalog for.
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerCatalogRequestV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
          description: Catalog request successfully created
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/accounts/{accountId}/seller-catalog-export"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/fees/search:
    post:
      description: Get fees for provided accounts
      operationId: AccountFeesSearch
      parameters:
      - description: "used for paging, number of results returned per request, Maximum\
          \ of 500"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: "used for paging, number of records to skip"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesSearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomePrivateMarketAccountFeesAndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Read
      summary: /2026-07/retail-media/accounts/fees/search
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/fees/update:
    post:
      description: Set fees for provided accounts
      operationId: UpdateAccountFees
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAccountFeesUpdateRequest'
        required: true
      responses:
        "204":
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: /2026-07/retail-media/accounts/fees/update
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/accounts/sellers/search:
    post:
      description: Get the sellers mapped to provided accounts
      operationId: SearchSellers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerSearch'
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeOfSellerSearchResult'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Read
      summary: /2026-07/retail-media/accounts/sellers/search
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/assets:
    post:
      description: Creates an asset
      operationId: CreateAsset
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAsset_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: /2026-07/retail-media/assets
      tags:
      - Campaign
      x-content-type: multipart/form-data
      x-accepts: application/json
  /2026-07/retail-media/auction-line-items/{lineItemId}:
    get:
      description: Gets a sponsored product line item by its id.
      operationId: GetAuctionLineItem
      parameters:
      - description: The id of the line item
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/auction-line-items/{lineItemId}"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates a Sponsored Products Line Item given a line item id and
        a request.
      operationId: UpdateAuctionLineItem
      parameters:
      - description: The external line item ID of the sponsored products line item.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemUpdateRequestModel'
        description: An update request containing all details of the requested update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/auction-line-items/{lineItemId}"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/audience-segments/{audience-segment-id}/contact-list/add-remove:
    post:
      description: "Add/remove identifiers to or from a retail-media contact list\
        \ audience-segment, with external audience segment id."
      operationId: AddRemoveContactListByAudienceSegment
      parameters:
      - description: "The id of the contact list audience-segment to amend, we only\
          \ accept external Id here"
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetailMediaContactlistAmendmentRequest'
        required: true
        x-bodyName: body
      responses:
        "200":
          content:
            application/json:
              example:
                type: AddRemoveContactlistResult
                data:
                  contactListId: 568708742535471104
                  operation: add
                  requestDate: 2018-12-10T10:00:50.0000000+00:00
                  identifierType: madid
                  nbValidIdentifiers: 7343
                  nbInvalidIdentifiers: 13
                  sampleInvalidIdentifiers:
                  - InvalidIdentifier
                errors:
                - traceId: 667ac683ac797284.667ac683ac797284<:667ac683ac797284
                  type: availability
                  code: internal-error
                  instance: ""
                  title: Internal error
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers'
              schema:
                $ref: '#/components/schemas/RetailMediaContactlistOperation'
          description: Summary of created request
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/2026-07/retail-media/audience-segments/{audience-segment-id}/contact-list/add-remove"
      tags:
      - Audience
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/audience-segments/{audience-segment-id}/contact-list/clear:
    post:
      description: "Delete all identifiers from a retail-media contact list audience-segment,\
        \ with external audience segment id."
      operationId: ClearContactListByAudienceSegment
      parameters:
      - description: "The id of the contact list audience-segment to amend, we only\
          \ accept external Id here"
        explode: false
        in: path
        name: audience-segment-id
        required: true
        schema:
          format: int64
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json: {}
          description: The Contact List identifiers were deleted
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: "/2026-07/retail-media/audience-segments/{audience-segment-id}/contact-list/clear"
      tags:
      - Audience
      x-accepts: application/json
  /2026-07/retail-media/balances/{balance-id}/campaigns:
    get:
      description: Gets page of campaigns for the given balanceId
      operationId: GetCampaignsByBalanceId
      parameters:
      - description: The balance to get campaigns from
        explode: false
        in: path
        name: balance-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceCampaign202110PagedListResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Read
      summary: "/2026-07/retail-media/balances/{balance-id}/campaigns"
      tags:
      - Balance
      x-accepts: application/json
  /2026-07/retail-media/balances/{balanceId}:
    get:
      description: Get a balance for the given balance id.
      operationId: GetBalanceV1
      parameters:
      - description: The balance id.
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeBalanceV1'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Read
      summary: "/2026-07/retail-media/balances/{balanceId}"
      tags:
      - Balance
      x-accepts: application/json
  /2026-07/retail-media/balances/{balanceId}/campaigns/append:
    post:
      description: Appends one or more campaigns to the specified balance
      operationId: AppendCampaignsToBalanceV1
      parameters:
      - description: The balance to add campaigns from
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAppendCampaignsRequestV1'
        description: The balance campaign appending request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeBalanceCampaignsV1'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/balances/{balanceId}/campaigns/append"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/balances/{balanceId}/campaigns/delete:
    post:
      description: Deletes one or more campaigns on the specified balance
      operationId: DeleteCampaignsFromBalanceV1
      parameters:
      - description: The balance to remove campaigns from
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputDeleteCampaignsRequestV1'
        description: The balance campaign deleting request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeBalanceCampaignsV1'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/balances/{balanceId}/campaigns/delete"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/balances/{balanceId}/history:
    get:
      description: Gets the balance's historical change data.
      operationId: GetBalanceHistoryV1
      parameters:
      - description: Balance id.
        explode: false
        in: path
        name: balanceId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Comma separated change types string that will be queried.
        explode: true
        in: query
        name: limitToChangeTypes
        required: false
        schema:
          type: string
        style: form
      - description: The (zero-based) starting offset in the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceCollectionOutcomeBalanceHistoryChangeDataCaptureV1AndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Balance_Read
      summary: "/2026-07/retail-media/balances/{balanceId}/history"
      tags:
      - Balance
      x-accepts: application/json
  /2026-07/retail-media/billing/partner-report:
    post:
      description: Create a Partner Billing Report request.
      operationId: CreatePartnerBillingReportRequestV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputPartnerBillingReportRequestV1'
        description: Partner Billing Report request object.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomePartnerBillingReportStatusV1'
          description: Success
      security:
      - oauth:
        - RetailMedia_Billing_Read
      summary: /2026-07/retail-media/billing/partner-report
      tags:
      - Billing
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/billing/partner-report/{requestId}/output:
    get:
      description: Get the output of an existing Partner Billing Report.
      operationId: GetPartnerBillingReportOutputV1
      parameters:
      - description: The id of a Partner Billing Report request.
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/csv:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                format: binary
                type: string
          description: Success
      security:
      - oauth:
        - RetailMedia_Billing_Read
      summary: "/2026-07/retail-media/billing/partner-report/{requestId}/output"
      tags:
      - Billing
      x-accepts: application/json
  /2026-07/retail-media/billing/partner-report/{requestId}/status:
    get:
      description: Get the status of an existing Partner Billing Report.
      operationId: GetPartnerBillingReportStatusV1
      parameters:
      - description: The id of a Partner Billing Report request.
        explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomePartnerBillingReportStatusV1'
          description: Success
      security:
      - oauth:
        - RetailMedia_Billing_Read
      summary: "/2026-07/retail-media/billing/partner-report/{requestId}/status"
      tags:
      - Billing
      x-accepts: application/json
  /2026-07/retail-media/brands/search:
    post:
      description: Search for brands given a retailer ID and search term.
      operationId: SearchBrands
      parameters:
      - description: the number of brands to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: offset of paginated results
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputBrandIdSearchRequest'
        description: BrandIdSearchRequest which contains the request parameters
        x-bodyName: brandIdSearchRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeBrandIdSearchResultPagingOffsetLimitMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Accounts_Read
      summary: /2026-07/retail-media/brands/search
      tags:
      - Accounts
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      description: Gets page of preferred line item objects for the given campaign
        id
      operationId: GetPreferredLineItemsByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      - description: The ids that you would like to limit your result set to
        explode: true
        in: query
        name: limitToId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The 0 indexed page index you would like to receive given the
          page size
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items you would like to receive in this
          request
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          maximum: 2147483647
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items"
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates a new preferred line item with the specified settings
      operationId: CreatePreferredLineItemByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaign-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModelV2Request'
        description: The line item settings to create a line item with
        required: true
        x-bodyName: lineItem
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/campaigns/{campaignId}:
    get:
      description: Gets the campaign for the given campaign id
      operationId: GetCampaignByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/campaigns/{campaignId}"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the campaign for the given campaign id
      operationId: UpdateCampaignByCampaignId
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutCampaignV202301'
        description: The campaign settings to update that campaign with
        required: true
        x-bodyName: campaign
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/campaigns/{campaignId}"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/campaigns/{campaignId}/auction-line-items:
    get:
      description: Gets a page of sponsored product line items by campaign id.
      operationId: GetAuctionLineItemsByCampaign
      parameters:
      - description: The id of the campaign
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of elements to be returned on a page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: The ids to limit the auction line item results to
        explode: true
        in: query
        name: limitToIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The (zero-based) starting offset into the collection.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfSponsoredProductsLineItemAndMetadata'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/campaigns/{campaignId}/auction-line-items"
      tags:
      - Campaign
      x-accepts: application/json
    post:
      description: Creates new auction line item with the specified settings
      operationId: CreateAuctionLineItem
      parameters:
      - description: The given campaign id
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemCreateRequestModel'
        description: The line item settings to create a line item with
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/campaigns/{campaignId}/auction-line-items"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/campaigns/{campaignId}/campaign-budget-overrides:
    get:
      description: Get current campaign budget overrides by given campaign id.
      operationId: GetCampaignBudgetOverrides
      parameters:
      - description: Campaign id.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/campaigns/{campaignId}/campaign-budget-overrides"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update campaign budget overrides by given campaign id and new campaign
        budget overrides settings.
      operationId: UpdateCampaignBudgetOverrides
      parameters:
      - description: Campaign id.
        explode: false
        in: path
        name: campaignId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfCampaignBudgetOverrides'
        description: New campaign budget overrides settings value resource input.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfCampaignBudgetOverrides'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/campaigns/{campaignId}/campaign-budget-overrides"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/catalog/merchants/{merchantId}/store-inventory/delete:
    post:
      description: Used to publish a batch of store inventories to delete. The batch
        is processed asynchronously.
      operationId: DeleteStoreInventoryPerMerchantId
      parameters:
      - description: "Identifies the merchant, can also be called partnerId"
        explode: false
        in: path
        name: merchantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchStoreInventoryDeleteRequest'
        required: true
        x-bodyName: body
      responses:
        "204":
          content:
            application/json: {}
          description: Batch accepted.
      security:
      - oauth:
        - RetailMedia_Catalog_Manage
      summary: "/2026-07/retail-media/catalog/merchants/{merchantId}/store-inventory/delete"
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/catalog/merchants/{merchantId}/store-inventory/upsert:
    post:
      description: Used to publish a batch of store inventories to upsert. The batch
        is processed asynchronously.
      operationId: UpsertStoreInventoryPerMerchantId
      parameters:
      - description: "Identifies the merchant, can also be called partnerId"
        explode: false
        in: path
        name: merchantId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchStoreInventoryRequest'
        required: true
        x-bodyName: body
      responses:
        "204":
          content:
            application/json: {}
          description: Batch accepted.
      security:
      - oauth:
        - RetailMedia_Catalog_Manage
      summary: "/2026-07/retail-media/catalog/merchants/{merchantId}/store-inventory/upsert"
      tags:
      - Catalog
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/catalogs/{catalogId}/output:
    get:
      description: "Output the indicated catalog. Catalogs are only available for\
        \ retrieval when their associated status request\r\nis at a Success status.\r\
        \nProduces application/x-json-stream CatalogProduct json objects (first introduced\
        \ in the 2021-07 version)."
      operationId: GetCatalogOutput
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/x-json-stream:
              schema:
                format: binary
                type: string
          description: Catalog download initiated.
        "204":
          description: Catalog has expired.
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/catalogs/{catalogId}/output"
      tags:
      - Campaign
      x-accepts: application/x-json-stream
  /2026-07/retail-media/catalogs/{catalogId}/status:
    get:
      description: Check the status of a catalog request.
      operationId: GetCatalogStatus
      parameters:
      - description: A catalog ID returned from an account catalog request.
        explode: false
        in: path
        name: catalogId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
          description: Catalog request found.
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/catalogs/{catalogId}/status"
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/categories:
    get:
      description: Endpoint to search categories by text and retailer.
      operationId: CategorySearch_GetApiExternalV1Categories
      parameters:
      - description: The start position in the overall list of matches. Must be zero
          or greater.
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          maximum: 500
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of results to return with each call. Must
          be greater than zero.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The retailer id for which Categories fetched
        explode: true
        in: query
        name: retailerId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Query string to search across Categories
        explode: true
        in: query
        name: textSubstring
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category202204ListResponse'
          description: Categories found.
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: /2026-07/retail-media/categories
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/categories/{categoryId}:
    get:
      description: Endpoint to search for a specific category by categoryId.
      operationId: GetCategory
      parameters:
      - description: ID of the desired category
        explode: false
        in: path
        name: categoryId
        required: true
        schema:
          format: int32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category202204'
          description: Retrieval completed and category is returned.
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/categories/{categoryId}"
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/line-items/{externalLineItemId}/keywords/recommended:
    get:
      deprecated: true
      description: Retrieves a collection of recommended keywords for a line item
      operationId: GetRecommendedKeywords
      parameters:
      - description: The line item identifier
        explode: false
        in: path
        name: externalLineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfRecommendedKeywordsResult'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/line-items/{externalLineItemId}/keywords/recommended"
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/line-items/{id}/keywords:
    get:
      description: Fetch keywords associated with the specified line item
      operationId: FetchKeywords
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsModelResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/line-items/{id}/keywords"
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/line-items/{id}/keywords/add-remove:
    post:
      description: Add or Remove keywords from the line item in bulk
      operationId: AddRemoveKeywords
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRemoveKeywordsModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/line-items/{id}/keywords/add-remove"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/line-items/{id}/keywords/set-bid:
    post:
      description: Set bid overrides for associated keywords to the given line item
        in bulk
      operationId: SetKeywordBids
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetBidsModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOutcome'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/line-items/{id}/keywords/set-bid"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/line-items/{line-item-id}:
    get:
      description: Gets the line item for the given line item id
      operationId: GetLineItemsByCampaignId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemResponse'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/line-items/{line-item-id}"
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/line-items/{line-item-id}/bid-multipliers:
    get:
      description: Fetch all bid multipliers for a given line item
      operationId: GetBidMultipliersByLineItemId
      parameters:
      - description: LineItemId for bid multiplier retrieval
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfLineItemBidMultipliersV2'
          description: BidMultipliers Found
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/line-items/{line-item-id}/bid-multipliers"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the bid multipliers for a given line item
      operationId: UpdateBidMultipliersByLineItemId
      parameters:
      - description: LineItemId for bid multiplier retrieval
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemBidMultipliersV2Request'
        description: New Bid Multipliers to be set
        required: true
        x-bodyName: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemBidMultipliersV2Response'
          description: BidMultipliers Updated
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/line-items/{line-item-id}/bid-multipliers"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/line-items/{line-item-id}/keywords/review:
    post:
      description: Update the status of keyword reviews under a line item
      operationId: UpdateKeywordReviews
      parameters:
      - description: The line item to update keyword review statuses for
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          format: int64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputRetailMediaKeywordsReview'
        description: Request object containing a list of Phrase-ReviewState pairs
          to update
        x-bodyName: keywordReviewSetStateRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeRetailMediaKeywordsReviewResult'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/line-items/{line-item-id}/keywords/review"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/line-items/{line-item-id}/products:
    get:
      description: Retrieve a page of promoted products for a line item
      operationId: FetchPromotedProducts
      parameters:
      - description: "A comma separated list of attribute names from the response\
          \ model to compute and return.\r\n            Valid values are `status`\
          \ and `bidOverride` in any order. Defaults to `status`."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Maximum page size to fetch. Defaults to 500.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: ID of the line item.
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      - description: Offset of the first item to fetch. Defaults to zero.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedProductResourceCollectionOutcome'
          description: Promoted products associated with the line item
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/line-items/{line-item-id}/products"
      tags:
      - Campaign
      x-accepts: application/json
  /2026-07/retail-media/line-items/{line-item-id}/products/append:
    post:
      description: Append a collection of promoted products to a line item
      operationId: AppendPromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResourceOutcome'
          description: Promoted products appended to the line item with warnings
        "204":
          description: Promoted products appended to the line item
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/line-items/{line-item-id}/products/append"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/line-items/{line-item-id}/products/delete:
    post:
      description: Remove a collection of promoted products from a line item
      operationId: DeletePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products removed from the line item
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/line-items/{line-item-id}/products/delete"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/line-items/{line-item-id}/products/pause:
    post:
      description: Pause a collection of promoted products associated with a line
        item
      operationId: PausePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products paused
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/line-items/{line-item-id}/products/pause"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/line-items/{line-item-id}/products/unpause:
    post:
      description: Un-pause a collection of promoted products associated with a line
        item
      operationId: UnpausePromotedProducts
      parameters:
      - description: ID of the line item
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedProductResourceCollectionInput'
        description: "Request body whose {data} contains an array of promoted products."
      responses:
        "204":
          description: Promoted products un-paused
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/line-items/{line-item-id}/products/unpause"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/line-items/{lineItemId}/line-item-budget-overrides:
    get:
      description: Gets a collection of monthly and daily budget overrides for the
        provided line item.
      operationId: GetLineItemBudgetOverrides
      parameters:
      - description: The line item id to get budget overrides for.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/line-items/{lineItemId}/line-item-budget-overrides"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Update line item budget overrides by given external line item id
        and new line item budget overrides settings.
      operationId: UpdateLineItemBudgetOverrides
      parameters:
      - description: Line item external id.
        explode: false
        in: path
        name: lineItemId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfLineItemBudgetOverrides'
        description: New line item budget overrides settings value resource input.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeOfLineItemBudgetOverrides'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
      summary: "/2026-07/retail-media/line-items/{lineItemId}/line-item-budget-overrides"
      tags:
      - Campaign
      x-content-type: application/json
      x-accepts: application/json
  /2026-07/retail-media/me:
    get:
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSummaryModelResponse'
          description: Success
      security:
      - oauth: []
      summary: /2026-07/retail-media/me
      tags:
      - Gateway
      x-accepts: application/json
  /2026-07/retail-media/preferred-line-items/{line-item-id}:
    get:
      description: Gets the preferred line item for the given line item id
      operationId: GetPreferredLineItemsByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Read
      summary: "/2026-07/retail-media/preferred-line-items/{line-item-id}"
      tags:
      - Campaign
      x-accepts: application/json
    put:
      description: Updates the preferred line item for the given line item id
      operationId: UpdatePreferredLineItemByLineItemId
      parameters:
      - description: The given line item id
        explode: false
        in: path
        name: line-item-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemUpdateModelV2Request'
        description: The line item settings to create a line item with
        required: true
        x-bodyName: lineItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
          description: Success
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
[...]
