<?php

// Install Criteo API SDK, via composer for example: `composer require criteo/criteo-api-php-sdk`
// Then import it as follow:
require_once(__DIR__ . '/vendor/autoload.php');

use {{invokerPackage}}\Api\AnalyticsApi;
use {{invokerPackage}}\Model\StatisticsReportQueryMessage;
use {{invokerPackage}}\ClientCredentialsClient;

/*
 * Although the OpenAPI specification, then this generated client, you can't simply use the API key feature.
 * i.e, the next two lines are useless:
 * $config = Criteo\Marketing\Configuration::getDefaultConfiguration()->setApiKey('Authorization', 'YOUR_API_KEY');
 * $config = Criteo\Marketing\Configuration::getDefaultConfiguration()->setApiKeyPrefix('Authorization', 'Bearer');
 *
 * To benefit from automatic token refresh and to avoid setting the correct value for Authorization header for each call,
 * we introduced a wrapper around Guzzle Http client: TokenAutoRefreshClient.
 * If you don't want this feature, use: GuzzleHttp\Client (or simply don't specify any client parameter).
*/

$clientId = 'YOUR_CLIENT_ID';
$clientSecret = 'YOUR_CLIENT_SECRET';

$apiInstance = new AnalyticsApi(new ClientCredentialsClient($clientId, $clientSecret));
        
$stats_query = new StatisticsReportQueryMessage(array(
    'advertiser_ids'=>"11", # Supposing you have the rights to report on this advertiser
    'dimensions'=>["AdsetId"],
    'metrics'=>["Clicks"],
    'start_date'=>"2021-01-01",
    'end_date'=>"2021-10-01",
    'currency'=>"EUR",
    'format'=>"Csv"
));

try {
    $result = $apiInstance->getAdsetReport($stats_query);
    print_r($result);
} catch (Exception $e) {
    echo 'Exception when calling AnalyticsApi->getAdsetReport: ', $e->getMessage(), PHP_EOL;
}
