name: Test Python Generator

on:
  pull_request:
    paths:
      - 'generator/python/**'
      - 'api-specifications/**'
  push:
    branches:
      - 'update-oas-**'   
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set up JDK 1.8
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: temurin

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.9'

      - name: Generate SDKs
        run: ./gradlew :generator:python:generateClient
        shell: bash

      - name: Test SDKs
        run: python ./scripts/test_sdk.py --language python
        shell: bash
        env:
          RETAILMEDIA_TEST_CLIENT_ID: ${{ secrets.RETAILMEDIA_SDK_TEST_CLIENT_ID }}
          RETAILMEDIA_TEST_CLIENT_SECRET: ${{ secrets.RETAILMEDIA_SDK_TEST_CLIENT_SECRET }}
          RETAILMEDIA_TEST_APPLICATION_ID: ${{ secrets.RETAILMEDIA_SDK_TEST_APPLICATION_ID }}
          MARKETINGSOLUTIONS_TEST_CLIENT_ID: ${{ secrets.MARKETINGSOLUTIONS_SDK_TEST_CLIENT_ID }}
          MARKETINGSOLUTIONS_TEST_CLIENT_SECRET: ${{ secrets.MARKETINGSOLUTIONS_SDK_TEST_CLIENT_SECRET }}
          MARKETINGSOLUTIONS_TEST_APPLICATION_ID: ${{ secrets.MARKETINGSOLUTIONS_SDK_TEST_APPLICATION_ID }}
